@media screen and (min-width: 240px) and (max-width:479px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 95%;
    float: left;
    height: auto;
    margin-left: 2.5%;
    margin-top: 30px;
}

.logo_wrapper a img {
    width: 85%;
    height: auto;
}

.usr {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.username {
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submitButton {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}














}

@media screen and (min-width: 480px) and (max-width:500px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.logo_wrapper a img {
    width: 90%;
    height: auto;
}

.usr {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.username {
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submitButton {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/*******25/10/2019 new record*********/

.record_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.request_group li {

     margin-left: 0px;
}
.circle {
    width: 10%!important;
    position: absolute;
    padding-left: 5%;
 }
 .request_group li {
    font-size: 15px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.request_group1 li {
    font-size: 15px;
}











}

@media screen and (min-width: 501px) and (max-width:769px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.logo_wrapper a img {
    width: 90%;
    height: auto;
}

.usr {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.username {
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submitButton {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/*******25/10/2019 new record*********/
.circle {
    width: 10%!important;
 }
 .request_group li {
    font-size: 17px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.request_group1 li {
    font-size: 17px;
}
.request_group {

    height: 90px;
}






}







@media screen and (min-width: 700px) and (max-width:899px){


}

@media screen and (min-width: 900px) and (max-width: 1200px){




}

/*******25/10/2019 new record*********/
.record_section_wrapper {
    width: 90%;
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 30px;
}
/* .cpmpleat_wrapper header {
    background: aliceblue;
} */
 .cpmpleat_wrapper aside {
    width: 305px;
    height: 100vh;
}


.request_group {
    width: 100%;
    height: auto;
}
.request_group {
    width: 100%;
    height: auto;
}
.request_group li {
    font-size: 12px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.group1_rgt{
    text-align: right;
    float: right;
}
.request_group1 li {
    font-size: 12px;
}

.circle {
   width: 10%!important;
}
.circle i {

    font-size: 14px;
    padding: 11px 11px;
}
