@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
	width:100%;
	float:left;
	position:relative;
	overflow-x:hidden;
	font-family:Roboto;
}

.cpmpleat_wrapper{
	width:100%;
	float:left;
	height:auto;
}

.login_section_wrapper{
	width:60%;
	float:left;
	height:auto;
	margin-left:20%;
	margin-top:10px;
}

.logo_wrapper{
	width:100%;
	float:left;
	text-align:center;
}

.logo_wrapper a img{
	width:350px;
	height:auto;
}

.login_form-section {
	width:100%;
	float:left;
	margin-top:50px;
}

/******************** driver login styling ****************/

.usr {
    width: 100%;
    float: left;
    height: auto;
    background: #115478;
    padding: 15px 20px 15px 70px;
    margin-top: 30px;
    border: 1px solid #115478;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    border-radius: 31px;
	outline:none;
	color:#fff;
}

.usr::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.username {
    background: url(../images/user_icon.png);
    background-repeat: no-repeat;
    background-color: #115478;
    background-size: 60px;
}

.pass {
    background: url(../images/pass_icon.png);
    background-repeat: no-repeat;
    background-color: #115478;
    background-size: 60px;
}

.submitButton{
    width: 100%;
    float: left;
    height: auto;
    background: #dabd1a;
    padding: 15px 0px 15px 0px;
    margin-top: 30px;
    border: 1px solid #dabd1a;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    border-radius: 31px;
	outline:none;
	color:#000;
	text-align:center;
	text-transform:uppercase;
}

.register_wrap{
	width:100%;
	float:left;
	text-align:center;
	margin-top:50px;
}

.register{
	background:#ebebeb;
	border-radius:8px;
	color:#176a90;
	font-family:Roboto;
	font-size:17px;
	text-decoration:none;
	padding:14px 34px;
}

.F_pass{
	margin-top:30px;
	color:#176a90;
	font-family:Roboto;
	font-size:17px;
	text-decoration:underline;
	width:100%;
	float:left;
}

.rider_version_enter{
	width:100%;
	float:left;
	background:#115478;
	bottom:0;
	position:absolute;
	padding:10px 20px;
}

.rider_version_enter a{
	font-family:Roboto;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-weight:300;
}

.rider_version_enter a img{
	width:40px;
	height:auto;
	margin-left:30px;
}

/******************** driver registration 01 styling ****************/


.registration_section_wrapper{
	width:60%;
	float:left;
	height:auto;
	margin-left:20%;
	margin-top:10px;
}

.registration_compleate_inner form .reg_fild {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 11px 16px;
    border-radius: 32px;
    border: 1px solid #929292;
    outline: none;
    margin: 0 0 14px 0;
	color:#333;
}

.registration_compleate_inner form .reg_fild::placeholder{
	color:#115478 !important;
	font-weight:300;
}

.registration_compleate_inner form .reg_sub {
    width: 100%;
    float: left;
    background: #115478;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 11px 0;
    border-radius: 30px;
    margin: 5px 0 30px 0;
}

/******************** driver registration 02 styling ****************/

.drp_02_image{
	width:100%;
	float:left;
	margin:30px 0 0 0;
}

.drp_02_image span {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    background: #000;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/user_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.drp_02_image span img {
    height:100%;
	width:auto;
}

.drp_02_image name{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    margin: 10px 0 0 0;
    color: #176a90;
    font-weight: 300;
}

.drp_02_inputs{
	max-width: 700px;
	margin: 0 auto;
	display: block;
}

.drp_02_inputs_container {
    width: 100%;
    float: left;
    padding: 0 10px;
    margin: 0 0 55px 0;
}

.drp_02_inputs_container span{
    width: 100%;
    float: left;
	position:relative;
	margin: 0px 0 0 0;
}

.drp_02_inputs_container span section{
    width: 80px;
	height:80px;
	float:left;
	overflow:hidden;
}

.drp_02_inputs_container span section img{
    width: 100%;
}

.drp_02_inputs_container span p {
    width: 100%;
    float: left;
    color: #176a90;
    font-size: 19px;
    font-weight: 300;
    padding: 0 0 7px 0;
    border-bottom: 1px solid #176a90;
    margin: 13px 0;
}

.drp_02_inputs_container span label {
    width: 100%;
    float: left;
    background: #176a90;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
}

.drp_02_inputs_container span label input[type=file]{
	display:none;
}

.drp_02_submit{
    width: 100%;
    float: left;
    background: #176a90;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
	border:0;
	position:fixed;
	bottom:0;
	left:0;
	letter-spacing: 1.5px;
}

/******************** driver registration 03 styling ****************/

.registration_compleate_inner h2 {
    font-size: 30px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 21px 0px 23px 0;
    font-weight: 300;
    color: #176a90;
}

.registration_compleate_inner form label {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 400;
    font-family: Roboto;
    margin: 0 0 10px 0;
}

.registration_compleate_inner form input[type=file]{
	margin: 0;
}

.picture{
    background-image: url(../images/img_icon.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 42px;
}

.video{
    background-image: url(../images/video.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 42px;
}



/***************driver home******************/
#map{width: 100%;height: 100%;}
.full_page_map_wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 0.3s ease-in-out;
    float: left;
}

.active_full_page_map_wrap{
	margin-left:300px;
}

.full_page_map_wrap iframe{
	width:100%;
	height:100vh;
}

.cpmpleat_wrapper header {
    width: 100%;
    position: relative;
    z-index: 9999;
    top: 0;
    left: 0;
    float: left;
}

.header_inner {
    width: 100%;
    float: left;
    background: #0278b7;
    padding: 12px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.side_bar_btn {
    float: right;
    width: 35px;
    height: 35px;
    background: #fff;
    text-align: center;
    padding: 6px 0 0 0;
    margin: 2px 0px 0 12px;
}

.side_bar_btn i {
    font-size: 25px;
}

.header_inner h2 {
    width: auto;
    float: left;
    margin: 7px 0 0px 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffffff;
}

.cpmpleat_wrapper aside {
    width: 305px;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: -305px;
    background: #115478;
    background-size: cover;
    background-position: right bottom;
    transition: 0.3s ease-in-out;
    overflow: auto;
}

.cpmpleat_wrapper aside::-webkit-scrollbar {
	width: 3px;
}

.active_aside {
	left:0 !important;
}

.nav_side_link {
    width: 100%;
    float: left;
    padding: 0;
    margin: 10px 0px 0 0px;
}

.nav_side_link li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
	position:relative;
}

.nav_side_link li a {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    padding: 6px 0 6px 52px;
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.nav_side_link li i {
    font-size: 17px;
    color: #115478;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
    background: #fff;
    padding: 11px 0 0 0;
    height: 39px;
    width: 39px;
    text-align: center;
}

.rotateIcon{
	transform:scale(.8);
}

.swipe_to_open {
	width:20px;
	height:100vh;
	position:fixed;
	z-index:999;
	background:transparent;
	left:0;
	top:0;
}

.swipe_to_close {
	width:20px;
	height:100vh;
	position:fixed;
	z-index:999;
	background:transparent;
	right:0;
	top:0;
}

.toggleSuitch{
	width: auto;
	float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggleSuitch input:checked + .slider {
  background-color: #176a90;
}

.toggleSuitch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggleSuitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleSuitch b {
    float: right;
    margin: 2px 0px 0 8px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #176a90;
}

.subMenu {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    float: left;
	display:none;
}

.subMenu li a{
	background:none;
    padding: 3px 0 3px 46px;
}

/***************customer notification***************/

.customer_notification_message {
    width: 100%;
    float: left;
    padding: 0px 20px 0px 20px;
    background: #115478;
}

.customer_notification_container {
    width: 100%;
    float: left;
    height: 45vh;
    padding: 63px 0 0 0;
}

.customer_notification_container span{
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.customer_notification_container span img{
    width: 30%;
}

.customer_notification_container span p{
    width: 70%;
    float: right;
    font-size: 25px;
    padding: 2px 0 0 16px;
    margin: 11px 0 0 0;
    color: #fff;
    font-weight: 300;
}

.time_bar{
	width:100%;
	float:left;
	padding:20px 20px;
	background:#e7e7e7;
	color:#115478;
}

.time_bar span{
	max-width:400px;
	margin:0 auto;
	display:block;
}

.time_bar span p b{
	font-weight:300;
}

.time_bar span p{
	width:100%;
	float:left;
	margin:0;
	text-transform:capitalize;
	font-size:18px;
	font-weight:300;
}

.time_bar span p img {
    width: 20px;
    margin: 0 0 0 5px;
}

.address_bar{
	width:100%;
	float:left;
	padding:20px 20px;
}

.address_bar address{
	max-width:400px;
	margin:0 auto;
	display:block;
}

.address_bar address img{
	width:30%;
	float:left;
}

.address_bar p b {
    width: 100%;
    float: left;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 19px;
    margin: 0 0 7px 0;
    text-decoration: underline;
}

.address_bar p {
    width: 70%;
    float: left;
    padding: 10px 0 0 15px;
    font-size: 17px;
    font-weight: 300;
    color: #176a90;
}

.top_map_wrap{
	width:100%;
	float:left;
	height:50vh;
}

.top_map_wrap iframe{
	width:100%;
	height:100%;
}

.pick_details_wrap{
	width:100%;
	float:left;
	padding:15px 15px;
}

.pick_details_wrap p b{
	font-weight:400;
	text-transform:capitalize;
}

.pick_details_wrap p:last-child b{
	width:100%;
	float:left;
	margin:0 0 8px 0;
}

.pick_details_wrap p:last-child{
	border-bottom:0;
}

.pick_details_wrap p{
	width:100%;
	float:left;
	font-weight:300;
	font-size:17px;
	color:#176a90;
	margin:0;
	padding:10px 0;
	border-bottom:1px solid #ddd;
}

/*****************customer pickup**************/

.customer_pickup{
	width:100%;
	float:left;
}

.pick {
    width: 100%;
    float: left;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 17px;
    color: #176a90;
    font-weight: 300;
}

.pick b {
    border-right: 1px solid #333;
    padding: 0 13px 0 0px;
    margin: 0 8px 0 0px;
    font-weight: 500;
}

.confermation_tick {
    width: 100%;
    float: left;
    color: #176a90;
    text-align: center;
    font-size: 18px;
	font-weight: 300;
    margin: 19px 0 19px 0;
}

.confermation_tick img{
	width:25px;
}

.confirm_btn_grup{
	width: 100%;
	float: left;
	padding:15px 15px;
}

.confirm_btn_grup .c_btn_short:first-child{
	border-right: 2px solid #fff;
}

.confirm_btn_grup .c_btn_short{
	width: 50%;
	float: left;
	padding: 12px 5px;
	color: #fff;
	background: #0b3e5f;
	font-size: 17px;
	text-transform: capitalize;
	text-align:center;
}

.confirm_btn_grup .c_btn_short i {
    background: #dddddd;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #333;
    padding: 2px 0 0 0;
    border-radius: 100%;
}

.confirm_btn_grup .c_btn_long{
	width: 100%;
	float: left;
	padding: 15px 5px;
	color: #fff;
	background: #062847;
	font-size: 17px;
	text-transform: capitalize;
	text-align:center;
	margin:3px 0 0 0;
}

.sticky_header{
	width:100%;
	position:absolute;
	background: rgba(255, 255, 255, 0.8);
  padding: 8px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 9999;
}

.sticky_header p{
	width: 100%;
	float: left;
	margin:0;
	font-size:17px;
	color:#176a90;
	font-weight:300;
}

.sticky_header p span{
	width: 100%;
	float: left;
	margin:2px 0;
}

/*********driver complete trip************/

.cash_collect {
    width: 100%;
    float: left;
    color: #176a90;
    text-align: left;
    font-size: 18px;
	font-weight: 300;
    padding:12px 12px;
}

.cash_collect img{
	width:25px;
}

.complete_trip{
    width: 100%;
    float: left;
    color: #176a90;
    text-align: center;
    font-size: 18px;
	font-weight: 300;
    padding:12px 12px;
	margin:30px 0;
}

.complete_trip span{
    width: 100%;
    float: left;
	margin:0 0 10px 0;
}

.complete_trip span img{
	width:55px;
}

/***************rider rating***************/



.leave_rating {
    width: 100%;
    float: left;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 17px;
    color: #176a90;
    font-weight: 300;
	text-align:center;
}

.rider_info{
	width:100%;
	float:left;
	margin:20px 0 5px 0;
}

.rider_info span{
	width:100px;
	height:100px;
	display:block;
	margin:0 auto;
	overflow:hidden;
	border-radius:100%;
	text-align:center;
	background:#ccc;
}

.rider_info span img{
	height:100%;
	width:auto;
}

.rider_info name{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;
	color:#176a90;
	margin:10px 0 0 0;
}

.rating_star_wrap {
	width:100%;
	float:left;
	text-align:center;
	margin:12px 0;
	padding:12px 0 0 0;
	border-top:1px solid #ccc;
}

.clear-rating{
	display:none !important;
}

.rating_star_wrap b{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;
	text-transform:capitalize;
	font-weight:300;
	color:#176a90;
	margin:0 0 12px 0;
}

.rating_star_wrap a{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px;
	text-transform:capitalize;
	font-weight:300;
	color:#176a90;
	margin:5px 0 12px 0;
}

.payment_wrap {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 40%;
    position: relative;
}

.request {
    width: 100%;
    float: left;
    font-size: 17px;
    font-weight: 300;
    color: #176a90;
    text-decoration: underline;
    margin: 0 0 35px 0;
}

.amount {
    font-size: 20px;
    font-weight: 300;
    color: #176a90;
    border: 1px dashed #176a90;
    text-decoration: none;
    padding: 13px 40px;
}


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*************25/10/2019 request_record*******************/
.request_content{
    width: 100%;
    height: 182px;
    border: 1px solid #858585;
    border-radius: 15px;
    margin-top: 30px;
}
.request_group{
    width: 100%;
    height: 80px;
    /* background: #115478; */
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #858585;
    padding: 10px 10px;
    float: left;
}
.request_group ul{
    padding: 0;
}
.request_group li {
    list-style: none;
    text-decoration: none;
    color: #000;
    display:inline-block;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    margin-left: 5px;
    word-break: break-all;
}
.request_group li a{
    list-style: none;
    text-decoration: none;
    color: #176a90;

}
 /* .circle{
    width: 40px;
    height: 40px;
    background: #115478;
    border-radius: 50px;
    text-align: center;
} */
.circle i{
    color: #ffffff;
    font-size: 16px;
    padding: 11px 11px;
    background: #115478;
    border-radius: 50px;
}
.group_rgt{
    text-align: right;
    float: right;
}
.group1_rgt{
    text-align: left;
    float: right;
}
.request_group1 ul{
    padding: 0;
}
.request_group1{
    width: 100%;
    height: 80px;
    /* background: #115478; */
    border-radius: 15px 15px 0px 0px;
    padding: 10px 10px;
    float: left;
}
.request_group1 li {
    list-style: none;
    text-decoration: none;
    color: #176a90;
    display:inline-block;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    margin-left: 6px;
}
.request_group1 li a{
    list-style: none;
    text-decoration: none;
    color: #fff;

}
.group1_inner ul{
    padding: 0;
    margin-top: 5px;
}
.group1_inner li{
    display: block;
    margin: 0;
}
.record_section_wrapper h2 {
    width: 100%;
    float: left;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 300;
    color: #fff;
    text-align: center;
	margin: 0;
    padding: 12px 0;
}
.to_rgt b{
float: right;
}

.file_size_declare{
	position: relative;
}

.file_size_declare:after {
    content: '*max 5 mb';
    position: absolute;
    color: #ec1d1d;
    font-size: 12px;
    font-weight: 500;
    right: 50px;
    top: 0;
}

.request_group li {
    font-size: 16px !important;
    width: 100% !important;
    float: left;
    text-align: left !important;
    margin: 7px 0px;
	color: #fff !important;
}

.request_group li a{
	color: #fff !important;
}

.request_content .circle i {
    color: #115478;
    font-size: 16px !important;
    background: #fff;
    border-radius: 24px;
    width: 100%;
    text-align: center;
}

.request_content {
    width: 100%;
    height: auto;
    border: 1px solid #115478;
    border-radius: 0;
    margin-top: 30px;
    float: left;
    background: #115478;
}

.header_inner p {
    width: 80%;
    float: left;
    color: #fff;
    font-size: 11px;
}

.header_inner p span {
    width: 100%;
    float: left;
    margin: 2px 0px 0px 0;
}

.headMain{
    width: 100%;
    float: left;
	margin: 20px 0px -20px 0;
	text-align: center;
	font-family: roboto;
	font-size: 30px;
	text-transform: capitalize;
}











