
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*HERE GOES TO FONT STYLE*/
@font-face {
    font-family: 'Gothambold';
    src: url('../fonts/gotham-bold-1361523260.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-bold-1361523260.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-bold-1361523260.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-bold-1361523260.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

@font-face {
    font-family: 'Gothammedium';
    src: url('../fonts/gotham-medium-1361523254_0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-medium-1361523254_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-medium-1361523254_0.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-medium-1361523254_0.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
}
.s_message {
   background: #28c87b;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

.e_message {
    background: #e73939;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;

}
/* alert Box css Start here */
.wrapper {
    min-height: 100%;
    overflow: hidden !important;
    position: relative;
    background-color: #000;
}
.overlay {
    opacity: 1 !important;
    display: block !important;
    z-index: 50000 !important;
    background: #fff !important;
}
.confirmBox {
    display: none;
    background-color: #fff;
    border: 1px solid #aaa;
    position: fixed !important;
    width: 50%;
    margin: 0 auto;
    left: 25%;
    margin-left: -150px;
    top: 25%;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 12px;
    z-index: 5000;
    cursor: default;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.23);
}
.confirmBox .alert_header {
    background: rgb(82,183,165);
    background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(61,170,255,1) 76%);
    background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%);
    background: linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c876', endColorstr='#20a3fa', GradientType=1 );
    display: block;
    text-align: center;
    padding: 18px 0;
}
.confirmBox .confirm_msg {
    padding: 25px 0;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.confirm_button_container {
    text-align: center !important;
}
.confirm_button_container .buttonSbmit {
    float: none !important;
    display: inline-block !important;
    margin-right: 25px !important;
    width: 193px !important;
}
.confirm_button_container .buttonSbmit {
    float: none !important;
    display: inline-block !important;
    margin-right: 25px !important;
    width: 193px !important;
}
.caution_container {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #90a4ae;
    font-weight: 700;
    display: inline-block;
    font-size: 14px;
}
div.fadeMe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=60);
    z-index: 5;
    pointer-events: none;
    cursor: default;
}
/* alert Box css ends here */







.noPadding{
  padding-left: 0;
  padding-right: 0;
}
.container_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.main_header{
    width: 100%;
    float: left;
    z-index: 3;
    height: 93px;
    padding: 0px 20px 0px 20px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b7a5+19,3daaff+76 */
    background: rgb(82,183,165); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(61,170,255,1) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.logo-lg{
    display: inline-block;
    margin-top: 6px;
}
.logo-lg img{
    width: 135px;
}

.content_pannel {
    width: 100%;
    float: left;
    padding: 40px 45px 100px 60px;
    background: #f3f5f7;
    /* margin-top: 80px; */
}
.ContainerList {
    float: left;
    width: 100%;
    position: relative;
}
.contentHeader {
    border-bottom: 1px solid #cad7de;
    padding: 23px 0;
    float: left;
    width: 100%;
}


.header_left{
    float: left;
}
.header_right{
    float: right;
}
.navbar-right{
    /* float: none !important; */
    margin-right: 25px;
}
.nav-toggle {
    width:40px;
    height:32px;
    background: url("../_newimages/menu_icon.png") no-repeat center center;
    background-size: cover;
    text-align:center;
    float: right;
    cursor: pointer;
    margin-top: 25px;
}

.icon-close {
    background: url("../_newimages/close_icon.png");
    width:24px;
    height:19px;
    background-size: 100%;
    text-align:center;
    float: left;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    transition:  all ease-in-out 0.1s;
}


.scroll_container{
    overflow-y: auto;
    height: 560px;
    width: 100%;
    float:left;
}
.menu{
    right:-285px;
    padding-top: 0;
    height:100%;
    position: fixed;
    width: 285px;
    z-index: 3;
    top: 0;
    background-color: #2b2b2b;
    overflow: hidden;
}
.menu ul {
    border-top: 1px solid #202020;
    list-style: none;
    margin: 0;
    padding: 0px 0 0 0;
    float: left;
    width: 100%;
}

.menu li {
    border-bottom: 1px solid #202020;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 38px;

}
.menu li a{
    color:white;
    display: block;
/*    background-color: #2b2b2b;*/
    background-color: #494949;
    padding: 3px 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu li a:hover{
/*    background: #4a4a4a;*/
    background: #2d2d2d;
}
.navbar-nav>li>a{
    color: #fff;
}
.navbar-nav>li>a:hover{
    background-color: #1a83d5 !important;
    color: #fff;
}
.sub_ul{
  display: none;
}
.sub_ul li a{
background: #323232;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #1a83d5 !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #1a83d5 !important;
    border-color: #1a83d5!important;
}
.Heading02 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 4px 0;
    padding: 0;
    color: #606468;
    text-transform: capitalize;
}

.Heading03 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #191c1f;
/*    text-transform: capitalize;*/
}
.Heading04 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 28px;
    margin: 15px 0;
    padding: 10px 0;
    color: #44A190;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}
.Heading05 {
    font-family: 'Gothammedium';
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-transform: capitalize;
    background: #52B7A5;
}
.Heading06 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #474747;
    text-transform: capitalize;
}
.Heading07 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin: 2px 0 4px;
    padding: 0;
    color: #28c87b;
}
.Heading08 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #191c1f;
    text-transform: capitalize;
}
.Iconheading {
    margin-right: 5px;
}

.pageheadingContainer {
    float: left;
}
.ContainerSearchBox {
    float: left;
    display: inline-block;
    padding-left: 15px;
}
.ContainerSearchBox input[type="text"] {
    background: transparent url("../images/search-icon.png") no-repeat scroll 17px center;
    border: 2px solid #90a4ae;
    border-radius: 10em;
    height: 55px;
    padding: 9px 10px 9px 42px;
    transition: all 0.2s ease 0s;
    width: 55px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300!important;
}
.Contanier_Select{
    text-align: right;
    float: right;
}
.Selectbox {
    display: inline-block;
    margin-left: 0;
    margin-top: 16px;
    float: none;
    margin-right: 30px;
}
.label-form {
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.linkbuttoncontainer {
    text-align: right;
    float: right;
}
.SelectDropContainer {
    width: auto;
    display: inline-block;
}
.dropselect03 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/Drop_arrow03.png") no-repeat scroll right center;
    cursor: pointer;
    border: 0;
    width: 100%;
    font-size: 14px;
    color: #90a4ae;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.linkbuttoncontainer {
    text-align: right;
    float: right;
    clear: right;
    display: inline-block;
}
.AddLinkButton {
    background: #52B7A5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    display:block;
    /* display: inline-block; */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 2px solid #52B7A5;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.AddLinkButton::after {
    content: "";
    background: url(../images/plusIcon.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    left: 32%;
}
.ContainerSearchBox input[type="text"]:hover {
    background-color: #fff;
}
.ContainerSearchBox input[type="text"]:focus {
    /*	width: 430px;*/
    width: 100%;
    padding-left: 40px;
    color: #000;
    font-size: 16px;
    background-color: #fff;
    cursor: auto;
    outline: none;
}
.containerHeading {
    float: left;
    display: inline-block;
    padding-top: 10px;
}
.rowContent {
    margin-top: 35px;
    float: left;
    width: 100%;
}
.rightContainer {
    padding: 35px 50px;
    float: left;
    width: 100%;
    background: #fff;
    border-top: 5px solid #20a5f8;
}
.rowContent_left{
    float: left;
}
.rowContent_right{
    float: right;
    text-align: center;
}
.heading_container{
    margin-top: 10px;
}

.buttoncontainer03{
    float: right;
    margin-top: 10px;
}
.mange_works .buttoncontainer03 {
    float: left;
    margin-top: 0;
}

.buttoncontainer04{
    float: right;
    /* margin-top: 10px; */
    margin: 10px 2px 0;
}
.Stats {
    width: auto;
    padding-top: 24px;
    float: left;
}
.Stats i{
    font-size: 20px;
    margin-right: 5px;
    color: #72838b;
}
.StatsContent {
    float: left;
    /*    padding: 0 23px 8px 23px;*/
    padding: 40px 40px 20px 40px;
    text-align: center;
    width: auto;
    border-right: 1px solid #cad7de;
    background: #e9eff4;
}
.StatsNumber {
    /*    font-size: 50px;*/
    font-size: 40px;
    line-height: 50px;
    color: #72828F;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.StatsText {
    display: block;
    font-size: 13.61px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: inherit;
    color: #3a4850;
    line-height: 24px;
    border-top: 3px solid #b2c0c8;
}
.StatsText3 {
    display: block;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: #82929b;
    line-height: 24px;
    padding: 10px 12px 0;
}
.Ads_Block_container{
    width: 200px;
    height: auto;
    float: none;
}
.linkContent02 {
    background: #52B7A5;
    border-radius: 50px;
    height: auto;
    padding: 6px 15px;
    width: 100%;
    float: left;
    clear: left;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 8px;

}
.TextBtn01 {
    margin-left: 0px !important;
    float: right !important;
}
.Text02 {
    display: inline-block;
    margin-right: 3px;
    float: left;
}

.Ads_Block_container h4{
    margin: 0px 0 10px;
}
.rowContent_right .Ads_Block {
    text-align: center;
    width: 200px;
    height: auto;
    border: 2px solid #B8CAD8;
    position: relative;
    float: left;
    display: inline-block;
    transition: all ease-in-out 0.3s;
}
.rowContent_right .CountPrice {
    display: block;
    color: #7d8f98;
    font-size: 16px;
    padding: 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}
.rowContent_right .CountLevel {
    display: block;
    background: #B8CAD8;
    text-transform: uppercase;
    font-size: 16px;
    color: #191919;
    padding: 8px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}


.rightbuttoncontnr {
    float:none;
    width: 140px;
    margin:17px auto;
    display: inline-block;
}
.packages_container02{
    width: 802px;
    margin: 45px auto 220px;
    text-align: center;
    overflow: hidden;
}
.buttonMargin {
    margin-left: 0;
}
a.Button07 {
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #98abb4;
    font-size: 12px;
    padding: 10px 18px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: auto;
    border: 2px solid #98abb4;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
.settings-icon::before {
    background-image: url("../_newimages/settingsIcon2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
    left: -2px;
    background-size: cover;
}
a.Button07:hover .settings-icon::before{
    background-image: url("../_newimages/hoversettingsIcon.png");
}
.Button07:hover {
    background: transparent;
    color: #52B7A5;
    border: 2px solid #52B7A5;
    text-decoration: none;
}
a.Button08, .Button08 {
    background: #52B7A5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: auto;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
a.Button08:hover, .Button08:hover{
    background: #339E8B;
    color: #fff;
}

a.Button09, .Button09 {
    background: #3DAAFF;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: auto;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
a.Button09:hover, .Button09:hover{
    background: #228BDD;
}

a.Button10 {
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fb262d;
    font-size: 14px;
    border: 2px solid #fb262d;
    padding: 7px 24px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
a.Button10:hover{
    border: 2px solid #98abb4;
    background: #f1f1f1;
}
.deleteIcon{
color: #FFF;
font-weight: 300;
font-size: 16px;
}
.deleteIcon::before {
    background-image: url("../_newimages/deletecon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 19px;
    width: 18px;
    top: 3px;
    position: relative;
}

.ListDataContainer {
    float: left;
    width: 100%;
}
.AddFieldContainer {
    background: #192028;
    padding: 27px 30px 20px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.textfieldContainer {
    width: auto;
    float: left;
}

.textaddfiled {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #7d8f98;
    margin-top: 9px;
    display:inline-block;
}
.settingsicon02 {
    height: 20px;
    width: 20px;
    display: inline-block;
    top: -2px;
    left: 2px;
    position: relative;
}
.rightcolHeadingToggle {
    float: right;
    width: 490px;
}
.Stats02 {
    width: auto;
    padding-top: 0;
}
.StatsContent02 {
    float: left;
    padding: 0 25px 8px 25px;
    text-align: center;
    width: auto;
    border-right: 1px solid #cad7de;
}
.Stats02 .StatsNumber {
    font-size: 37.32px;
    color: #96a9b3;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.Stats02 .StatsText {
    font-size: 12px;
    color: #96a9b3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-top: 0;
}
.Accounttoggledrp099 {
    width: 74%;
    float: right;
    text-align: center;
}
.mb_btn_margin{
    display: inline-block;
    margin: 15px 5px;
}
a.Button11, .Button11 {
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 11px 30px 11px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 1px solid #20a5f7;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
a.Button11:hover, .Button11:hover{
    background: #3DAAFF;
}
.buttonToggle {
    display: inline-block;
    margin-left: 35px;
}
.switch-to-up-arrow {
    background-image: url("../_newimages/arrowdownIcon.png");
    height: 17px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
}

.UploadLogoContainer02 {
    border: 2px solid #b4cbd6;
    float: left;
    height: 123px;
    position: relative;
    text-align: center;
    width: 190px;
    margin-right: 20px;
}
.UploadLogoContainer02 a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.UploadLogoContainer02 a img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 119px;
    max-height: 119px !important;
    max-width: 190px !important;
}
.UploadLogoContainer02 a:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    -webkit-transition:  all ease-in-out 0.2s;
    -moz-transition:  all ease-in-out 0.2s;
    transition:  all ease-in-out 0.2s;
}
.UploadLogoContainer02 a:hover:before{
    background: rgba(0,0,0,0.6);
}
.UploadLogoContainer02 a:after{
    position: absolute;
    content: "";
    background: url("../_newimages/zoom_icon.png") no-repeat center center;
    width: 80px;
    height: 80px;
    z-index: 3;
    top: 19%;
    left: 30%;
    opacity: 0;
    -webkit-transition:  all ease-in-out 0.2s;
    -moz-transition:  all ease-in-out 0.2s;
    transition:  all ease-in-out 0.2s;
}
.UploadLogoContainer02 a:hover:after{
    opacity: 1;
}

.textdate {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #90a4ae;
    line-height: 28px;
}
.checking_list_container{
    border: 1px solid #B4CBD6;
    float: left;
    width: 100%;
    padding: 16px 5px 12px;
    margin: 10px 0;
}


.container-form{
    width: 100%;
    float: left;

}
.full-col{
    width: 100%;
    float: left;
    margin-bottom: 23px;
}
.left-col{
    width: 47%;
    float: left;
    margin-bottom: 23px;
}
.right-col{
    width: 47%;
    float: right;
    margin-bottom: 23px;
}

.container-form .form-control {
    background-color: #fff;
    border: 2px solid #b4cbd6;
    border-radius: 0px;
    box-shadow: none;
    color: #6e6e6e !important;
    display: block;
    font-size: 18px;
/*    text-transform: capitalize;*/
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.42857;
    padding: 6px 12px 6px 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-form .form-control:focus{
    color: #191c1f;
}

.container-form .form-control::-webkit-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control::-moz-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-ms-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-moz-placeholder {
    color: #6e6e6e;
}

.label-form{
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.symbolcolor{
    color: #21abe2;
    display: inline-block;
    margin-right: 5px;
}

.SelectContainer{
    width: 100%;
    float: left;
    margin-right: 37px;
}

.dropselect{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../_newimages/Drop_arrow.png) center right no-repeat;
    cursor: pointer;
}
.dropselect option{
    text-transform: capitalize;
    color: #666 !important;
    background: #fff;
}

.submitbuttonContainer{
    display: block;
    margin-top: 27px;
}
.buttonSbmit {
    float: right;
    width: 145px;
}
.submitButton{
    background: #115478;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
.submitButton:hover{
    background: #062847;
    color: #fff;
}

.submitButton1{
    background: #52B7A5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}
.submitButton1:hover{
    background: #339E8B;
    color: #fff;
}
.radio_container{
    display: inline-block;
    position: relative;
}

.formFields input[type="checkbox"]:not(old), .formFields input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    cursor: pointer;
}




.formFields input[type=radio   ]:not(old) + label{
    background: rgba(0, 0, 0, 0) url("../_newimages/radio.png") no-repeat scroll 0 0 ;
    color: #7d8f98;
    display: inline-block;
    font-weight: normal;
    line-height: 32px;
    padding-left: 35px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;

}
.formFields input[type=radio]:not(old):checked + label{
    background-position : 0 -32px;
}
textarea.form-control {
    height: auto !important;
}

.left_col {
    padding-left: 0;
}
.right_col {
    padding-right: 0;
}
.Stats_charts_container{
    width: 100%;
    float: left;
    text-align: center;
    background: #E9EFF4;
    margin-top: 15px;
}

.Stats_charts_container img{
    width: 100%;
}

.no_padding_left {
   padding-left: 0 !important;
}

.no_padding_right {
    padding-right: 0 !important;
}

.chartContainer {
    width: 100%;
    height: 500px;
}


.stats_heading{
    margin: 0;
    padding: 0 0 10px;
}
.button_setting{
    padding: 10px 46px !important;
}

.Button06{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #77909c;
    font-size: 14px;
    padding: 15px 30px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 2px solid #869ca7;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button06:hover{
    background: transparent;
    color: #3DAAFF;
    border: 2px solid #3DAAFF;
    text-decoration: none;
}
.mange_works .Button06{
  padding: 10px 30px 10px;
}
.Button06back{
    border: 2px solid #b4cbd6;
    color: #98abb4;
}
.topButtonset {
    float: left;
    width: auto;
}
.mange_works .topButtonset {
    float: left;
    width: auto;
    margin-left: 5%;
}
.buttonMargin {
/*    margin-left: 16px;*/
}

.edit_photo_container{
position: relative;
width: 158px;
height: 155px;
float: left;
margin-right: 30px;
}
.edit_photo_container img{
  max-width: 100%;
}
.icon_delete_container{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.icon_delete_container .icons{
    width: 60px;
    margin: auto;
    display: inline-block;
    margin-top: 4px;
}

.icon_link{
  color: #fff;
  border: 2px solid white;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50px;
  line-height: 20px;
  margin: 0 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
/*  float: left;*/
}
.icon_link input{
  display: inline-block;
}
.icon_link label{
  margin-bottom: 0px;
  padding-left: 2.2px;
  line-height: 20px;
}
.icon_link:hover{
  color: #1A83D5;
  border: 2px solid #1A83D5;
}
.right__header {
  text-align: right;
}
.right__header .topButtonset{
    float: none !important;
    width: auto;
}



/*********************************/
/***** Checkin Report Styles *****/

.content {
    margin-top: 25px;
}
.content_left {
    width:25%;
    min-height: 600px;
    float:left;
}
.content_right {
    width:75%;
    min-height: 600px;
    float:right;
}
.content_left_list {
    width:100%;
    height:600px;
    overflow-y: hidden;
    overflow-x: visible !important;
    position: relative;
    border: 1px solid #51B6AB;
    border-right: none;
}
.content_left_list_items {
    min-height:40px;
    padding:8px 9px 6px 9px !important;
    cursor:pointer;
    line-height:22px;
    border-top:1px solid #51B6AB;
    width:100%;
}
.content_left_list_items label {
    cursor: pointer;
    color: #51B6AB;
}
.content_left_list_items:first-child {
    border-top:none !important;
}
.list_item_hover {
    background-color: #b8f2ed;
/*    border-left: 1px solid #51B6AB;*/
}
#google_canvas {
    height: 599px;
    min-width: 700px;
    border:1px solid #51B6AB;
}
.popup_map {
    height: 200px;
    width: 100%;
}
.image_container{
 /*   width: 294px;
    height: 126px;*/
    width: 100%;
    position: relative;
}
.image_container img{
    width: 100%;
    height: 100%;
}

.width_container{
    width: 100%;
    float:left;
}
.width_container_hei{
    width: 149px;
    margin: 10px auto 10px auto;
    background-color: #ccd6dd;
    height: 1px;
}
.download_icon {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: -25px;
    position: relative;
    margin-right: 1px;
    cursor: pointer;
}
.download_icon a:focus {
    outline: none;
}

.details_zipscities_section{
    width: 100%;
    float: left;
    padding: 3px 30px 99px 34px;
}
.details_top_markets{
    width:700px;
    height:auto;
    float:left;
    background-color:#ffffff;
}
.details_top_markets:nth-child(0n+2){
    margin-right: 0px;
}
.zipscities_header_section{
    width:100%;
    float:left;
/*    padding:18px 38px 16px 26px;*/
    padding:0 0 16px 0;
    border-bottom:1px solid #dadada;
}
.zipscities_content_section{
    width: 50%;
    float: left;
/*    padding: 24px 31px 27px 26px;*/
    padding: 24px 0 27px 0;
}
.zipscities_content_section .slideImage {
    width: 100%;
}
.zipscities_content_section .slideImage img {
    width: 100% !important;
}
.zipscities_bottom_section{
    width:100%;
    float:left;
    background-color:#292c35;
    height:65px;
    text-align: center;
}
.zipscities_map_section {
    width:100%;
    float:left;
/*    padding:18px 38px 16px 26px;*/
    border:1px solid #dadada;
}
.zipcities_header_text{
    color:#2f3132;
    font-size:15px;
    font-family: 'Open Sans';
    font-weight: 700;
    float:left;
    text-transform:uppercase;
    letter-spacing: 1.2px;
}
.zipcities_header_icon{
    float:right;
}
.details_zip_bt {
    color: #c0c2c3;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 135px;
    border: 2px solid #8198cc;
    padding: 9px 0px;
    border-radius: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin: 13px auto 14px auto;

    display:inline-block;
}
.details_zip_bt a {
    color: #feffff;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
}
.details_zip_bt a:hover {
   text-decoration:none;
}
.details_content_parent{
    list-style:none;
    padding:0 25px 0 0;
}
.details_content_parent div{
  margin: 6px 0;
  float: left;
}
.serial_number{
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 110px;
    float: left;
/*    border: 1px solid red;*/
}
.list_number{
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 15px;
    float: left;
    width: 180px;
    min-height: 20px;
/*    border: 1px solid red;*/
}

.details_content_parent li{
    padding-bottom: 18px;
    float: left;
    width: 320px;
}

.slider_arrow {
    margin-top: -43px;
    margin-bottom: 0px;
}

.slider_arrow li{
    list-style-type: none;
    display:inline;
}

.right{
    margin-left: 289px;
    position: relative;
    top: 108px;
}

.left{
    margin-left: -27px;
    position: relative;
    top: 108px;
}

.left_popup {
    margin-left: 5px;
    position: relative;
    top: 108px;
    list-style: none;
}
.right_popup{
    margin-left: 230px;
    position: relative;
    top: 92px;
    list-style: none;
}

/*********************************/
/******* Infobubble Styles *******/
.infobubble_container {
    min-width: 100px;
    padding: 12px 8px;
    text-align: center;
    margin-top: 18px;
}

.bubble_container {
    width: 100% !important;
}

.dealer_name{
    font-weight: 700;
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.dealer_address{
    font-size: 12px;
    color: #333333;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

a.dealer_contact{
    background: #1c1c1c;
    padding: 7px 20px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}

.column__right{
    text-align: right;
}

.column__right .topButtonset {
    float: none;
    display: inline-block;
    overflow: hidden;
    margin-left: 15px;
}

.container_message{
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: left;
}

#ui-datepicker-div {
    z-index: 3 !important;
}
.custm_tbl{
    width:100%;float:left;
}
.custm_tbl table{
    width:100%;float:left;
}
.custm_tbl table thead th{
    padding: 15px 10px;
    font-size: 18px;
    color: #1896c0;
}
.custm_tbl table td{
  padding: 15px 10px;
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 300;
}

.container__radio{
  position: relative;
}

.dropdown_chart_container{
  display: none;
}

.active_color {
    color: #28c87b !important;
    font-weight: 600;
}

.inactive_color {
    color: #e73939 !important;
    font-weight: 600;
}

#price_show {
    display: none;
    border-radius: 3px;
    border: 2px solid #52B7A5 !important;
    width: 50%;
    margin: 25px auto;
    text-align: left;
    padding: 18px;
    height: auto;
    float: none;
    overflow: hidden;
}

.promo_msg {
    display: block;
    width: 100%;
    float: left;
}

.common_alert {
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.common_alert img {
    vertical-align: top !important;
}

.coupon_applied {
    border: 1px solid #51B6AB;
    padding: 5px;
}







@media (min-width: 1600px) and (max-width: 2400px){
  .topButtonset {
      float: left;
      width: auto;
      margin-left: 15px;
  }
  .rightcolHeadingToggle {
    float: right;
    width: 490px;
    text-align: center;
}
.mange_works .topButtonset {
  float: none;
width: auto;
margin-left: 15px;
}
.Accounttoggledrp099{
  text-align: center;
}
}


@media (min-width: 992px) and (max-width: 1199px){
    .AddFieldContainer{
        padding: 27px 15px 20px;
    }
    .Ads_Block_container{
        margin: auto;
    }
    .buttoncontainer04{
        margin: 5px;
    }
    .no_padding_left {
        padding-left: 0;
        padding-right: 0;
    }
    .no_padding_right {
        padding-left: 0;
        padding-right: 0;
    }
    .left_col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .right_col {
        padding-left: 0;
        padding-right: 0;
    }

    .Contanier_Select {
        text-align: right;
        float: left;
        width: 35%;
    }
    .Selectbox{
        float: left;
    }
    .StatsContent{
        padding: 50px 65px 50px 65px;
    }
    .rightbuttoncontnr{
        width: 280px;
        display: block;
        overflow: hidden;
    }
    .linkContent02{
        margin-bottom: 8px;
    }
    .packages{
      margin-bottom: 15px;
    }
    .packages_container02 {
        width: 100%;
    }
    .packages_container02 .Ads_Block{
        width: 200px;
    }
    .left_btn_content_sec{
      text-align: center;
    }
    .Accounttoggledrp099{
      text-align: right;
    }
    .rightcolHeadingToggle {
    float: right;
    width: 470px;
}
#google_canvas{
  min-width: 100%;
}

}
@media (min-width: 768px) and (max-width: 991px){
    .content_pannel {
        padding: 40px 20px 100px 20px;
    }
    .rightContainer{
        padding: 35px 30px;
    }
    .rowContent_right .Ads_Block{
        width: 183px;
    }
    .AddFieldContainer{
        text-align: center;
    }
    .textfieldContainer {
        width: 100%;
        float: left;
    }
    .rightcolHeadingToggle{
        text-align: center;
        width: 77%;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .Accounttoggledrp099 {
        width: auto;
        float: none;
        display: inline-block;
    }
    .Ads_Block_container{
        margin: auto;
        width: 185px;
    }
    .buttoncontainer04{
        margin: 5px;
    }
    .no_padding_left {
        padding-left: 0;
        padding-right: 0;
    }
    .no_padding_right {
        padding-left: 0;
        padding-right: 0;
    }
    .left_col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .right_col {
        padding-left: 0;
        padding-right: 0;
    }
    .Contanier_Select {
      text-align: right;
      float: right;
      width: auto;
    }
    .Selectbox{
        float: left;
    }
    .StatsContent{
        padding: 30px 42px 30px 42px;
    }
    .rightbuttoncontnr{
        width: 280px;
        display: block;
        overflow: hidden;
    }
    .linkContent02{
        margin-bottom: 8px;
    }
    .packages_container02 {
        width: 100%;
    }
    .packages_container02 .Ads_Block{
        width: 270px;
        margin: 10px auto;
        float: none;
    }
    .left_btn_content_sec{
      text-align: center;
    }
    .mange_works .topButtonset{
      margin-top: 0;
      margin-left: 5px;
    }
    .column__right {
    text-align: center;
    }
    .heading_container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
#google_canvas{
  min-width: 100%;
}
}

@media (min-width: 600px) and (max-width: 767px){
    .main_header{
        padding: 0px 10px 0px 10px;
        height: 70px;
    }
    .logo-lg img {
        width: 100px;
    }
    .nav-toggle{
        margin-top: 22px;
        width: 30px;
        height: 25px;
    }
    .content_pannel {
        padding: 40px 0px 100px 0px;
    }
    .rightContainer{
        padding: 35px 20px;
    }
    .rowContent_right .Ads_Block{
        width: 183px;
    }
    .AddFieldContainer{
        text-align: center;
    }
    .textfieldContainer {
        width: 100%;
        float: left;
    }
    .rightcolHeadingToggle{
        text-align: center;
        width: 100%;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .pageheadingContainer{
      width: 100%;
      text-align: center;
    }
    .containerHeading {
    float: left;
    display: block;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.contentHeader .Heading03{
    margin: 10px 0;
    text-align: center;
}
.Heading03{
    text-align: center;
}
.ContainerSearchBox {
    float: left;
    display: block;
    padding-left: 15px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ContainerSearchBox input[type="text"] {
    width: 350px;
    margin: auto;
}
.ContainerSearchBox input[type="text"]:focus {
    width: 350px;
}
    .Stats {
        width: 100%;
        padding-top: 24px;
        float: left;
    }
    .Accounttoggledrp099 {
        width: auto;
        float: none;
        display: inline-block;
    }
    .rowContent_right {
        float: right;
        text-align: center;
        margin-top: 30px;
    }
    .MBAddbuttonCustorm .buttoncontainer03 {
        float: right;
        margin-top: -33px;
    }
    .Ads_Block_container{
        margin: auto;
        width: 185px;
        overflow: hidden;
    }
    .buttoncontainer04{
        margin: 5px;
    }
    .no_padding_left {
        padding-left: 0;
        padding-right: 0;
    }
    .no_padding_right {
        padding-left: 0;
        padding-right: 0;
    }
    .left_col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .right_col {
        padding-left: 0;
        padding-right: 0;
    }
    .Contanier_Select {
        text-align: right;
        float: right;
        width: auto;
    }
    .Selectbox{
        float: left;
    }
    .StatsContent{
        padding: 40px 55px 20px 55px;
        float: none;
        width: 250px;
        border-right: 0;
        margin: 10px auto;
    }
    .packages_container02 {
        width: 100%;
    }
    .packages_container02 .Ads_Block{
        width: 270px;
        margin: 10px auto;
        float: none;
    }
    .LogoContainer img {
        width: 110px !important;
    }
    .left_btn_content_sec{
      text-align: center;
    }
    .mange_works .topButtonset{
      margin-top: 15px;
      margin-left: 0;
    }
    .column__right .topButtonset {
    float: none;
    margin-top: 0px;
}
.column__right {
    text-align: center;
}
.dropdown_chart_container{
  display: block;
}
}

@media (min-width: 480px) and (max-width: 599px){
    .main_header{
        padding: 0px 10px 0px 10px;
        height: 70px;
    }
    .logo-lg img {
        width: 100px;
    }
    .nav-toggle{
        margin-top: 22px;
        width: 30px;
        height: 25px;
    }
    .content_pannel {
        padding: 40px 10px 50px 10px;
    }
    .rightContainer{
        padding: 35px 15px;
    }
    .rowContent_right .Ads_Block{
        width: 183px;
    }
    .AddFieldContainer{
        text-align: center;
    }
    .textfieldContainer {
        width: 100%;
        float: left;
    }
    .rightcolHeadingToggle{
        text-align: center;
        width: 100%;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .pageheadingContainer{
      width: 100%;
    }
    .containerHeading {
    float: left;
    display: block;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.Heading03{
    text-align: center;
}
.contentHeader .Heading03{
    margin: 10px 0;
    text-align: center;
}
.contentHeader .Heading03 {
    margin: 10px 0;
}
.ContainerSearchBox {
    float: left;
    display: block;
    padding-left: 15px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.ContainerSearchBox input[type="text"] {
    width: 350px;
    margin: auto;
}
.ContainerSearchBox input[type="text"]:focus {
    width: 350px;
}
    .Stats {
        width: 100%;
        padding-top: 24px;
        float: left;
    }
    .StatsContent02{
        float: none;
        border: 0;
    }
    .Accounttoggledrp099 {
        width: auto;
        float: none;
        display: inline-block;
    }
    .rowContent_right {
        float: right;
        text-align: center;
        margin-top: 30px;
    }
    .MBAddbuttonCustorm .buttoncontainer03 {
        float: right;
        margin-top: -33px;
    }
    .UploadLogoContainer02{
        margin-bottom: 12px;
    }
    .checking_list_container .Heading02{
        clear: left;
    }
    .checking_list_container .buttoncontainer04 {
        float: left;
        margin-top: 16px;
    }
    .Ads_Block_container{
        margin: auto;
        width: 185px;
        overflow: hidden;
    }
    .buttoncontainer04{
        margin: 5px;
    }
    .no_padding_left {
        padding-left: 0;
        padding-right: 0;
    }
    .no_padding_right {
        padding-left: 0;
        padding-right: 0;
    }
    .left_col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .right_col {
        padding-left: 0;
        padding-right: 0;
    }
    .Contanier_Select {
        text-align: right;
        float: right;
        width: auto;
    }
    .Selectbox{
        float: left;
    }
    .pageheadingContainer {
        float: left;
        display: block;
        width: 100%;
        text-align: center;
    }
    .ContainerSearchBox {
        float: left;
        display: block;
        padding-left: 0px;
        margin: 10px 0;
    }
    .StatsContent{
        padding: 40px 55px 20px 55px;
        float: none;
        width: 250px;
        border-right: 0;
        margin: 10px auto;
    }
    .packages_container02 {
        width: 100%;
    }
    .packages_container02 .Ads_Block{
        width: 270px;
        margin: 10px auto;
        float: none;
    }
    .LogoContainer img {
        width: 110px!important;
    }
    .left_btn_content_sec{
      text-align: center;
      margin: 10px 0;
    }
    .scroll_container {
    height: 270px;
}
.detais_data{
  text-align: center;
}
.edit_photo_container {
    position: relative;
    width: 220px;
    height: 155px;
    float: none;
    margin-right: 30px;
    margin: 0 auto;
}
.mange_works .topButtonset{
  margin-top: 15px;
  margin-left: 0;
}
.column__right .topButtonset {
float: none;
margin-top: 0px;
}
.column__right {
text-align: center;
}
.dropdown_chart_container{
  display: block;
}
}

@media (min-width: 200px) and (max-width: 479px){
    .main_header{
        padding: 0px 10px 0px 10px;
        height: 70px;
    }
    .logo-lg img {
        width: 100px;
    }
    .nav-toggle{
        margin-top: 22px;
        width: 30px;
        height: 25px;
    }
    .content_pannel {
        padding: 40px 0px 50px 0px;
    }
    .contentHeader .Heading03{
        font-size: 24px;
        line-height: 26px;
        margin: 10px 0;
        text-align: center;
    }
    .rightContainer{
        padding: 35px 5px;
    }
    .rowContent_right .Ads_Block{
        width: 183px;
    }
    .AddFieldContainer{
        text-align: center;
        margin-bottom: 20px;
    }
    .textfieldContainer {
        width: 100%;
        float: left;
    }
    .rightcolHeadingToggle{
        text-align: center;
        width: 100%;
        float: none;
        margin: auto;
        overflow: hidden;
    }
    .pageheadingContainer{
      width: 100%;
      text-align: center;
    }
    .Heading03{
        text-align: center;
    }
    .containerHeading {
    float: left;
    display: block;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.ContainerSearchBox {
    float: left;
    display: block;
    padding-left: 15px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom:  20px;
}
.ContainerSearchBox input[type="text"] {
    width: 250px;
    margin: auto;
}
.ContainerSearchBox input[type="text"]:focus {
    width: 250px;
}
    .Stats {
        width: 100%;
        padding-top: 24px;
        float: left;
        text-align: center;
    }
    .StatsContent {
        float: left;
        padding: 7px 23px 11px 23px;
        text-align: center;
        width: 100%;
        border-right: 0;
        border-bottom: 0;
        margin: 5px auto;
    }
    .StatsContent:last-child{
        border-bottom: 0 !important;
    }
    .StatsContent02{
        float: none;
        border: 0;
    }
    .Accounttoggledrp099 {
        width: auto;
        float: none;
        display: inline-block;
    }
    .rowContent_right {
        float: right;
        text-align: center;
        margin-top: 30px;
    }
    .heading_container .Heading03{
        text-align: center;
    }
    .MBAddbuttonCustorm .buttoncontainer03 {
        float: left;
        margin-top: 7px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .mange_works .buttoncontainer03{
      width: auto;
      float: right;
      margin-top: 0;
    }
    .UploadLogoContainer02{
        margin-bottom: 12px;
    }
    .checking_list_container .Heading02{
        clear: left;
    }
    .checking_list_container .buttoncontainer04 {
        float: left;
        margin-top: 16px;
    }
    .buttoncontainer03 {
        float: none;
        margin-top: 20px;
        display: block;
        text-align: center;
    }
    .checking_list_container{
        margin: 10px 0 20px;
    }
    .mb_btn_margin {
        display: inline-block;
        margin: 9px 5px;
    }
    .Ads_Block_container{
        margin: auto;
        width: 185px;
        overflow: hidden;
    }
    .buttoncontainer04{
        margin: 5px;
        text-align: center;
        float: none;
    }
    .radio_container {
        display: block;
    }
    .buttonSbmit {
        float: none;
        width: 170px;
        margin: 10px auto;
        display: block;
    }
    .confirm_button_container .no{
      display: none;
    }
    .submitButton{
        width: 100%;
    }
    .no_padding_left {
        padding-left: 0;
        padding-right: 0;
    }
    .no_padding_right {
        padding-left: 0;
        padding-right: 0;
    }
    .left_col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .right_col {
        padding-left: 0;
        padding-right: 0;
    }
    .Contanier_Select {
        text-align: right;
        float: right;
        width: auto;
    }
    .Selectbox{
        float: left;
    }
    .ContainerSearchBox {
        padding-left: 0;
    }
    .packages_container02 {
        width: 100%;
    }
    .packages_container02 .Ads_Block{
        width: 170px;
        margin: 10px auto;
        float: none;
    }
    .LogoContainer img {
        width: 110px!important;
    }
    .left_btn_content_sec{
      text-align: center;
      margin: 10px 0 20px;
    }
    .scroll_container {
    height: 423px;
   }
   .detais_data{
     text-align: center;
   }
   .edit_photo_container {
       position: relative;
       width: 220px;
       height: 155px;
       float: none;
       margin-right: 30px;
       margin: 0 auto;
   }
  .mange_works .topButtonset{
     margin-top: 0px;
     margin-left: 0;
   }
   .right__header {
    text-align: left;
}
.column__right .topButtonset {
float: none;
margin-top: 0px;
margin-left: 4px;
}
.column__right {
text-align: center;
}
.container__radio{
  position: relative;
  display: block;
}
.dropdown_chart_container{
  display: block;
}


}
