
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*HERE GOES TO FONT STYLE*/
@font-face {
    font-family: 'Gothambold';
    src: url('../fonts/gotham-bold-1361523260.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-bold-1361523260.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-bold-1361523260.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-bold-1361523260.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

@font-face {
    font-family: 'Gothammedium';
    src: url('../fonts/gotham-medium-1361523254_0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-medium-1361523254_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-medium-1361523254_0.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-medium-1361523254_0.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
}
body{
    margin: 0;
    padding: 0;

}
.home_body{
    background: url("../images/hero_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; 
}


.heading1{
    color: #fff;
    font-size: 57px;
    font-family: 'Gothambold';
    font-weight: normal;
    line-height: 72px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.heading2{
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 2.5px;
}




a{
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}



a.button1, .button1{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #27a1e1;
    padding: 12px 35px;
    display: inline-block;
    text-decoration: none;
    background: #27a1e1;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 3px;
    height: 51px;
    line-height: 25px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a.button1:hover, .button1:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #27a1e1;
}




.header{
    width: 100%;
    float: left;

}
.header_bg{
    width: 100%;
    float: left; 
    height:100vh;
}
.top_content{
    width: 100%;
    float: left;  
    margin-top: 50px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
a.media_link{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 0 7px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #3fb9c0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    line-height: 45px;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
a.media_link:hover{
    color: #fff; 
    background: #27a1e1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
a.facebook_icon{
    font-size: 22px;
}

.Social_media{
    float: right;
    margin-left: 30px;
    margin-top: 45px;
}

.text_container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    float: left;
}


.form_container{
    width: 100%;
    float: left;
    margin-top: 50px;
}

.input_container{
    width: 302px;
    height: 51px;
    display: inline-block;
    background: rgba(63,185,192,0.25);
    border: 0;
    margin: 0 15px;
    position: relative;
}
.emailformError{
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}
.form-control{
    height: 51px;
    border-radius: 0;
    color: #fff !important;
    font-size: 20px;
    padding: 6px 25px;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    background: transparent;
    border: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
}

textarea.form-control {
    padding: 15px 22px 0;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { 
    color: #fff;
}
.form-control::-moz-placeholder {
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder {
    color: #fff;
}







@media (min-width: 1600px) and (max-width: 3000px){
    .text_container{
        padding-top: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px){
    .container {
        width: 1030px;
    }
    a.button1, .button1{
        padding: 13px 35px;
    }
    .text_container{
        padding-top: 100px;
    }
    .navbar-brand > img {
        display: block;
        width: 150px;
    }
    .heading1{
        font-size: 50px;
    }
    .heading2{
        font-size: 24px;
    }
    a.media_link{
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }
    a.facebook_icon {
        font-size: 17px;
    }
    .form_container{
/*        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);*/
    }
}









@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 991px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
    }
    .heading2{
        font-size: 21px;
    }
    .form_container {
        margin-top: 31px;
    }
}

@media (min-width: 600px) and (max-width: 767px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }
    .input_container{
        margin-left: 0;
    }
}

@media (min-width: 480px) and (max-width: 599px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
    }
    .navbar-brand > img {
        display: block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        margin-left: 30px;
        margin-top: 25px;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 36px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }
}

@media (min-width: 200px) and (max-width: 479px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
        text-align: center;
    }
    .navbar-brand {
        float: none;
        height: auto;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    .navbar-brand > img {
        display: inline-block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        float: none;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        display: block;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        word-break: inherit;
    }
    .heading2{
        font-size: 18px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }
}