@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia_0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Georgia_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Georgia_0.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Georgia_0.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Georgia_0.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
}

@font-face {
    font-family: 'GeorgiaItalic';
    src: url('../fonts/Georgia Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Georgia Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Georgia Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Georgia Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Georgia Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface2Text LightItalic';
    src: url('../fonts/Neutraface2Text LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Neutraface2Text LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Neutraface2Text LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Neutraface2Text LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Neutraface2Text LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Neutraface2Text Book';
    src: url('../fonts/Neutraface2Text Book.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Neutraface2Text Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Neutraface2Text Book.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Neutraface2Text Book.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Neutraface2Text Book.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
}
@font-face {
    font-family: 'Neutraface2Text Bold';
    src: url('../fonts/Neutraface2Text Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Neutraface2Text Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Neutraface2Text Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Neutraface2Text Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Neutraface2Text Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
}

@font-face {
    font-family: 'Neutraface2Text-Demi';
    src: url('../fonts/Neutraface2Text-Demi.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Neutraface2Text-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Neutraface2Text-Demi.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Neutraface2Text-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Neutraface2Text-Demi.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
}






body{
    font-family: 'Neutraface2Text Book';
    font-weight: 400;
    font-size: 19px;
}



h2, .heading2{
    color: #1d446d;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Georgia';
    text-transform: uppercase;
}

h3, .heading3{
    font-size: 55px;
    color: #1a1a1a;
    font-family: 'Neutraface2Text LightItalic';
    font-weight: 300;
    font-style: italic;
}

.triangle{
    display: inline-block;
    margin: -4px 10px 0 0;
    vertical-align: top;
}


h4, .heading4{
    font-family: 'GeorgiaItalic';
    font-weight: 400;
    font-style: italic;
    color: #1a1a1a;
    font-size: 36px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

h5 {
    font-size: 36px;
    color: #18181e;
    font-weight: 400;
    font-family: 'Georgia';
}

h6 {
    font-size: 30px;
    color: #fff;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    text-transform: uppercase;
    line-height: 34px;
}


.under_line3 {
    width: 40px;
    height: 4px;
    background: #dc0001;
    display: inline-block;
    float: left;
}



#drop-nav {
    display: none;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.drop-nav-container {
    background: white none repeat scroll 0 0;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
#drop-nav .navbar {
    background: #1E436C !important;
    padding: 5px 15px;
} 

#drop-nav .navbar-brand img{
    width: 130px;
}
#drop-nav a.login_btn{
    font-size: 12px;
    background: #DE1A21;
}

#drop-nav .navbar{
    background:#b60e0e;
    padding: 5px 15px;
}



a.btn_1, .btn_1{
    background: #1d446d;
    border: 0;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding:10px 25px;
    font-size: 22px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
}
a.btn_1:hover, .btn_1:hover{
    border: 2px solid #1d446d;
    background: transparent;
    color:#1d446d !important;
}


a.btn_2, .btn_2{
    background: transparent;
    color: #fff !important;
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    padding: 6px 25px;
    font-size: 24px;
    letter-spacing: 0.7px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a.btn_2:hover, .btn_2:hover{
    background: #fff;
    color: #333 !important;
}










.header{
    width: 100%;
    float: left;
    box-shadow: 0 1px 8px 0 rgba(1, 1, 1, 0.20);
    position: relative;
    z-index: 1;
}
.header_inner{
    box-shadow: none;
}
.navbar{
    background:#fff;
}
.header_inner .navbar{
    background:#b60e0e;
}


.header .navbar-brand{
    margin-right: 0;
}
.navbar-nav .nav-link {
    color: #112a72 !important;
    /*    font-size: 18px;*/
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    /*    padding: 0 15px !important;*/
    padding: 0 10px !important;
}
.header_inner .navbar-nav .nav-link{
    color: #fff !important;
}
#drop-nav .navbar-nav .nav-link{
    color: #fff !important;
}
#drop-nav  .header{
    box-shadow: none;
}
a.login_btn{
    background: #043750;
    color: #fff !important;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 20px;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.login_btn:hover{
    border: 2px solid #DE1A21;
    background: #DE1A21;
    color:#fff !important;
}

.social_links_container{
    margin-left: 10px;
}
.social_links{
    display: inline-block;
    margin: 0 5px;
}


.social_links a {
    color: #d82222;
}
.header_inner .social_links a{
    color: #fff;
}
#drop-nav .social_links a {
    color: #fff;
}
.social_links a:hover {
    color: #f5d270;
}

.slider_Container{
    width: 100%;
    float: left;
}
.carousel-caption{
    bottom: 40%;
}
.carousel-caption h2{
    font-size: 55px;
    color: #fff;
    font-family: 'Neutraface2Text Bold';
    font-weight: 700;
    text-transform: uppercase;
}
.carousel-caption p{
    font-size: 30px;
    color: #fff;
    font-family: 'Neutraface2Text LightItalic';
    font-weight: 300;
    font-style: italic;

}

a.read_btn{
    background: #b60e0e;
    color: #fff !important;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    padding: 14px 30px;
    font-size: 16px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


a.read_btn:hover{
    border: 2px solid #fff;
    background: transparent;
    color:#fff !important;
}


.content{
    width: 100%;
    float: left;
}
.Shap_bg{
    background: url("../images/Shape_bg.png") no-repeat top center #fff;
    height: 1795px;
    position: relative;
    background-size: cover;
}
.Shap_bg:before{
    position: absolute;
    content: "";
    background: #d7d9d7;
    left: 0;
    top: 0;
    width: 12%;
    height: 100%;
    display: none;
}


.intro_Section{
    width: 100%;
    float: left;
    padding: 65px 0 50px;
}

/*.background_color{
background: #d7d9d7;
width: 12%;
height: 100%;
}*/
.intro_img{

}
.intro_right{
    padding:9px 72px 20px 88px;
    color: #323232;
    font-size: 19px;
}
.intro_right p{
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section_Card{
    width: 100%;
    float: left;
    padding: 75px 0;
}

.section_Card .row{
    display: block;
}

.section_Card_Right{
    float: right;
    text-align: right;
    margin-top: 9px;
}
.section_Card_Right img{
    margin-left: -20px;
}
.section_Card_left{
    float: left;
}


.section_Club{
    width: 100%;
    float: left;
    padding: 0px 0 75px 0;

}
.section_Club .row{
    display: block;
}
.section_Club_left{
    float: left;
    margin-top: 30px;
}
.section_Club_left img{
    -webkit-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    -moz-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    -ms-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
}
.section_Club_Right{
    float: right;
    width: 720px;
    background: #fff;
    padding: 35px 15px 35px 35px;
    -webkit-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    -moz-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    -ms-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
}

.section_Club_Right h2{
    margin-bottom: 25px;
}




.mall_Section{
    width: 100%;
    float: left;
    background: #efefef;
    padding: 65px 0;
    margin-top: -12px;
    z-index: 2;
    position: relative;
}

.mall_Section .row{
    display: block;
}
.mall_Section_left{
    float: left;
}
.mall_Section_Right{
    float: right;
    background: #fff;
    padding: 35px 15px 35px 35px;
    -webkit-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    -moz-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    -ms-box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
    box-shadow: 5px 0px 13px rgba(24,24,24,0.28);
}
.mall_Section_right img{
    -webkit-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    -moz-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    -ms-box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
    box-shadow: 21px 8px 13px rgba(24,24,24,0.25);
}
.mall_Section_left h2{
    margin-bottom: 30px;

}

.tagline{
    width: 100%;
    float: left;
    color: #323232;
    line-height: 30px;
    font-family: 'Neutraface2Text LightItalic';
    font-weight: 300;
    font-style: italic;
}

.tagline{
    margin-top: 15px;
}

.Section_2{
    width: 100%;
    float: left;
    padding: 80px 0;
}
.text_heading_style{
    position: relative;
    margin: auto;
}
.line{
    display: inline-block;
    border-bottom: 2px solid #919191;
    width: 124px;
    height: 2px;
    vertical-align: middle;
    margin: 0 18px;
}

.Statistics_Content{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 35px;
}
.Statistics_Box{
    width: 228px;
    height: 228px;
    margin: 0 25px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.stats_number{
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1a1a1a;
    font-size: 50px;
    font-family: 'Neutraface2Text Book';
    letter-spacing: -2.8px;
    font-weight: 400;
    line-height: 53px;
}

.Statistics_Box h4{
    margin-top: 15px;
}

.customar_Review_Container{
    width: 100%;
    float: left;
    height: 400px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d446d+0,b60e0e+100 */
    background: rgb(29,68,109); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(29,68,109,1) 0%, rgba(182,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(29,68,109,1) 0%,rgba(182,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(29,68,109,1) 0%,rgba(182,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d446d', endColorstr='#b60e0e',GradientType=1 ); /* IE6-9 */
}



.customar_Review_Content{
    width: 100%;
    float: left;
    height: 450px;
    background: #fff;
    padding: 0px 35px 0px 35px;
    /*-webkit-box-shadow: 5px 15px 13px rgba(24,24,24,0.28);
    -moz-box-shadow: 5px 15px 13px rgba(24,24,24,0.28);
    -ms-box-shadow: 5px 15px 13px rgba(24,24,24,0.28);
    box-shadow: 5px 15px 13px rgba(24,24,24,0.28);*/


    -webkit-box-shadow: 1px 38px 50px rgba(24,24,24,0.18);
    -moz-box-shadow: 1px 38px 50px rgba(24,24,24,0.18);
    -ms-box-shadow: 1px 38px 50px rgba(24,24,24,0.18);
    box-shadow: 1px 38px 50px rgba(24,24,24,0.18);
}

.customar_Review_Content h4{
    font-size: 48px;
}


.owl-theme .owl-controls {
    text-align: center !important;
    width: 235px;
    float: right;
    margin-top: -110px!important;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev{
    float: left;
}

.owl-theme .owl-controls .owl-buttons div.owl-next{
    float: right;
}

.owl-theme .owl-controls .owl-pagination{
    margin-bottom: -32px;
}

.owl-theme .owl-controls .owl-page span{

    background: transparent !important;
    border: 1px solid #1d446d !important;
    opacity: 1!important;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #1d446d !important;
}

.testimonial{
    /*    padding: 20px 0 170px 425px;*/
    padding: 20px 0 20px 425px;
    position: relative;
    height: 435px;
    position: relative;
}


.testimonial .pic{
    width: 385px;
    height: 406px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 30px;
    color: #1b3b65;
    line-height: 41px;
    position: relative;
    font-family: 'Georgia';
    font-weight: 400;
}
.testimonial .description:before{
    /*    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: #7a7e82;*/

    background-image:  url("../images/quat_icon.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    content: "";
    bottom: -80px;
    right: 25px;
    height: 98px;
    width: 123px;
}
.testimonial .testimonial-title{
    font-size: 30px;
    font-weight:400;
    color: #181818;
    text-transform: capitalize;
    font-family: 'Neutraface2Text Book';
    font-style: normal;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color :#6ab33e;
    margin-top: 10px;
}
.owl-theme .owl-controls{
    text-align: right;
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons{
    position: relative;
}
.owl-theme .owl-controls .owl-buttons div{
    background: #6ab33e;
    border-radius: 0;
    opacity: 1;
    padding: 5px 10px;
    background: transparent !important;
    opacity: 1!important;

}
.owl-prev:before{
    /*    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;*/
    content: "";
    background-image: url("../images/arrow_left.png");
    width: 53px;
    height: 11px;
    position: absolute;
    left: 0;
}
.owl-next:before{
    /*    content: "\f054";*/
    content: "";
    background-image: url("../images/arrow_right.png");
    width: 53px;
    height: 11px;
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 990px){
    .testimonial{
        padding: 80px 0 80px 265px;
    }
}
@media only screen and (max-width: 767px){
    .testimonial{
        padding: 0;
        border: none;
    }
    .testimonial:before,
    .testimonial:after{
        border: none;
    }
    .testimonial .pic{
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonial .description{
        margin-top: 15px;
    }
    .testimonial .description:before{
        content: "";
    }
}



.section_deals_services{
    padding: 180px 0 30px;
    width: 100%;
    float: left;
}


.contact_container {
    width: 100%;
    float: left;

}

.Map_container {
    width: 40%;
    float: left;
    height: 647px;
    position: relative;
    background: url("../images/map_bg.jpg") no-repeat top center;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    -moz-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    -ms-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
}

.form_container {
    width: 60%;
    float: left;
    padding: 60px 0 0;
    -webkit-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    -moz-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    -ms-box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
    box-shadow: 0px -71px 83px rgba(165, 165, 165, 0.1);
}

.Form_content {
    padding: 10px 50px 0px 70px;
    color: #2d2e33;
    float: left;
    width: 100%;
}



.Form_content p {
    margin: 20px 0 10px;
}

.forms {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.col-field {
    float: left;
    margin-right: 34px;
    width: 47.5%;
}
.col-field_Right {
    margin-right: 0px;
    width: 47.5%;
    float: right;
}
.col-field {
    float: left;
    margin-right: 34px;
    width: 47.5%;
}
.full_col {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.Form_content label {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.Form_content .form-control {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: none;
    border-radius: 0;
    font-size: 17.34px;
    color: #2d2e33;
    height: 50px;
    font-size: 17px;
}

.btn_submit {
    border: 3px solid #142340;
    padding: 10px 40px;
    color: #fff;
    font-size: 16px;
    background: #142340;
    float: right;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.btn_submit:hover{
    border: 3px solid #B60E0E;
    background: #B60E0E;
}




.footer {
    width: 100%;
    float: left;
    background: #131c2e;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: auto;
}


.footer_top {
    width: 100%;
    float: left;
    padding: 100px 0 40px;
}
.footer_nav_container{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.footer_nav{
    width: 45%;
    float: left;
}
.footer_nav ul{
    padding: 0;
    margin-top: 10px;
}


.footer_nav ul li {
    float: left;
    width: 100%;
    line-height: 42px;
    letter-spacing: 0px;
    margin-right: 0;
    list-style: none;
}

.footer_nav ul li a {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.footer_nav ul li a:hover{
    color: #B60E0E;
}

.address_row {
    color: #fff !important;
    font-size: 20px;
    width: 100%;
    float: left;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.web_row {
    color: #fff !important;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.mail_row {
    color: #fff !important;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.footer_logo_details{
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Neutraface2Text LightItalic';
    font-weight: 300;
    font-style: italic;
}
.footer_logo_details p{
    margin-top: 25px;
}


.footer_bottom{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 35px 0;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}
.footer_bottom .row{
    display: block;
}
.footer_bottom h6{
    text-decoration: underline;
}

.small, small {
    font-size: 100%;
    font-weight: 400;
    color: #bb4a53;
    margin-right: 2px;
}



.footer-social-links {
    display: inline-block;
    margin: 15px 25px 5px;
}
.footer-social-links a {
    display: block;
}
a.icon-facebook {
    background: url("../images/icon_facekbook.png") top center no-repeat;
    width: 147px;
    height: 31px;
    position: relative;
}
a.icon-facebook::after {
    background: url("../images/icon_facekbook_hover.png") top center no-repeat;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 147px;
    height: 31px;
    display: block;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a.icon-twitter {
    background: url("../images/twitter.png") top center no-repeat;
    width: 147px;
    height: 31px;
    position: relative;
}
a.icon-twitter::after {
    background: url("../images/twitter.png") top center no-repeat;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 147px;
    height: 31px;
    display: block;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

a.icon-google {
    background: url("../images/icon_google.png") top center no-repeat;
    width: 147px;
    height: 43px;
    position: relative;
    top: 10px;
}
a.icon-google::after {
    background: url("../images/icon_facekbook_hover.png") top center no-repeat;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 147px;
    height: 43px;
    display: block;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

a.icon-youtube {
    background: url("../images/icon_youtube.png") top center no-repeat;
    width: 147px;
    height: 37px;
    position: relative;
}
a.icon-youtube::after {
    background: url("../images/icon_facekbook_hover.png") top center no-repeat;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 147px;
    height: 37px;
    display: block;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.copy_text {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    float: left;
    text-align: center;
    padding: 50px 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.inner_header{
    width: 100%;
    float: left;
    background:  url("../images/slide.jpg") no-repeat top center;
    background-size: cover;
    height: 450px;
}
.innerContent{
    width: 100%;
    float: left;
    padding: 80px 15px;
    position: relative;

}

.login_form{
    /*    background: #fff;*/
    background: #fbfbfb;
    padding: 40px 35px;
    border-radius: 4px;
    box-shadow: 2px 0px 20px rgba(24,24,24,0.18);
    border: 1px solid rgba(99, 99, 99, 0.2);
}

.inner_form{
    width: 100%;
    float: left;
    margin: 10px 0;
}
.form-control{
    border: 2px solid #ced4da;
    height: 50px;
}

.custom-select {
    height: calc(2.25rem + 14px) !important;
    border: 2px solid #ced4da;
}

.form-control:focus {
    color:#495057;
    background-color:#fff;
    border: 2px solid #959698;
    outline:0;
    box-shadow:none;
}


.custom-select:focus {
    color:#495057;
    background-color:#fff;
    border: 2px solid #959698;
    box-shadow: none;
}

.custom-select:focus {
    color:#495057;
    background-color:#fff;
    border: 2px solid #959698;
    box-shadow: none !important;
}

.question_container{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.question_text{
    font-size: 30px;
    font-family: 'Neutraface2Text Book';
    font-weight: 400;
    color: #1d446d;
}

.sub_option_text{
    float:left;
    width: 100%;
    margin-left: 25px;
}

.option_text{
    float:left;
    width: 100%;

}

.sub_categ{
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    font-style: normal;
}

.bday_fields_other{
    position: relative;
}
#add_icon{
    position: absolute;
    right: -20px;
    top: 48px;
    cursor: pointer;
}
.remove_icon {
    float: right;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #e01d1d;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    position: absolute;
    right: -20px;
    top: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.club_member_forgot_password{
    float: right;
    margin: 15px 0px 0px 10px;
    color: #333;
}
.club_member_forgot_password:hover{
    text-decoration: none;
}

.s_message{
    text-transform: capitalize;
    color: green !important;
}
.e_message{
    text-transform: capitalize;
    color: red !important;
}

.gender_radio{
    margin-top: 45px;
}
.file-input-container{
    overflow: hidden;
}

.formError {
    z-index: 1 !important;
}
.mCustomScrollBox:focus{
    outline: none!important;    
}

.mainContent {
    width: 100%;
    float: left;
    display: block;
    padding-left: 12px;
}

.wrapper1 {
    min-height: 400px;
}



.shopping-inner{
    padding: 10px 0px 50px 0;
    background: #F1F3F6;
}
.shopping_dashboard_container{
    width: 100%;
    float: left;
}
.shopping_dashboard_container .container{
    max-width: 1600px;
}
.shopping_dashboardContent{
    width: 100%;
    float: left;
}
.sidebar{
    padding-left: 0;
}
.category-sidebar{
    /*    border: 1px solid #d1d1d1;*/
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0px 10px 1px rgba(149, 149, 149, 0.3);
}

.Category-heading {
    position: relative;
}

.Category-heading h2 {
    background: #333 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 700;
    height: 53px;
    line-height: 56px;
    margin: 0;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
}
.Category-heading i{
    margin-right: 10px;
}

.category-menu{
    padding: 20px;
    float: left;
    width: 100%;
}
.category-menu ul {
    margin: 0px;
    padding: 0px;
}
.category-menu ul li {
    border-bottom: 1px solid #cbcbcb;
    list-style: none;
    padding: 2px 0;
    width: 100%;
}
.category-menu ul li:last-child{
    border-bottom: 0;
}
.category-menu ul li a {
    color: #2f2f2f;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.filter_container{
    border-top: 1px solid #d1d1d1;
    padding: 20px 16px;
    float: left;
    width: 100%;
}

.filter_container h4{
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.slidecontainer {
    width: 100%;
}

.Select_price {
    margin:20px -15px;

}
.Select_price .selectrow{
    flex: 0 0 45.666667% !important;
    max-width: 45.666667%!important;
    padding: 0 8px;
}
.Select_price .custom-select {
    height: calc(2.25rem + 5px);
    border: 1px solid #a7a8a8;
    padding: 0rem 0 0rem 3px;
}


.filter_container .custom-checkbox{
    margin: 16px 0;
    line-height: 20px;
}

.grid-list-view{
    background: #fff;
    /*   border: 1px solid #d1d1d1;*/
    box-shadow: 0 1px 4px 1px rgba(134, 134, 134, 0.1);
    float: left;

}
.grid-list-view h2{
    color: #1d446d;
    font-size: 28px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 24px;
}
.single-product {
    position: relative;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    padding: 15px 15px 30px 15px;
    overflow: hidden;
    width: 24%;
}

.product-img {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}
.product-img img {
    max-width: 268px;
    width: 100%;
}
.product-content {
    text-align: center;
}
.product-content p{
    margin-bottom: 5px;
}
.old-price{
    font-size: 16px;
    font-weight: normal;
    text-decoration: line-through;
    display: inline-block;
    margin: 0 10px;
    color: #B60E0E;
}
.price {
    font-size: 16px;
    color: #456883;
    font-weight: 600;
    margin: 0 10px;
}
.product-content h4{
    font-size: 18px;
    font-family: 'Neutraface2Text Book';
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin: 10px 0;
}
.product-content h4 a{
    color: #333;
}
.btn-cart{
    background: #565656;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Neutraface2Text Bold';
    font-weight: 700;
    padding: 4px 0px;
    border-radius: 3px;
    margin: 4px 3px;
    width: 100px;
    cursor: pointer;
    line-height: 36px;
    height: 40px;
}

.buynow{
    background: #b60e0e;
}

.product_container{

}

/* cart page styles */
.cart-items-container {
    margin: 0; 
    padding: 15px 0; 
    box-shadow: 0 1px 4px 1px rgba(134, 134, 134, 0.2); 
    margin-bottom: 8px; 
    float: left; 
    width: 100%;
}

.cart-item-img {
    max-width: 120px;
}

.cart-buttons-container {
    width: 100%; 
    float: left;     
    margin-top: 10px;
}

.cart-item-quantity {
    width: 80px;
    padding-left: 4px;
}

.cart-submit-container {
    margin:20px 0; 
    width: 100%; 
    float: left;
}

.cart-submit-container a {
    display: block;
    width: 190px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    float: right;
}

/* shipping page styles */
.shipping-content {
    border: 2px solid #d1d1d1 !important;
    border-radius: 3px;
    margin: 10px 15px;
    font-size: 16px;
    width: 31%;
    min-height: 330px;
    position: relative;
}

.active_shipping {
    border: 2px solid #a8a8a8 !important;
    background: #efefef;
}

.shipping-lines {    
    width: 100%; 
    float:left; 
    display: block; 
    color: #212529;
    padding-bottom: 0;
    line-height: 26px;
}

.add_new_shipping{
    width: 100%; 
    float:left; 
    margin: 50px 0;
}
.edit_shipping{
    width: 100%; 
    float:left; 
    margin: 50px 0;
}
a.btn_edit{
    background: #565656;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Neutraface2Text Bold';
    font-weight: 700;
    padding: 0px 20px;
    border-radius: 3px;
    margin: 4px 3px;
    width: auto;
    cursor: pointer;
    line-height: 36px;
    height: 35px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 12px;
}
a.btn_remove{
    background: #b60e0e;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Neutraface2Text Bold';
    font-weight: 700;
    padding: 0px 20px;
    border-radius: 3px;
    margin: 4px 3px;
    width: auto;
    cursor: pointer;
    line-height: 36px;
    height: 35px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 90px;
}
.cart-items-form, .edit-items-form {
    padding: 15px;
    width: 100%;
    float: left;
}

.cart-buttons-container .btn{
    background: #1d446d;
    border: 0;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px 17px;
    font-size: 18px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
}

.left-col {
    width: 47%;
    float: left;
    margin-bottom: 23px;
}

.right-col {
    width: 47%;
    float: right;
    margin-bottom: 23px;
}

.product_container h2{
    color: #1a1a1a;
    font-size: 40px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    text-transform: capitalize;
}

.price-block {
    position: relative;
    margin-bottom: 15px;
}

.price-box {
    display: block;
    margin: 0px;
    padding: 15px 0px;
    border-top: 1px #ddd dotted;
    border-bottom: 1px #ddd dotted;
    position: relative;
    min-height: inherit;
    color: #456883;
    font-size: 14px;
}
.product-shop .price {
    font-size: 24px;
    color: #456883;
    font-weight: bold;
}
.special-price {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.special-price .price{
    font-size: 24px;
}
.price-box .old-price {
    margin: 0px;
    margin-top: 0px;
    margin-top: 0;
    display: inline-block;
    color:#456883;
}
.old-price .price{
    font-size: 16px;
}
.special-price .price-label {
    font-size: 13px;
    font-weight: 900;
    white-space: nowrap;
    color: #666;
    display: none;
}
.old-price .price-label {
    color: #777777;
    display: none;
    white-space: nowrap;
}
.availability.in-stock {
    padding: 3px 0px;
    position: absolute;
    top: 18px;
    right: 0px;
}
.add-to-box{
    padding: 3px 0px 18px;
    padding: 13px 0px 28px;
    overflow: hidden;
    text-align: left;
    margin: 1px 0 0 0;
    margin-bottom: 0px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 0px;
}

.add-to-cart{
    float: left;
    width: 100%;
}
.pull-left{
    display: inline-block;
    float: left;
}

.add-to-box .btn-cart {
    font-size: 14px;
    text-shadow: none;
    padding: 7px 20px 6px;
    float: left;
    margin-top: 0px;
    font-weight: bold;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    margin-left: 12px;
    border: none;
    height: 40px;
    text-transform: uppercase;
    background: #043750;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    letter-spacing: 1px;
    width: auto;
    line-height: 30px;
}
.custom button.items-count {
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    font-size: 12px;
    line-height: 0px;
    padding: 13px 12px 9px 12px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px #ececec solid;
    color: #999;
}

.add-to-cart .qty {
    height: 40px;
    text-align: center;
    width: 60px;
    vertical-align: top;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
}



.short-description {
    font-size: 13px;
    padding: 18px 0px 15px;
    border-bottom: 1px #ddd dotted;
}

.short-description h2 {
    font-size: 15px;
    color: #333;
    margin: 0px;
    margin-bottom: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.short-description p {
    font-size: 15px;
    margin: 0px;
    color: #222;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 300;
}

.heading_search{
    color: #1d446d;
    font-size: 22px;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 24px;
}   

.search_category{
    border: 1px solid #6c757d; 
    height: 40px;
}

.search_category:focus{
    border: 1px solid #6c757d; 
}

.pagination{
    text-align: center;
    width: 100%;
    margin: 40px 0;
}

.pagination strong, .pagination a{
/*    padding: 5px 8px;
    border:1px solid #b4cbd6;
    margin: 0 5px;
    color: #333;*/
    
    position: relative;
    display: block;
    padding: .5rem .95rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1E436C;
    background-color: #fff;
    border: 1px solid #bcbcbc;
}
.pagination strong{
    z-index: 1;
    color: #fff;
    background-color: #1E436C;
    border-color: #1E436C;
}
.Shipping_address{
    margin-top: 10px;
    width: 100%;
   float: left;
}


.container_table{
   width: 100%;
   float: left;
   clear: left;
   margin: 20px 0;
   border: 1px solid #ddd;
}
.voucher_container{
    padding: 15px;
}

.voucher_container .row{
    margin-left: 0;
    margin-right: 0;
}
.voucher_content{
    width: 100%;
    float: left;
    background: #fff;
}
.preview_voucher{
    border: 1px solid #ddd;
    padding: 20px;
    margin: 30px 0;
}

.preview_voucher div{
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.preview_voucher div:last-child{
     border-bottom: 0;
}
.bread_crumb {
    display: block;
    margin-bottom: 10px;
}
.order_success {
    border: 2px solid #008000;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #e5f2e5;
}
.order_failure {
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #ffe5e5;
}
.order_details_product_name {
    width: 100%;
    display: block;
    font-size: 22px;
}
.order_details_manufac_name {   
    font-size: 16px;
    color: green;
}
.sub_heading {
    font-size: 22px !important;
}
.login_btn02 {
    float: right;
    margin-top: -36px;    
    background: #043750;
    color: #fff !important;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Neutraface2Text-Demi';
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 20px;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}





/*-------------------------------------------------------------------------------
---------------------------------------------------------------------------------
**************************HERE START RESPONSIVE STYLE****************************
---------------------------------------------------------------------------------
-------------------------------------------------------------------------------*/


@media (min-width: 1600px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 15px !important;

    }

    #drop-nav {
        height: 55px;
    }

    #drop-nav .navbar-brand img{
        width: 130px;
    }
    #drop-nav a.login_btn{
        font-size: 12px;
    }

    #drop-nav .navbar{
        background:#b60e0e;
        padding: 5px 15px;
    }

    .shopping_dashboard_container .container {
        max-width: 1700px;
    }
    .Select_price .custom-select{
        padding: 0rem 0 0rem 6px;
    }
}

@media (min-width: 1200px) and (max-width: 1360px) {
    .header .navbar-brand img {
        width: 150px;
    }
    .navbar-nav .nav-link{
        padding: 0 6px !important;
        font-size: 15px;
        letter-spacing: 0.2px;
    }
    .social_links {
        margin: 0 2px;
    }
    #drop-nav{
        height: 56px;
    }

    .section_Card_Right img{
        margin-left: -20px;
        width: 490px;
    }


    #add_icon{
        right: -14px;
        top: 50px;
        font-size: 15px;
    }
    .sub_option_text{
        margin-left: 0;
    }
    .custom-control-inline{
        margin-right: 0;
    }

    .single-product{
        width: 30%;
    }
    .shipping-content{
        width: 30%;
        margin: 10px auto;
    }

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    .navbar-nav .nav-link{
        padding: 8px 6px !important;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .social_links {
        margin: 5px 2px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .login_btn{
        display: inline-block;
    }


    .Shap_bg{
        background-size: cover;
        height: 1925px;
    }
    .Shap_bg::before{
        display: none;
    }

    .intro_img img{
        width: 350px;
    }
    .section_Card_Right img {
        width: 490px;
    }
    .mall_Section .section_Card_Right img {
        width: 420px;
    }
    .Statistics_Box{
        margin: 0 3px;
    }
    .Form_content {
        padding: 10px 20px 0px 20px;
    }
    .col-field {
        float: left;
        margin-right: 15px;
        width: 47%;
    }
    .form_container{
        padding: 40px 0 0;
    }
    .footer_logo_details{
        padding-right: 40px;
    }
    .footer_nav {
        width: 50%;
    }
    .inner_header{
        height: 350px;
    }

    #add_icon{
        right: 8px;
        top: 92px;
        font-size: 15px;
    }
    .sub_option_text{
        margin-left: 0;
    }
    .custom-control-inline{
        margin-right: 0;
    }
    .remove_icon{
        right: 9px;
        top: inherit;
        font-size: 2.5rem;
        bottom: -20px;
    }

    .single-product{
        width: 33%;
    }
    .shipping-content{
        width: 30%;
        margin: 10px auto;
    }


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    .navbar-nav .nav-link{
        padding: 8px 6px !important;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .social_links {
        margin: 5px 2px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .login_btn{
        display: inline-block;
    }
    .carousel-caption {
        bottom: 20%;
    }
    .carousel-caption h2 {
        font-size: 45px;
    }

    .Shap_bg{
        background-size: cover;
        height: 1925px;
        background: none;
    }
    .Shap_bg::before{
        display: none;
    }
    .Shap_bg:after{
        content: "";
        width: 100%;
        height: 100%;
        background: url("../images/Shape_bg.png") no-repeat top center #fff;
        background-size: cover;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


    .intro_right {
        padding: 9px 32px 20px 108px;
    }
    .intro_img img{
        width: 250px;
    }
    .section_Card{
        padding: 5px 0;
    }
    .section_Card_left {
        float: left;
        padding: 30px 0;
    }
    .section_Card_Right{
        text-align: center;
    }
    .section_Card_Right img {
        width: 550px;
    }
    .section_Club_left {
        float: left;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
    .section_Club_Right{
        background: transparent;
        box-shadow: none;
    }
    .mall_Section .section_Card_Right img {
        width: 420px;
    }
    .Statistics_Box{
        margin: 30px 13px;
    }

    .customar_Review_Container{
        height: auto;
    }
    .customar_Review_Content {
        height: auto;
    }
    .customar_Review_Content h4 {
        font-size: 40px;
    }
    .testimonial .description{
        font-size: 24px;
        line-height: 36px;
    }
    .testimonial .testimonial-title {
        font-size: 24px;
    }
    .testimonial {
        padding: 10px 0 80px 260px;
        height: auto;
        position: relative;
    }
    .testimonial .pic {
        width: 240px;
        height: 276px;
    }

    .section_deals_services {
        padding: 80px 0 0px;
    }
    #thumbnail-slider div.inner{
        padding: 0!important;
    }
    .text_heading_style{
        font-size: 46px;
    }
    #thumbnail-slider ul li{
        margin-left: -120px!important;
        margin-right: -120px!important;
        -webkit-transform: scale(0.5)!important;
        transform: scale(0.5)!important;
    }
    #thumbnail-slider ul li.active{
        -webkit-transform: scale(0.81)!important;
        transform: scale(0.81) !important;
    }
    .Map_container {
        width: 100%;
    }
    .Form_content {
        padding: 10px 20px 50px 20px;
        width: 100%;
    }
    .col-field {
        float: left;
        margin-right: 15px;
        width: 47%;
    }
    .form_container{
        padding: 40px 0 0;
        width: 100%;
    }
    .footer_logo_details{
        padding-right: 0px;
    }
    .footer_nav {
        width: 50%;
    }
    .footer-social-links{
        margin: 15px 10px 5px;
    }
    .inner_header{
        height: 300px;
    }

    #add_icon{
        right: -14px;
        top: 50px;
        font-size: 15px;
    }
    .sub_option_text{
        margin-left: 0;
    }
    .custom-control-inline{
        margin-right: 0;
    }
    .remove_icon{
        right: -14px;
        top: 42px;
        font-size: 2.5rem;
    }
    .lSSlideOuter .lSPager.lSGallery li{
        height: 60px !important;
    }

    .single-product{
        width: 50%;
    }
    .shipping-content{
        width: 30%;
        margin: 10px auto;
    }


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    .navbar-nav .nav-link{
        padding: 8px 6px !important;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .social_links {
        margin: 5px 2px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .login_btn{
        display: inline-block;
    }
    .carousel-caption {
        bottom: 20%;
    }

    .carousel-caption h2 {
        font-size: 35px;
    }
    .carousel-caption p {
        font-size: 18px;
    }
    .read_btn{
        padding: 9px 15px;
        font-size: 13px;
    }

    .Shap_bg{
        background-size: cover;
        height: 1925px;
        background: none;
    }
    .Shap_bg::before{
        display: none;
    }
    .Shap_bg:after{
        content: "";
        width: 100%;
        height: 100%;
        background: url("../images/Shape_bg.png") no-repeat top center #fff;
        background-size: cover;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


    .intro_right {
        padding: 9px 15px 20px 8px;
    }
    .intro_img img{
        width: 320px;
        margin: auto;
        display: block;
    }
    .section_Card{
        padding: 5px 0;
    }
    .section_Card_left {
        float: left;
        padding: 30px 0;
    }
    .section_Card_Right{
        text-align: center;
    }
    .section_Card_Right img {
        width: 550px;
    }
    .section_Club_left {
        float: left;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
    .section_Club_Right{
        background: transparent;
        box-shadow: none;
        float: left;
        width: auto;
        padding:0;
    }
    .mall_Section_left h2 {
        font-size: 32px;
    }
    .mall_Section .section_Card_Right img {
        width: 420px;
    }
    .Statistics_Box{
        margin: 30px 13px;
    }

    .customar_Review_Container{
        height: auto;
    }
    .customar_Review_Content {
        height: auto;
    }
    .customar_Review_Content h4 {
        font-size: 30px;
    }
    .testimonial .description{
        font-size: 24px;
        line-height: 36px;
    }
    .testimonial .testimonial-title {
        font-size: 24px;
    }
    .testimonial {
        padding: 10px 0 80px 0;
        height: auto;
        position: relative;
    }
    .testimonial .pic {
        width: 270px;
        height: auto;
        margin: auto;
    }

    .section_deals_services {
        padding: 80px 0 0px;
    }
    #thumbnail-slider div.inner{
        padding: 0!important;
    }
    .text_heading_style{
        font-size: 35px;
    }
    .line{
        width: 64px;
    }
    #thumbnail-slider ul li{
        margin-left: -150px!important;
        margin-right: -150px!important;
        -webkit-transform: scale(0.6)!important;
        transform: scale(0.6)!important;
    }
    #thumbnail-slider ul li.active{
        -webkit-transform: scale(0.81)!important;
        transform: scale(0.81) !important;
    }
    .Map_container {
        width: 100%;
    }
    .Form_content {
        padding: 10px 20px 50px 20px;
        width: 100%;
    }
    .col-field {
        float: left;
        margin-right: 15px;
        width: 47%;
    }
    .form_container{
        padding: 40px 0 0;
        width: 100%;
    }
    .footer_logo_details{
        padding-right: 0px;
    }
    .footer_nav {
        width: 50%;
    }
    .footer-social-links{
        margin: 15px 10px 5px;
    }
    .inner_header{
        height: 300px;
    }

    #add_icon{
        right: 10px;
        top: inherit;
        font-size: 15px;
        bottom: -18px;
    }
    .sub_option_text{
        margin-left: 0;
    }
    .custom-control-inline{
        margin-right: 0;
    }
    .remove_icon{
        right: 10px;
        top: -5px;
        font-size: 2.5rem;
    }

    .detail_product_right{
        margin-top: 30px;
    }

    .sidebar{
        width: 260px;
    }
    .grid-list-view{
        width: 53%;
    }
    .shipping_cart{
         width: 100%;
    }
    .cart-items-container{
        text-align: center;
    }
    .shipping_content .grid-list-view{
        width: 100%;
    }
    .shipping-content{
        width: 100%;
    }
    .single-product{
        width: 100%;  
    }
    .cart-items-form, .edit-items-form {
        text-align: left;
    }
    .od_info {
        text-align: left !important;
    }


}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    .navbar-nav .nav-link{
        padding: 8px 6px !important;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .social_links {
        margin: 5px 2px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .login_btn{
        display: inline-block;
    }
    .carousel-caption {
        bottom: 20%;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
    .read_btn{
        padding: 9px 15px;
        font-size: 13px;
    }

    .Shap_bg{
        background-size: cover;
        height: 1925px;
        background: none;
    }
    .Shap_bg::before{
        display: none;
    }
    .Shap_bg:after{
        content: "";
        width: 100%;
        height: 100%;
        background: url("../images/Shape_bg.png") no-repeat top center #fff;
        background-size: cover;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


    .intro_right {
        padding: 9px 15px 20px 8px;
    }
    .intro_img img{
        width: 320px;
        margin: auto;
        display: block;
    }
    .section_Card{
        padding: 5px 0;
    }
    .section_Card_left {
        float: left;
        padding: 30px 15px;
    }
    .section_Card_Right{
        text-align: center;
    }
    .section_Card_Right img {
        width: 420px;
    }
    .section_Club_left {
        float: left;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .section_Club_Right{
        background: transparent;
        box-shadow: none;
        float: left;
        width: auto;
        padding: 0 15px;
    }
    .section_Club_left img {
        width: 300px;
    }
    .mall_Section_left h2 {
        font-size: 32px;
    }
    .mall_Section .section_Card_Right img {
        width: 310px;
        margin-left: 0;
    }
    .Statistics_Box{
        margin: 30px 13px;
    }

    .customar_Review_Container{
        height: auto;
    }
    .customar_Review_Content {
        height: auto;
    }
    .customar_Review_Content h4 {
        font-size: 30px;
    }
    .testimonial .description{
        font-size: 24px;
        line-height: 36px;
    }
    .testimonial .testimonial-title {
        font-size: 24px;
    }
    .testimonial {
        padding: 10px 0 80px 0;
        height: auto;
        position: relative;
    }
    .testimonial .pic {
        width: 270px;
        height: auto;
        margin: auto;
    }

    .section_deals_services {
        padding: 80px 0 0px;
    }
    #thumbnail-slider div.inner{
        padding: 0!important;
    }
    .text_heading_style{
        font-size: 35px;
    }
    .line{
        width: 64px;
    }
    #thumbnail-slider ul li{
        margin-left: -150px!important;
        margin-right: -150px!important;
        -webkit-transform: scale(0.6)!important;
        transform: scale(0.6)!important;
    }
    #thumbnail-slider ul li.active{
        -webkit-transform: scale(0.71)!important;
        transform: scale(0.71) !important;
    }
    .Map_container {
        width: 100%;
        height: 400px;
    }
    .Form_content {
        padding: 10px 20px 50px 20px;
        width: 100%;
    }
    .col-field {
        float: left;
        margin-right: 0px;
        width: 100%;
    }
    .col-field_Right {
        margin-right: 0px;
        width: 100%;
        float: left;
    }
    .form_container{
        padding: 40px 0 0;
        width: 100%;
    }
    .footer_logo_details{
        padding-right: 0px;
    }
    .footer_nav {
        width: 50%;
    }
    .footer-social-links{
        margin: 15px 10px 5px;
    }
    .address_div{
        margin-top: 30px;
    }
    .inner_header{
        height: 250px;
    }

    #add_icon{
        right: 10px;
        top: inherit;
        font-size: 15px;
        bottom: -12px;
    }
    .sub_option_text{
        margin-left: 0;
    }
    .custom-control-inline{
        margin-right: 0;
    }
    .remove_icon{
        right: 10px;
        top: -5px;
        font-size: 2.5rem;
    }
    .detail_product_right{
        margin-top: 30px;
    }

    .sidebar{
        width: 95%;
        float: none;
        margin: auto;
        padding-left: 15px;
    }
    .grid-list-view{
        width: 100%;
        margin: 20px 26px;
    }
    .single-product{
        width: 70%;
        margin: auto;  
    }
    .shipping_content .grid-list-view{
        width: 100%;
    }
    .shipping-content{
        width: 100%;
    }
    .cart-items-container{
        text-align: center;
    }
    .voucher_container {
        padding: 0;
    }
    .voucher_container .grid-list-view{
        margin: 0px;
    }
    .cart-items-form, .edit-items-form {
        text-align: left;
    }
    .od_info {
        text-align: left !important;
    }
}


@media (max-width: 475.98px) {

    .header .navbar-brand img {
        width: 200px;
    }
    .carousel-caption {
        display: none;
    }
    .intro_img img {
        width: 240px;
    }
    h2, .heading2{
        font-size: 28px;
    }
    .section_Card_Right img {
        width: 280px;
    }
    .section_Club_left img {
        width: 250px;
    }
    .mall_Section .section_Card_Right img {
        width: 250px;
        margin-left: 0;
    }
    .text_heading_style {
        font-size: 38px;
        text-decoration: underline;
    }
    .Map_container {
        height: 350px;
    }
    .line {
        display: none;
    }
    #thumbnail-slider ul li{
        -webkit-transform: scale(0.4) !important;
        transform: scale(0.4) !important;
    }
    #thumbnail-slider ul li.active {
        -webkit-transform: scale(0.51) !important;
        transform: scale(0.51) !important;
    }
    .footer_nav {
        width: 100%;
    }
    .copy_text{
        padding: 30px 15px;
    }

    .triangle {
        margin: -2px 10px 0 0;
    }
    .triangle img {
        width: 20px;
    }
    .inner_header{
        height: 200px;
    }

    .remove_icon{
        right: 10px;
        top: -5px;
        font-size: 2.5rem;
    }

    .detail_product_right{
        margin-top: 30px;
    }
    .product_container h2{
        font-size: 24px;
    }

    .add-to-box .btn-cart{
        margin-top: 18px;
        margin-left: 0;
    }
    .lSPager.lSGallery li {
        height: 50px !important;
    }

    .sidebar{
        width: 95%;
        float: none;
        margin: auto;
        padding-left: 15px;
    }
    .grid-list-view{
        width: 100%;
        margin: 20px 26px;
    }
    .single-product{
        width: 97%;
        margin: auto;  
    }

    .shipping_content .grid-list-view{
        width: 100%;
    }
    .shipping-content{
        width: 100%;
    }
    .cart-items-container{
        text-align: center;
    }
    .cart-items-form, .edit-items-form {
        text-align: left;
    }
    .login_btn02 {
        float: left;
        margin-top: 0;
        display: block;
    }
    .sub_heading {       
        float: left;
    }
    .od_info {
        text-align: left !important;
    }
}





/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */
#sidebarCollapse{
    position: absolute;
    top: -65px;
    left: 0px;
    background: #1d446d;
    border-color: #131C2E;
}
#sidebarCollapse i{
    position: relative;
    top: 1px;
}
#sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 3;
    background: #B60E0E;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 20px;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 28px;
    background: #B60E0E;
    width: 100%;
    float: left;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 4px 10px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000 !important;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #A11515;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100%;
    transition: all 0.3s;
    /*    position: absolute;*/
    position: relative;
    top: 0;
    right: 0;
}

