
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*HERE GOES TO FONT STYLE*/
@font-face {
    font-family: 'Gothambold';
    src: url('../fonts/gotham-bold-1361523260.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-bold-1361523260.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-bold-1361523260.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-bold-1361523260.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

@font-face {
    font-family: 'Gothammedium';
    src: url('../fonts/gotham-medium-1361523254_0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-medium-1361523254_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-medium-1361523254_0.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-medium-1361523254_0.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
}
/* button:focus, input:focus, optgroup:focus, select:focus, textarea:focus{
  outline: none !important;
} */
button:focus{
  outline: none !important;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  outline: none !important;
}
body{
    margin: 0;
    padding: 0;

}
.home_body{
    background: url("../images/hero_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}


.heading1{
    color: #fff;
    font-size: 57px;
    font-family: 'Gothambold';
    font-weight: normal;
    line-height: 72px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.heading2{
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 2.5px;
}




a{
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a.button1, .button1{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #27a1e1;
    padding: 12px 35px;
    display: inline-block;
    text-decoration: none;
    background: #27a1e1;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 3px;
    height: 51px;
    line-height: 25px;
}
a.button1:hover, .button1:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #27a1e1;
}




.header{
    width: 100%;
    float: left;

}
.header_bg{
    width: 100%;
    float: left;
    height:100vh;
}
.top_content{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
a.media_link{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 0 7px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #3fb9c0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    line-height: 45px;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
a.media_link:hover{
    color: #fff;
    background: #27a1e1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
a.facebook_icon{
    font-size: 22px;
}

.Social_media{
    float: right;
    margin-left: 30px;
    margin-top: 45px;
}

.text_container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    float: left;
}


.form_container{
    width: 100%;
    float: left;
    margin-top: 50px;
}

.input_container{
    width: 302px;
    height: 51px;
    display: inline-block;
    background: rgba(63,185,192,0.25);
    border: 0;
    margin: 0 15px;
}

.form-control{
    height: 51px;
    border-radius: 0;
    color: #fff !important;
    font-size: 20px;
    padding: 6px 25px;
    box-shadow: none;
/*    text-transform: uppercase;*/
    font-size: 16px;
    letter-spacing: 2px;
    background: transparent;
    border: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
}

textarea.form-control {
    padding: 15px 22px 0;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control::-moz-placeholder {
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder {
    color: #fff;
}




/*Registration page style*/

/*.s_message {
        color: #28c87b !important;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .e_message {
        color: #e73939 !important;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }*/
.s_message {
   background: #28c87b;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

.e_message {
    background: #e73939;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}
.s_message a {
    color: #FFFFFF !important;
}
.e_message a {
    color: #FFFFFF !important;
}
.CreatAccount_bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b7a5+19,3daaff+76 */
    background: rgb(23,106,144); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(23,106,144) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(23,106,144) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(23,106,144) 19%,rgba(17,84,120) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.heading {
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.Heading02 {
    font-family: 'Gothammedium';
    font-weight: 600;
    font-size: 19px;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.AccountContainer{
    width: 802px;
    margin:45px auto 220px;
    text-align: center;
    overflow: hidden;
}
.LogoContainer{
    margin-bottom: 40px;
    display: block;
}
.LogoContainer img{
    width: 150px;
}
.AccountContent{
    width: 100%;
    float: left;
}
.HeadingDiv{
    width: 100%;
    background: #192028;
    padding: 15px 0;
    font-family: 'Gothammedium';
    font-weight: 600;
}
.AccountformContent{
    padding: 35px 45px;
    width: 100%;
    float: left;
    background: #fff;
    text-align: left;
}
.container-form{
    width: 100%;
    float: left;

}
.full-col{
    width: 100%;
    float: left;
    margin-bottom: 23px;
}
.left-col{
    width: 47%;
    float: left;
    margin-bottom: 23px;
}
.right-col{
    width: 47%;
    float: right;
    margin-bottom: 23px;
}

.container-form .form-control {
    background-color: #fff;
    border: 2px solid #b4cbd6;
    border-radius: 0px;
    box-shadow: none;
    color: #6e6e6e !important;
    display: block;
    font-size: 18px;
/*    text-transform: capitalize;*/
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.42857;
    padding: 6px 12px 6px 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input[type="text"],input[type="password"],input[type="email"],textarea {
       -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.container-form .form-control:focus{
    color: #191c1f;
}

.container-form .form-control::-webkit-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control::-moz-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-ms-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-moz-placeholder {
    color: #6e6e6e;
}

.label-form{
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.symbolcolor{
    color: #21abe2;
    display: inline-block;
    margin-right: 5px;
}

.SelectContainer{
    width: 100%;
    float: left;
    margin-right: 37px;
}

.dropselect{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/Drop_arrow.png) center right no-repeat;
    cursor: pointer;
}
.dropselect option{
    text-transform: capitalize;
    color: #666 !important;
    background: #fff;
}

.submitbuttonContainer{
    display: block;
    margin-top: 27px;
}
.submitButton{
    background: #3EABF9;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    padding: 15px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: 100%;

    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.submitButton:hover{
    background: #248bd5;
}

.AdsContainer {
    padding: 0;
    margin: 0 0 30px;
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.Ph_Text {
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.Ads_Block {
    text-align: center;
    width: 223px;
    height: 300px;
    border: 2px solid #B8CAD8;
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    transition: all ease-in-out 0.3s;
}

.ActiveAd {
    margin-right: 20px;
    text-align: center;
    width: 223px;
    height: 300px;
    border: 2px solid #52B7A5 !important;
    position: relative;
    float: left;
    display: inline-block;
}
.Ads_Block:last-child{
    margin-right: 0px;
}

.CountPrice {
    display: block;
    color: #7d8f98;
    font-size: 16px;
    padding: 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}
.price_first_child{
    font-size: 20px;
    font-weight: 400;
}
.CountPrice_last{
    border-bottom:2px solid #ccc;
    width: 10px;
    height: 2px;
    margin: 30px auto 0;
    display: inline-block;
}
.CountLevel {
    display: block;
    background: #B8CAD8;
    text-transform: uppercase;
    font-size: 16px;
    color: #191919;
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.ActiveAd .CountLevel {
    background: #52B7A5;
    color: #fff;
}
.requiredText {
    display: block;
    float: left;
    text-align: center;
    width: 100%;
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.formFields input[type="checkbox"]:not(old), .formFields input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 28px;
    cursor: pointer !important;
}

.formFields input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -31px;
    cursor: pointer !important;
}
.formFields input[type="checkbox"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../images/checksBox.png") no-repeat scroll 0 0;
    color: #7d8f98;
    display: inline-block;
    font-weight: normal;
    line-height: 34px;
    padding-left: 43px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer !important;
}


input[type=radio   ]:not(old){
    width: 28px;
    margin    : 0;
    padding   : 0;
    font-size : 2em;
    opacity   : 0;
}

input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -20px;
    line-height  : 1.5em;
    font-size: 16px;
    cursor: pointer;
    color: #7d8f98;
}

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 1px solid #b4cbd6;
    border-radius    : 30px;
    /*  background       : rgb(224,224,224); */
    vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
    border           : 1px solid #b4cbd6;
    border-radius    : 30px;
}

input[type=radio]:not(old):checked +  label > span > span{
    display          : block;
    width            : 12px;
    height           : 12px;
    margin           : 3px;

    border-radius    : 30px;
    background       : #23C777;

}

.separator {
    border-bottom: 3px solid #52B7A5;
    display: block;
    width: 100%;
    float: left;
    margin: 25px 0;
}

.checkboxContainer {
    float: left;
    margin-left: -3px;
    margin-top: 5px;
}

.buttonSbmit {
    float: left;
    width: 100%;
}


.LoginContainer {
    width: 435px;
    margin: 83px auto 220px;
    text-align: center;
    overflow: hidden;
}
.LoginformContent {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 38px 30px 15px;
    text-align: left;
    width: 100%;
}
.loginfooter {
    background: #f3f5f7;
    padding: 24px 30px;
    float: left;
    width: 100%;
}
.loginfooterleft {
    float: left;
}
.loginfooter a {
    font-size: 14px;
    color: #7d8f98;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.loginfooterright {
    float: right;
}
.loginfooter a:hover{
    color: #52B7A5;
}
.packages_section{
    text-align: center;
}
a.popUptext{
    color: #7d8f98;
    text-decoration: none;
}
a.popUptext:hover{
    color: #52B7A5;
}

.username_validation img {
    vertical-align: top !important;
    width: 20px;
    height: 20px;
}

.username_validation a {
    text-decoration: none;
}

.username_error {
    color: #DF515F;
}

.username_success {
    color: #4CC874;
}




@media (min-width: 1600px) and (max-width: 3000px){
    .text_container{
        padding-top: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px){
    .container {
        width: 1030px;
    }
    .text_container{
        padding-top: 100px;
    }
    .navbar-brand > img {
        display: block;
        width: 150px;
    }
    .heading1{
        font-size: 50px;
    }
    .heading2{
        font-size: 24px;
    }
    a.media_link{
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }
    a.facebook_icon {
        font-size: 17px;
    }
    .form_container{
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);
    }
}
@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 991px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
    }
    .heading2{
        font-size: 21px;
    }
    .form_container {
        margin-top: 31px;
    }
    .AccountContainer {
        width: 700px;
    }
    .Ads_Block{
        width: 190px;
    }
    .ActiveAd{
        width: 190px;
    }
    .CountPrice{
        font-size: 18px;
    }
}

@media (min-width: 600px) and (max-width: 767px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }

    .AccountContainer {
        width: 580px;
    }
    .Ads_Block{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }
    .CountPrice_last{
        margin: 21px auto 12px;
    }
}

@media (min-width: 480px) and (max-width: 599px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
    }
    .navbar-brand > img {
        display: block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        margin-left: 30px;
        margin-top: 25px;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 36px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }


    /*   Registration page style */
    .AccountContainer {
        /* width: 450px; */
          width: 95%;
    }
    .AccountformContent {
        padding: 35px 28px;
    }
    .left-col{
        width: 100%;
    }
    .right-col{
        width: 100%;
    }
    .Ads_Block{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }

    .CountPrice_last{
        margin: 21px auto 12px;
    }
}

@media (min-width: 200px) and (max-width: 479px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
        text-align: center;
    }
    .navbar-brand {
        float: none;
        height: auto;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    .navbar-brand > img {
        display: inline-block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        float: none;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        display: block;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        word-break: inherit;
    }
    .heading2{
        font-size: 18px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }

    /*   Registration page style */
    .AccountContainer {
        width: 95%;
    }
    .formFields input[type="checkbox"]:not(old) + label {
      height: 34px;
    }
    .AccountformContent {
        padding: 35px 15px;
    }
    .left-col{
        width: 100%;
    }
    .right-col{
        width: 100%;
    }
    .Ads_Block{
        width: 173px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 173px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }
    .CountPrice{
        font-size: 18px;
    }
    .CountPrice_last{
        margin: 21px auto 12px;
    }
    .LoginContainer{
        width: 90%;
    }
    .loginfooterleft {
        float: none;
        display: block;
    }
    .loginfooterright {
        float: none;
        display: block;
    }
    .buttonSbmit {
        float: right;
        width: 100%;
    }

}
