
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'MuseoSans300';
    font-weight: 300;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('../fonts/MuseoSans 300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans 300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/MuseoSans 300.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/MuseoSans 300.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/MuseoSans 300.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
}
@font-face {
    font-family: 'MuseoSans700';
    src: url('../fonts/MuseoSans 700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans 700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/MuseoSans 700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/MuseoSans 700.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/MuseoSans 700.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/MuseoSans 700.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
}

a:focus, a:hover{
    color: inherit;
    text-decoration: none;
}
/* button:focus, input:focus, optgroup:focus, select:focus, textarea:focus{
  outline: none !important;
} */
/* button:focus{
  outline: none !important;
} */
button, html input[type=button], input[type=reset], input[type=submit] {
  outline: none !important;
}

.edit_photo_container {
    position: relative;
    width: auto;
    height: 155px;
    float: left;
    margin-right: 30px;
    margin-bottom: 54px;
    overflow: hidden;
}
.icon_delete_container {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.deleteIcon {
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
}
#CreatAccount_bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee8433+0,d7762c+49 */
    /*background: rgb(238,132,51);  Old browsers
    background: -moz-linear-gradient(left,  rgba(238,132,51,1) 0%, rgba(215,118,44,1) 49%);  FF3.6-15
    background: -webkit-linear-gradient(left,  rgba(238,132,51,1) 0%,rgba(215,118,44,1) 49%);  Chrome10-25,Safari5.1-6
    background: linear-gradient(to right,  rgba(238,132,51,1) 0%,rgba(215,118,44,1) 49%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8433', endColorstr='#d7762c',GradientType=1 );  IE6-9 */

    background: #4285F4;
}

.noPadding{
    padding-left: 0;
    padding-right: 0;
}
.heading{
    font-family: 'MuseoSans300';
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;

}
.Heading02{
   font-family: 'MuseoSans700';
    font-weight: 300;
    font-size: 19px;
    margin: 0;
    padding: 0;
     margin-bottom: 20px;
     text-transform: capitalize;
}
.Heading03{
   font-family: 'MuseoSans300';
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #191c1f;
    text-transform: capitalize;
}
.Heading04{
   font-family: 'MuseoSans700';
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    padding: 0;
    color: #191c1f;
}

.Heading05{
   font-family: 'MuseoSans700';
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 28px;
    color: #191c1f;
}
.Heading06{
   font-family: 'MuseoSans300';
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    margin: 8px 0 0 0;
    padding: 0;
    color: #191c1f;
    text-transform: capitalize;
}

.Heading07{
   font-family: 'MuseoSans700';
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #191c1f;
    text-transform: capitalize;
}

.Heading08{
    color: #192028;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.subheading{
    color: #72828a;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 15px;
    display: block;
}
.textitlic{
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}
.text01{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #7d8f98;
}


/*Button style*/
.buttoncontainer{
    float: right;
    width: auto;
}
.buttoncontainer02{
    width: 100%;
    float: left;
    background: #fff;
    padding: 30px 110px 30px 110px;

}

.buttoncontainer03{
    width: auto;
    float: right;
}

.Button01{
    background: #28c87b;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    padding: 14px 0 15px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.Button01:hover{
    background: #13a05c;
}

.Button02{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #98abb4;
    font-size: 14px;
    padding: 14px 40px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 2px solid #b4cbd6;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.Button02:hover{
    background: transparent;
     color: #98abb4;
    border: 2px solid #23C776;
}

.Button03{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #98abb4;
    font-size: 14px;
    padding: 10px 40px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 2px solid #b4cbd6;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.Button03:hover{
    background: transparent;
     color: #98abb4;
    border: 2px solid #23C776;
}


.Button04{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 1px solid #24c778;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button04:hover{
    background: transparent;
     color: #fff;
    border: 1px solid #23C776;
    text-decoration: none;
}

.Button05{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #4b6077;
    font-size: 14px;
    padding: 15px 30px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 1px solid #4b6077;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button05:hover{
    background: transparent;
     color: #fff;
    border: 1px solid #23C776;
    text-decoration: none;
}

.Button06{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #77909c;
    font-size: 14px;
    padding: 15px 30px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 2px solid #869ca7;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button06:hover{
    background: #CD6210;
     color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
}

.Button06back{
 border: 2px solid #b4cbd6;
 color: #98abb4;
}


.SaveButton{
    background: #28c87b;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    padding: 15px 30px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: auto;
    text-align: center;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.SaveButton:hover{
    background: #13a05c;
}


.Button07{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #98abb4;
    font-size: 14px;
    padding: 10px 35px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 160px;
    border: 2px solid #98abb4;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button07:hover{
    background: #CD6210;
     color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
}


.Button08{
    background: #24c778;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 0;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button08:hover{
    background: #13A05C;
     color: #fff;
    border: 0;
    text-decoration: none;
}


.Button09{
/*    background: #e77c37;*/
    background: #42a3F4;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
/*    border: 2px solid #e77c37;*/
    border: 2px solid #42a3F4;
    padding: 12px 35px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;

    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button09:hover{
    background: #fff;
/*    color: #e77c37;*/
    color: #42a3F4;
/*    border: 2px solid #e77c37;*/
    border: 2px solid #42a3F4;
    text-decoration: none;
}
.Button09:focus{
/*     color: #fb262d;*/
    color: #42a3F4;
}

.disabled {
    background-color: #fff;
    cursor: default !important;
    border: 2px solid #e77c37;
    color: #e77c37 !important;
}

.disabled:hover {
    background-color: #fff !important;
    cursor: default !important;
    border: 2px solid #e77c37;
    color: #e77c37 !important;
}


.Button10{
    background: #24c778;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 2px solid #24c778;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.Button10:hover{
    background: #869ca7;
     color: #fff;
    border: 2px solid #869ca7;
}

.Button11{
    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: auto;
    border: 1px solid #20a5f7;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.Button11:hover{
    background: transparent;
     color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}


.topButtonset{
    float: right;
    width: auto;
}
.buttonMargin{
    margin-left: 16px;
}
.AccountContainer{
    width: 802px;
    margin:83px auto 220px;
    text-align: center;
    overflow: hidden;
}
.LogoContainer{
    margin-bottom: 30px;
    display: block;

    font-family: 'MuseoSans300';
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    padding: 0;
}
.AccountContent{
    width: 100%;
    float: left;
}
.content_boxshadw{
    box-shadow: 0px 5px 8px rgba(24,24,25,0.2);
    width: 100%;
    float: left;
}
.HeadingDiv{
    width: 100%;
    background: #192028;
    padding: 15px 0;
}
.AccountformContent{
    padding: 35px 45px;
    width: 100%;
    float: left;
    background: #fff;
    text-align: left;
}
.container-form{
    width: 100%;
    float: left;

}
.full-col{
  width: 100%;
    float: left;
    margin-bottom: 23px;
}
.left-col{
    width: 47%;
    float: left;
    margin-bottom: 23px;
}
.right-col{
    width: 47%;
    float: right;
    margin-bottom: 23px;
}

.form-control {
    background-color: #fff;
    background-image: none;
/*    border: 2px solid #b4cbd6;*/
    border: 1px solid #b4cbd6;
    border-radius: 0px;
    box-shadow: none;
    color: #191c1f;
    display: block;
/*    font-size: 22px;*/
    font-size: 18px;
/*    height: 60px;*/
    height: 40px;
    line-height: 1.42857;
/*    padding: 6px 12px 6px 20px;*/
    padding: 0px 8px 0px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;

}
input[type="text"],input[type="password"],input[type="email"],textarea {
       -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="date"].form-control {
    padding: 8px 8px 8px 10px !important;
		width: 100% !important;
	-webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 line-height: 22px !important;
}

.form-control:focus{
    color: #191c1f;
}
.label-form{
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.label_hint {
    color: #7d8f98;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.symbolcolor{
    color: #21abe2;
    display: inline-block;
    margin-right: 5px;
}
.cardnumber{
    padding-left: 0;
     margin-bottom: 23px;
}
.cvvnumber{
    padding-right: 0;
     margin-bottom: 23px;
}
.SelectContainer{
    width: 44%;
    float: left;
    margin-right: 37px;
}
.yearSelect{
   margin-right: 0px;
}
.dropselect{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/Drop_arrow.png) center right no-repeat;
   cursor: pointer;
}
.dropselect option{
   text-transform: capitalize;
}
.submitbuttonContainer{
    display: block;
    margin-top: 27px;
}
.submitButton{
/*    background: #faa243;*/
    background: #42a3F4;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    padding: 15px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: 100%;

    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.submitButton:hover{
/*    background: #d7762c;*/
    background: #4294F4;
}
.input[type=button]:focus{
	outline: none!important;
}
input[type=submit]:focus{
	outline: none !important;
}

.requiredText{
     display: block;
    float: left;
    text-align: center;
    width: 100%;
    color: #7d8f98;
    font-size: 14px;
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

/*LoginPage style*/

.LoginContainer{
    width: 435px;
    margin:83px auto 220px;
    text-align: center;
/*    overflow: hidden;*/
}

.LoginformContent {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 38px 30px 15px;
    text-align: left;
    width: 100%;
}

.formFields input[type="checkbox"]:not(old), .formFields input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.formFields input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -31px;
}
.formFields input[type="checkbox"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../images/checksBox.png") no-repeat scroll 0 0;
    color: #7d8f98;
    display: inline-block;
    font-weight: normal;
    line-height: 34px;
    padding-left: 43px;
    font-size: 14px;
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}



.formFields input[type=radio   ]:not(old) + label{
    background: rgba(0, 0, 0, 0) url("../images/radio.png") no-repeat scroll 0 0 ;
    color: #7d8f98;
    display: inline-block;
    font-weight: normal;
    line-height: 32px;
    padding-left: 35px;
    font-size: 14px;
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;

}
.formFields input[type=radio]:not(old):checked + label{
  background-position : 0 -32px;
}

.form-group02 {
    margin-bottom:12px;
    width:100%;
    float:left;
}

.LoginformContent .form-control{
    color: #191c1f !important;
}
.checkboxContainer{
    float: left;
    margin-left: -3px;
    margin-top: 5px;
}
.buttonSbmit{
    float: right;
    width: 112px;
}

.buttonSbmit02{
    float: right;
    width: 212px;
}

.loginfooter{
    background: #f3f5f7;
    padding: 24px 30px;
    float: left;
    width: 100%;
}
.loginfooter a{
    font-size: 14px;
    color: #7d8f98;
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.loginfooterleft{
    float: left;
}
.loginfooterright{
    float: none;
}



nav.sidebar li a .fa-home-icon::before {
    background-image: url("../images/homeIcon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 23px;
}

nav.sidebar li a .fa-operators-icon::before {
    background-image: url("../images/operatorsIcon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 23px;
}
nav.sidebar li a:hover .fa-operators-icon::before{
   background-image: url("../images/hoveroperatorsIcon.png");
}


.fa-advertisers-icon::before {
    background-image: url("../images/advertisersIcon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 23px;
}
nav.sidebar li a:hover .fa-advertisers-icon::before{
   background-image: url("../images/hoveradvertisersIcon.png");
}
.fa-settings-icon::before {
    background-image: url("../images/settingsIcon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 23px;
    width: 23px;
}
nav.sidebar li a:hover .fa-settings-icon::before{
   background-image: url("../images/hoversettingsIcon.png");
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.settings-icon::before {
    background-image: url("../images/settingsIcon2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
    left: -2px;
    background-size: cover;
}
a.Button07:hover .settings-icon::before{
   background-image: url("../images/hoversettingsIcon.png");
}
.textbutton{
    position: relative;
    top: -1px;
}

/*AccountSettings*/
.Admin-bg{
   background-color: #2b2b2b;

}
.wrapper {
    min-height: 100%;
    overflow: hidden !important;
    position: relative;
}
.main-header {
    width: 100%;
    float: left;
    height: auto;
    /*padding: 0px 115px 0px 60px;*/
    position: relative;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee8433+0,d7762c+49 */
/*background: rgb(238,132,51);  Old browsers
background: -moz-linear-gradient(left,  rgba(238,132,51,1) 0%, rgba(215,118,44,1) 49%);  FF3.6-15
background: -webkit-linear-gradient(left,  rgba(238,132,51,1) 0%,rgba(215,118,44,1) 49%);  Chrome10-25,Safari5.1-6
background: linear-gradient(to right,  rgba(238,132,51,1) 0%,rgba(215,118,44,1) 49%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8433', endColorstr='#d7762c',GradientType=1 );  IE6-9 */

    /* background: #4285F4; */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b7a5+19,3daaff+76 */
/*	     background: rgb(82,183,165);  Old browsers 
	     background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(61,170,255,1) 76%);  FF3.6-15 
	     background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%);  Chrome10-25,Safari5.1-6 
	     background: linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
	     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 );  IE6-9 fallback on horizontal gradient */
    background-color: #B41515;         

}
.logo-lg{
    display: inline-block;
    padding: 14px 0;

    font-family: 'MuseoSans300';
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.logo-lg img {
    width: 180px;
}
.AccountProfile{
    float: right;
}
.profilePhoto{
    width: 46px;
    height: 46px;
    border: 2px solid white;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
}
.profilePhoto img{
    width: 100%;
    height: 46px;
}
.ProfileName{
   display: inline-block;
   color:#fff;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 13px 12px;
}
.acc-profile a{
    display: block;
}
.acc-profile .navbar-nav > li > a{
    padding-bottom: 12px;
    padding-top: 17px;
}
.acc-profile .open{

}
.acc-profile .nav > li > a:focus, .acc-profile .nav > li > a:hover{
/*    background-color: #cd6210;*/
    background: #2B2B2B;
}
.acc-profile .nav .open > a, .acc-profile .nav .open > a:focus, .acc-profile .nav .open > a:hover {
/*    background-color: #cd6210;*/
    border-color: #337ab7;

    background: #2B2B2B;
}




nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }


.report_images_container {
    float: left;
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 20px;
    border-top: 3px solid #ccc;
}

.report_image {
    text-align: center;
    float: left;
    width: 30%;
}

.report_image_container {
    float: left;
    width: 100%;
}

.report_image label {
    float: left;
    width: 100%;
    margin: 15px auto;
}

.fancybox img {
    border: 4px solid #ccc !important;
}

.err
{
    font-size: 16px;
    width:100%;
    color:#f00;
    font-weight: bold;
}

.suc
{
    font-size: 16px;
    text-align: center;
    color:#53A64C;
    font-weight: bold;

}

input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4cbd6;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #b4cbd6;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #b4cbd6;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #b4cbd6;
}

.no_padding_left {
   padding-left: 0 !important;
}

.no_padding_right {
    padding-right: 0 !important;
}

.company_name {
    width: 100%;
    float: left;
    font-size: 22px;
}

.slideImage {
    display: none;
}

.slideImage:first-child {
    display: inline-block;
}

.tt_slideImage {
    display: none;
}

.tt_slideImage:first-child {
    display: inline-block;
}
/*
.previous_button {
    position: relative;
top: 103px;
left: 10px;
}
.next_button {
    position: relative;
top: -117px;
left: 323px;
}*/
.slider_arrow {
    margin-top: -43px;
margin-bottom: 0px;
}


.slider_arrow li{
    list-style-type: none;
    display:inline;
}

.right{
    margin-left: 289px;
position: relative;
top: 108px;
}

.left{
    margin-left: -27px;
position: relative;
top: 108px;
}

.left_popup {
    margin-left: 5px;
position: relative;
top: 108px;
list-style: none;
}
.right_popup{
    margin-left: 230px;
position: relative;
top: 92px;
list-style: none;
}

.note {
    color: #7d8f98;
    margin-top: 5px;
    width: 100%;
    display: block;
}

.featured_radio{
    margin: 5px !important;
/*    opacity: 1 !important;*/
    padding: 0;
    position: absolute;
    width: 25px !important;
    height: 30px;
    cursor: pointer;
}

.featured_img {
    float: left;
    min-width: 15%;
    min-height: 120px;
    margin-right: 30px;
}

.img_options {
    float: left;
    width: 60%;
    height: 40px;
    margin: 15px;
}

.user-type {
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
    font-size: 16px;
}




 @media (min-width: 240px) {


    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    .navbar{
        border: none;
        border-radius: 0;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: white;
}

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 250px;
      height: 100%;
/*      margin-left: -200px;*/
      float: left;
      margin-bottom: 0px;
      background: #192028;
      padding-top: 70px;
      transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
    }



    nav.sidebar li {
      width: 100%;
    }
    nav.sidebar li a{
    display: block;
    padding: 12px 7px 12px 10px;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    }


  }


  @media (min-width: 1330px) {

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }


  }


  @media (max-width: 750px) {


.collapse {
    display: none;
}
.navbar-collapse{
	width: 100%;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
   padding-left: 15px;
    padding-right: 15px;
}
  }
   nav.sidebar ul{
        margin-left: 0px;

    }
    nav.sidebar li {
    position: relative;
    width: 100%;
}
  nav.sidebar li ul{
      margin-left: 35px;
      padding: 0;
      position: absolute;
      display: none;
  }
  nav.sidebar li ul li{
      list-style-type:circle;
      color: #fff;
  }
  nav.sidebar li ul a{
       padding: 2px 0px 2px 0px;
       color: #fff;
       font-size: 14px;
  }
  nav.sidebar li:hover ul {
display:block;
position: relative;
}


.right_col {
    margin-left: 250px;
    padding: 40px 115px 200px 110px;
    background: #f3f5f7;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
}
.right_col_report {
    padding: 40px 115px 200px 110px;
    background: #f3f5f7;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
}
.rightContent02{
     padding: 40px 0 30px;
}
.rightContent02Container{
     padding: 0 130px;
     width: 100%;
     float: left;
}
.rightContent02 .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.defaultcontainerMain{
    margin-top: 70px;
}

.Icon-list{
    margin-right: 12px;
    position: relative;
    top: 4px;
}
.Icon-list img{
    vertical-align: middle;
}

.contentHeader{
    border-bottom: 1px solid #cad7de;
    padding-bottom: 23px;
    float: left;
    width: 100%;
}


.pageheadingContainer{
    float: left;
}
.subtext{
    font-size: 17px; color: #72838b; float: left; margin-top: 10px; padding-right: 5px; text-transform: capitalize;
}
.text-edit{
    float: left; font-size: 14px; margin-left: 25px; margin-top: 12px;
}
.Iconheading{
    margin-right: 10px;
}
.Iconheading img{
    vertical-align: sub;
}
.rowContent{
    margin-top: 45px;
    float: left;
    width: 100%;
}
.rowFirstContent{
   margin-top: 35px;
}
.font_toppadding{
    padding-top: 23px;
}
.rowContentleft{
    padding-left: 0;
    width: 25%;
}
.rowContentrigtht{
 padding-right: 0;
 float: right;
 width: 72%;
}
.rightContainer{
    padding: 25px 30px;
    float: left;
    width: 100%;
    background: #fff;
    border-top: 5px solid #a7a7a7;
}
.chart_text{
    font-size: 16px;
    color: #191c1f;
    line-height: 19px;
    font-weight: 300;
    margin-top: 25px;
}
.AdsContainer{
    padding: 0;
    margin: 0 0 30px;
    width: 100%;
    float: left;
}
.Ph_Text{
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.ActiveAd{
   margin-left: 0px;
   text-align: center;
    width: 138px;
    height: 113px;
    border: 2px solid #49CB75;
    position: relative;
    padding-top: 12px;
    float: left;
}
.Ads_Block{
    text-align: center;
    width: 138px;
    height: 113px;
    border: 2px solid #B8CAD8;
    position: relative;
    padding-top: 12px;
    float: left;
    margin-left: 20px;
}
.CountAd{
    display: block;
    font-size: 22px;
    color: #191919;
}
.CountPrice{
   display: block;
    color: #7d8f98;
    font-size: 18px;
     margin: 7px 0;
}
.CountLevel{
   display: block;
   background: #B8CAD8;
   text-transform: uppercase;
   font-size: 14px;
   color: #191919;
   padding: 5px 0;
   position: absolute;
   bottom: 0;
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
}
.textCapitilize{
    text-transform: capitalize;
}
.ActiveAd .CountLevel{
    background:#49CB75;
    color: #fff;
}
.UploadLogoContainer{
    text-align: center;
    width: 410px;
    height: 233px;
    position: relative;
    border: 2px solid #b4cbd6;
    float: left;
}
.UploadLogoContainer img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uploadbutton{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 90px;
}
.colorChecker{
    width: 49px;
    height: 49px;
    border: 2px solid #b4cbd6;
}

.dropselect02{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/Drop_arrow02.png) center right no-repeat;
   cursor: pointer;
}
.dropselect option{
   text-transform: capitalize;
}
.cardInput{
    color: #191c1f;
    font-size: 22px;
    border: 0;
    width: 120px;
    margin-left: 20px;
}
.cardInput:focus{
    outline:none;
}
.editbuttonContainer{
    float: right;
    padding-top: 30px;
}
.editImg{
    vertical-align: sub;
}
.tablestyle{
    font-size: 17px;
    color: #72838b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.tablestyle tr th{
    font-size: 14px;
    color: #72838b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;

}
.tablestyle > thead > tr > th{
  border-bottom: 0;
  text-align: center;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > thead > tr > td, .table > thead > tr > th{

    border-bottom: 1px solid #b4cbd6;
}
.tablestyle > tbody > tr > td{
  padding: 10px 8px;
  text-align: center;
  vertical-align: middle;
}
.tableheading{
    width:100px;
}

.tablestyle > tbody > tr > td.chart_text{
    text-align: left;
    font-size:15px;
    border-bottom: 1px solid transparent;
}
.tablestyle > thead > tr > th{
    width:10%;
}
.tablestyle > thead > tr > th.chart_text{
    border-bottom: 1px solid transparent !important;
    width: 50%;
}

.data-table{
   border: 1px solid #b4cbd6;
   width: 100%;
}

.data-table > tbody > tr > td, .data-table > tbody > tr > th, .data-table > thead > tr > td, .data-table > thead > tr > th{

    border-bottom: 1px solid #b4cbd6;
}
.data-table > tbody > tr > td{
  padding: 5px 8px;
  text-align: left;
  vertical-align: middle;

}
.data-table > thead > tr > th{
     padding: 15px 8px;
  text-align: left;
  vertical-align: middle;

}

.pagination{
    text-align: center;
    width: 100%;
    margin: 40px 0;
}

.pagination strong, .pagination a{
    padding: 5px 8px;
    border:1px solid #b4cbd6;
    margin: 0 5px;
    color: #333;
}












.numberText{
    color: #b4cbd6;
    font-size: 30px;
    display: inline-block;
    float: left;
    margin-right: 35px;
    margin-top: 33px;
}
.photoIconcontaier{
    width: 80px;
    float: left;
    margin-right: 25px;
    margin-top: 4px;
}
.photouploadcontainer{
    width: 75%;
    float: left;
}
.nametextfield{
    width: 86%;
    float: left;
}
.RemoveIcon{
    border: 1px solid #b4cbd6;
    width: 47px;
    height: 47px;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
    margin-top: 27px;
}
.RemoveIcon a{
    display: block;
}
.RemoveIcon .fa-trash-o{
    color: #b4cbd6;
    line-height: 45px;
}
.lesspadding{
    padding: 0;
}
.fieldsBlock{
    border-bottom: 1px solid #b4cbd6;
    display: block;
    float: left;
    padding: 20px 30px 8px;
    width: 100%;
}

.AddFieldContainer{
    background: #192028;
    padding: 27px 30px 20px;
    float: left;
    width: 100%;
}
.textfieldContainer{
    width: auto;
    float: left;
}
.textaddfiled{
   font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    color: #7d8f98;
}
.settingsicon02{
    height: 20px;
    width: 20px;
    display: inline-block;
    top: -2px;
    left: 2px;
    position: relative;
}
.settingsicon02 img{
    width: 100%;
}
.Addfield_buttoncontainer{
    float: right;
}




.UploadLogoContainer02 {
    border: 2px solid #b4cbd6;
    float: left;
    height: 123px;
    position: relative;
    text-align: center;
    width: 190px;
}

.UploadLogoContainer02 img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 119px;
}

.HeadingContainer{
     float: left;
    width: 50%;
    padding-left: 48px;
    padding-top: 24px;
}
.textdate{
   font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #90a4ae;
    line-height: 28px;
}
.Stats{
    width: auto;
    padding-top: 24px;
    float: left;
}
.StatsContent{
     float: left;
    padding: 0 23px 8px 23px;
    text-align: center;
    width: auto;
     border-right: 1px solid #cad7de;
}
.StatsContent:last-of-type{
     border-right:none !important;
}

.linkContent{
    background: #EE332A;
    border-radius: 50px;
    height: auto;
    padding: 6px 30px;
    width: auto;
    float: left;
    clear: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 22px;
    margin-top: 8px;
}
.linkContent02{
    background: #47C971;
    border-radius: 50px;
    height: auto;
    padding: 6px 30px;
    width: auto;
    float: left;
    clear: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 22px;
    margin-top: 8px;
    display: none;
}
.Text02{
    display: inline-block;
    margin-right: 30px;
}
.TextBtn01{
    display: inline-block;
    margin-left: 20px;
}
.TextBtn01 a{
    color: #fff;
    text-transform: uppercase;
}

.rightcolHeadingToggle{
    float: right;
    width: 35%;
}
.rightcolHeadingToggle02{
    float: right;
    width: auto;
}

.Stats02{
    width: auto;
    padding-top: 0;
}
.Stats03 {
    float: left;
}
.StatsContent02{
     float: left;
    padding: 0 25px 8px 25px;
    text-align: center;
    width: auto;
     border-right: 1px solid #cad7de;
}



.StatsNumber{
    font-size: 50px;
/*    line-height: 59px;*/
    color: #96a9b3;
    display: block;
}
.StatsText{
    display: block;
    font-size: 13.61px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #90a4ae;
    line-height: 10px;
}
.Stats02 .StatsNumber{
    font-size: 37.32px;
}
.Stats02 .StatsText{
    font-size: 12px;
}
.Pricesymbol{
    display: inline-block;
    font-size: 30px;
    margin-top: 0;
    position: relative;
    top: -18px;
}
.rightbuttoncontnr{
     float: right;
    width: auto;
    margin-top: 15px;
     margin-right: 40px;
}
.ContainerList{
    padding-top: 47px;
    padding-left: 10px;
    float: left;
    width: 100%;
}

.ListDataContainer{
    padding-top: 30px;
    float: left;
    width: 100%;
}
.ListDataContainer h4{
    font-size: 24px;
    margin: 0 0 30px;
}
.ToggleContainer{
    background: #fff;
    float: left;
    margin-bottom: 45px;
}
.ToggleContainer02{
    width: 100%;
}
.AccountHeading{
    padding: 20px 15px 25px;
    width: 100%;
    float: left;
    background: #e5e5e5;
}
.photoRight{
    float: right;
    height: 84px;
    position: relative;
    text-align: right;
    width: 275px;
}

.photoRight img {
    height: 84px;
    max-width: 100%;
}
.textAd{
    color: #90a4ae;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    right: 0;
    display: block;
}
.pointNumber{
    width: 55px;
    height: 55px;
    background: #20a5f7;
    color: #fff;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    margin-top: 15px;
    float: left;
}
.lefttoggledetail{
    float: left;
    padding-left: 25px;
    padding-top: 20px;
}
.AccountDetailContent{
    width: 100%;
    float: left;
    padding: 25px 38px 35px 45px;
    background: #fff;
}
.seprater{
    border-bottom: 1px solid #b4cbd6;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.divcover{
    display: block;
    width: 75%;
}
.detailrow{
     width: 100%;
    float: left;
}
.AccountPhoto{
   width: 178px;
   height: 145px;
   border: 2px solid #b4cbd6;
   margin: 17px 0;
}
.AccountPhoto img{
    width: 100%;
    height: 141px;
}
.accountUpdate{
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.accountUpdate:after {
    content: "";
    background: rgba(25, 32, 40, 0.8) none repeat scroll 0 0;
    display: block;
    height: 100%;
    top: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 2;

}
.accountUpdate:hover:after {
    opacity: 1;
}
.iconcontainer{
    position: absolute;
    top: 32%;
    z-index: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.accountUpdate:hover .iconcontainer{
    display: block;
}
.uploadPhoto{
    text-align: center;
    position: relative;
    width: 43px;
  display: inline-block;
  margin-left: 30px;
  float: left;
}
.uploadPhoto:after{
    background: transparent none repeat scroll 0 0;
    color: #24c778;
    content: "/";
    display: block;
    font-size: 14px;
    height: 100%;
    opacity: 1;
    position: relative;
    right: -35px;
    text-align: center;
    top: -16px;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 3;
}
.uploadPhoto input{
    background: url(../images/uploadIcon.png) no-repeat center center;
    width: 43px;
    height: 54px;
    border: 0;
}

.buttonDelete{
    background: url(../images/DeletIcon.png) no-repeat center center;
    width: 39px;
    height: 53px;
    border: 0;
    display: inline-block;
}
.buttonDelete a{
    display: block;
    height: 100%;
}
.txtName{
    color: #72838b;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top:65px;
}

.UrlHolder{
    width: 55%;
    float: left;
}
.UrlHolder .full-col{
     margin-bottom: 0;
}
.DetailButtoncontainer{
   width: 100%;
    float: left;
    padding: 15px 28px 15px 27px;
    background: #F3F5F7;
}

.buttondetailLeft{
    text-align: left;
    float: left;
    width: auto;
}
.buttondetailRight{
    text-align: right;
    float: right;
    width: auto;
}

.deleteIcon::before {
    background-image: url("../images/deletecon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 19px;
    width: 18px;

}
.buttonpadding{
    display: inline-block;
    padding-left: 18px;
}

select.form-control option{
    color: #666;
    background: #fff;
}
.Adspotnewfield{
    width: 53%;
}










/* ***************************************************** */

.s_message {
   background: #28c87b;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

.e_message {
    background: #e73939;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

.s_msg{
    color: green;
    font-weight: bold;
}

.e_msg{
    color: red;
    font-weight: bold;
}

.active_color {
    color: #28c87b;
    font-weight: 600;
}

.inactive_color {
    color: #e73939;
    font-weight: 600;
}

.no-underline:hover {
    text-decoration: none !important;
}

.switch-to-up-arrow {
    background-image: url("../images/arrowdownIcon.png");
    height: 17px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
}

.switch-to-down-arrow {
    background-image: url("../images/arrowupIcon.png");
    height: 17px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
}

.ad-spots {
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
}

.ajax_loader {
    display: none;
}

.SelectContainer099 {
    width: 44%;
    float: left;
    margin-right: 35px;
}

.buttonSbmitMargin {
    display: inline-block;
    margin-left: 10px;
}

select.drop099 {
    background: transparent;
    color: #fff !important;
    border: 1px solid #23C776;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    padding: 15px 30px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 52px;
    background: url(../images/Drop_arrow02.png) center right no-repeat
}

.SelectContainer099 {
    width: 135px;
    margin-right: 5px;
}
.Accounttoggledrp099{
        width: 74%;
        float: right;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
}

.SelectContainer099 .drop099{
        background: url(../images/Drop_arrowwhite02.png) center right no-repeat;
}

.buttonToggle{
    display:inline-block;
    margin-left: 35px;
}


/********** Admin dashboard style ****************/


.AddLinkButton{
    background: #28c87b;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 14px;

    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 2px solid #28c87b;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.AddLinkButton:hover{
    background: #13a05c;
}
.AddLinkButton:after{
    content: "";
    background: url(../images/plusIcon.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    left: 32%;
}
.Selectbox{
    display: inline-block;
    margin-left: 30px;
    margin-top: 13px;
}
.SelectDropContainer{
    width: auto;
    display: inline-block;
}
.dropselect03 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/Drop_arrow03.png") no-repeat scroll right center;
    cursor: pointer;
    border: 0;
    width: 100%;
    font-size: 14px;
    color: #90a4ae;
    text-transform: capitalize;
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.linkbuttoncontainer{
    text-align: right;
    float: right;
}

.containerHeading{
    float: left; display: inline-block; padding-top: 10px;
}
.ContainerSearchBox{
    float: left; display: inline-block; padding-left: 15px;
}

.SearchBox input[type=search] {
	background: transparent url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 17px center;
	border: solid 2px #90a4ae;
	padding: 9px 10px 9px 32px;
	width: 55px;
	height: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
/*.SearchBox input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}*/


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}



/* Demo 2 */
.SearchBox input[type=search] {
	width: 55px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
.SearchBox input[type=search]:hover {
	background-color: #fff;
}
.SearchBox input[type=search]:focus {
/*	width: 430px;*/
        width: 100%;
	padding-left: 40px;
	color: #000;
        font-size: 16px;
	background-color: #fff;
	cursor: auto;
        outline: none;
}
.SearchBox input:-moz-placeholder {
	color: transparent;
}
.SearchBox input::-webkit-input-placeholder {
	color: transparent;
}


.BlockDiv{
float: left;
/*width: 370px;
margin-right: 30px;*/

 margin-right: 13px;
 margin-bottom: 40px;
 width: 316px;

background: #fff;
border-top: 5px solid #20a5f8;
-webkit-box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);
-moz-box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);
box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);
}
.BlockDivTop{
    background: #f7f9fa;
    padding:30px 22px;
    position: relative;
}
.BlockDivbottom{
    float: left;
    text-align: center;
    width: 100%;
    padding: 0 5px 30px;
}
.BlockDivbottom .StatsContent{
    text-align: center;
    width: 100px;
    float: none;
    display: inline-block;
}
.BlockButtoncontnr{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.Blockbutton{
    margin: 0 6px;
}
.buttonspace{
    padding: 8px 22px;
}
.ActiveIcon{
    position: absolute;
    right: 6%;
    top: 30%;
}
.textdate02{
    margin-left: 7px;
}

.fa-phtogroup-icon::before {
    background-image: url("../images/photogroupIcon02.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 16px;
    width: 21px;
}
.Blockbutton a:hover .fa-phtogroup-icon::before{
   background-image: url("../images/photogroupIcon02hover.png");
}

.fa-customers-icon::before {
    background-image: url("../images/IconCustomar.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 17px;
    width: 18px;
}
.Blockbutton a:hover .fa-customers-icon::before{
   background-image: url("../images/IconCustomarhover.png");
}
ul.AccountRow{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.AccountRow li{
    float: left;
    width: 100%;
    list-style: none;
    background: #fff;
    padding: 18px 15px;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);
-moz-box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);
box-shadow: 0px 0px 31px -14px rgba(200,201,202,0.38);

}
ul.AccountRow li:nth-child(odd){
  border-left: 5px solid #e44f4f;
}
ul.AccountRow li:nth-child(even){
  border-left: 5px solid #6dbc09;
}

/*ul.AccountRow li:before{
    width: 5px;
    height: 100%;
    background: #e44f4f;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}*/

ul.AccountRow .StatsContent {
    padding: 0 11px 8px;
}
ul.AccountRow .StatsContent:last-of-type{
    border-right: none !important;
}
ul.AccountRow li .StatsNumber{
    font-size: 38px;
}

ul.AccountRow li .StatsText{
   font-size: 10.61px;
}
ul.AccountRow li .Pricesymbol {
    font-size: 20px;
    top: -18px;
}
ul.AccountRow .Blockbutton {
    display: inline-block;
    margin: 0px 6px 0;
}


.NumberEmail{
    text-align: right;
}

.NumberEmail h2{
    font-size: 22px;
}

.largeviewRow{
    float: right;
    width: 40.333%;
    text-align: right;
}

.header {
    background-image: url("../images/bg.gif") !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
}

.headerSortUp {
    background-image: url("../images/asc.gif") !important;
}
.headerSortDown {
    background-image: url("../images/desc.gif") !important;
}

.tablesorter tr th {
    padding: 8px 20px 8px 5px !important;
}

.survey_intro {
    width: 100%;
    padding: 0 0 20px 0;
    text-align: left;
    font-size: 15px;
}

.employeePhoto {
    height: 300px;
    width: 300px;
    display: block;
    overflow: hidden;
}

.employeePhoto img {
    width: 100%;
}

/*** Checkin Report Style ***/

.content {
    margin-top: 25px;
}
.content_left {
    width:25%;
    min-height: 600px;
    float:left;
}
.content_right {
    width:75%;
    min-height: 600px;
    float:right;
}
.content_left_list {
    width:100%;
    height:600px;
    overflow-y: hidden;
    overflow-x: visible !important;
    position: relative;
    border: 1px solid #b4cbd6;
    border-right: none;
}
.content_left_list_items {
    min-height:40px;
    padding:8px 9px 6px 9px !important;
    cursor:pointer;
    line-height:22px;
    border-top:1px solid #b4cbd6;
    width:100%;
}
.content_left_list_items label {
    cursor:pointer;
}
.content_left_list_items:first-child {
    border-top:none !important;
}
#google_canvas {
    height: 600px;
    min-width: 700px;
    border:1px solid #b4cbd6;
}
.popup_map {
    height: 200px;
    width: 100%;
}
.tooltipContainer {
    width: 250px !important;
    height: 100% !important;
    display:block;
    float:left;
}
.image_container{
/*    width: 294px;
    height: 126px;*/
    width: 100%;
    position: relative;
}
.image_container img{
    width: 100%;
    height: 100%;
}
.text_container{
    text-align: center;
    color: #63686b;
    font-family: 'Raleway', sans-serif;
    padding: 20px 14px 15px 14px;
}
.checkin_details{
    width:100%;
    float:left;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.8px;
}
.width_container{
    width: 100%;
    float:left;
}
.width_container_hei{
    width: 149px;
    margin: 10px auto 0px auto;
    background-color: #ccd6dd;
    height: 1px;
}
.view_data_container{
    width: 100%;
    float: left;
    background: #00608a;
    text-align: center;
    padding: 19px 15px;
}
a.view_data{
    padding: 7px 25px;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    text-decoration: none;
}
/*a.view_data:hover{
    background: transparent;
    border: 2px solid #7086b7;
    color: #7086b7;
}*/
.download_icon {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: -25px;
    position: relative;
    margin-right: 1px;
    cursor: pointer;
}
.download_icon a:focus {
    outline: none;
}



.details_zipscities_section{
    width: 100%;
    float: left;
    padding: 3px 30px 99px 34px;
}
.details_top_markets{
    width:700px;
    height:auto;
    float:left;
    background-color:#ffffff;
}
.details_top_markets:nth-child(0n+2){
    margin-right: 0px;
}
.zipscities_header_section{
    width:100%;
    float:left;
/*    padding:18px 38px 16px 26px;*/
    padding:0 0 16px 0;
    border-bottom:1px solid #dadada;
}
.zipscities_content_section{
    width: 50%;
    float: left;
/*    padding: 24px 31px 27px 26px;*/
    padding: 24px 0 27px 0;
}
.zipscities_bottom_section{
    width:100%;
    float:left;
    background-color:#292c35;
    height:65px;
    text-align: center;
}
.zipscities_map_section {
    width:100%;
    float:left;
/*    padding:18px 38px 16px 26px;*/
    border:1px solid #dadada;
}
.zipcities_header_text{
    color:#2f3132;
    font-size:12px;
    font-family: 'Open Sans';
    font-weight: 700;
    float:left;
    text-transform:uppercase;
    letter-spacing: 1.2px;
}
.zipcities_header_icon{
    float:right;
}
.details_zip_bt {
    color: #c0c2c3;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 135px;
    border: 2px solid #8198cc;
    padding: 9px 0px;
    border-radius: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin: 13px auto 14px auto;

    display:inline-block;
}
.details_zip_bt a {
    color: #feffff;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
}
.details_zip_bt a:hover {
   text-decoration:none;
}
.details_content_parent{
    list-style:none;
    padding:0 25px 0 0;
}
.serial_number{
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 110px;
    float: left;
/*    border: 1px solid red;*/
}
.list_number{
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;

    padding-left: 15px;
    float: left;
    width: 180px;
/*    border: 1px solid red;*/
}
.list_text{
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 22px;
    width: 141px;
    float: left;
}
.list_percentage{
    color: #8198cc;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    float: left;
    padding-left: 14px;
}
.details_content_parent li{
    padding-bottom: 18px;
    float: left;
    width: 320px;
}
.list_text_outofmarket {
    color: #666b6e;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 22px;
    width: 212px;
    float: left;
}
.list_percentage_outofmarket {
    color: #8198cc;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    float: left;
    padding-left: 26px;
}




.gm-style-iw + div {display: none;}

.gm-style-iw {
    width: 250px !important;
    top: 14px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
.highlighted {
    background: #fff;
}
.button_panel {
    width: 100%;
    margin: o auto;
    text-align: center;
}
.mapIconLabel {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.code_text {
    outline: none;
    border: none;
    cursor: pointer;
}

.discount_code_item {
    cursor: pointer;
}

#ui-datepicker-div {
    z-index: 3 !important;
}

.schedule_part {
    width: 200px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.text_navi{
    display: none;
}

/* Email log styles */

.log_row {
       
}

tr.log_row td {
    height: 80px;
}

.delivered_dot {
    height: 10px;
    width: 10px;
    background-color: #28c87b;
    border-radius: 50%;
    display: inline-block;
}

.delivered {
    color: #28c87b;
    font-weight: bold;
}

.delivery_date {
    color: #8e8e8e;
    display: block;    
    padding-left: 14px;
}

.undelivered_dot {
    height: 10px;
    width: 10px;
    background-color: #8e8e8e;
    border-radius: 50%;
    display: inline-block;
}

.undelivered {
    color: #8e8e8e;
    font-weight: bold;
}

.to_email {
    font-weight: bold;
    color: #333;
}

.email_subject {
    color: #8e8e8e;
    display: block;    
}

.stat-box {    
    border: 1px solid #ccc;
    width: 140px;
    height: 120px;
    padding: 10px;
    border-radius: 4px;
}

.stat-header {
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ccc;
}

.stat-percentage {
    font-size: 28px;
    display: block;
    text-align: center;
    padding: 5px 0 0 0;    
}

.stat-number {
    display: block;
    text-align: center;
    font-size: 16px;
}

.stat-percentage1 {
    color: #276404; 
    font-size: 34px;
    padding: 15px 0 0 0;
}

.stat-percentage2 {
    color: #C4D933;    
}

.stat-percentage3 {
    color: #028690;    
}

.stat-percentage4 {
    color: #59C1CA;    
}

.stat-percentage5 {
    color: #C042BE;    
}

.stat-percentage6 {
    color: #FF748C;    
}

.chartContainer {
    width: 100%;
    min-height: 400px;
    border: 1px solid #ccc;  
}






/*Here Start Responsive Style*/

@media (min-width: 1901px){

 .Accounttoggledrp099 {
    float: right;
    width: 76%;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
    padding-top: 20px;
}
.SelectContainer099 {
    margin-right: 5px;
    width: 135px;
}

.rightcolHeadingToggle {
    float: right;
    width: 40%;
}
.rightcolHeadingToggle02{
    float: right;
    width: auto;
}
.Adspotnewfield {
    width: 35%;
}

.Stats02 {
    float: left;
}


.Selectbox {
    display: inline-block;
    margin-left: 130px;
    margin-top: 13px;
}
.BlockDiv{
    margin-right: 25px;
    width: 450px;
}
.BlockDivbottom .StatsContent {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100px;
    padding: 0 10px 8px;
}
.largeviewRow{
    float: right;
    width: 40.333%;
    text-align: right;
}


}


@media screen and (min-width: 1200px) and (max-width: 2400px){

    /*AccountSettingResponsive*/

    .right_col{
        padding: 40px 50px 200px 50px;
    }

    /*.main-header{
        padding: 0 50px 0 43px;
    }*/
    nav.sidebar ul {
    margin-left: 0px;
}
    .UploadLogoContainer{
         width: 390px;
    }
    .uploadbutton {
    width: 197px;
}
.cardInput{
    width: 110px;
}


.rightContent02 {
    padding: 40px 0 30px;
}

.rightContent02Container {
    float: left;
    padding: 0 70px;
    width: 100%;
}
.buttoncontainer02 {
    padding: 30px 70px;
    width: 100%;
}
.photouploadcontainer {
    float: left;
    width: 63%;
}
.nametextfield {
    float: left;
    width: 80%;
}


.StatsContent {
    padding: 0 12px 8px 12px;
}
.rightbuttoncontnr {
    margin-right: 0;
}
.HeadingContainer{
    padding-left: 37px;
}


.rightcolHeadingToggle {
    width: 58%;
}

.UrlHolder {
    float: left;
    width: 80%;
}

.Accounttoggledrp099 {
    float: right;
    width: 76%;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
     padding-top: 20px;
}
.rightcolHeadingToggle02 {
    width: auto;
}
.fisrtRow h2{
    padding: 0 10px;
}
}

@media screen and (min-width: 180px) and (max-width: 1199px){
    .data-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.data-table, .data-table thead, .data-table tbody, .data-table th, .data-table td, .data-table tr {
    display: block !important;
}

.data-table td{
    position: relative;
    padding-left: 42% !important;
    min-height: 40px;
}
.data-table td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
}
    .data-table td:nth-of-type(1)::before {
    /*    content: "#";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(2)::before {
    /*    content: "Company Info";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(3)::before {
    /*    content: "Contact";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(4)::before {
    /*    content: "Package";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(5)::before {
    /*    content: "Dates";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(6)::before {
    /*    content: "Login As";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(7)::before {
    /*    content: "View Activity";*/
        content: attr(data-before);
    }
    .data-table td:nth-of-type(8)::before {
    /*    content: "Edit";*/
        content: attr(data-before);
    }
    
    .data-table tbody tr{
        margin-bottom: 31px;
        border-bottom: 2px solid #b4cbd6;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1199px){

  /*AccountSettingResponsive*/
.ContainerList{
    padding-left: 0px;
}
.fisrtRow{
    padding: 20px 0px 10px 0 !important;
}

.fisrtRow h2{
    padding: 0 10px;
}
    .main-header{
/*    padding: 0 50px 0 43px;*/
    padding: 0;
    }
    nav.sidebar ul {
    margin-left: 0px;
}
nav.sidebar{
    width: 220px;
}

.right_col{
        padding: 40px 25px 200px 25px;
         margin-left: 220px;
    }
.rowContentleft {
    padding-left: 0;
    width: 100%;
}
.rowContentrigtht {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.subheading{
    margin-bottom: 20px;
}
.UploadLogoContainer{
         width: 390px;
    }
    .uploadbutton {
    width: 197px;
}
.cardInput{
    width: 110px;
}

.rightContent02 {
    padding: 40px 0 30px;
}
.rightContent02Container {
    padding: 0 35px;
}
.photouploadcontainer {
    width: 65%;
}
.nametextfield {
    width: 80%;
}


.txtName{
    margin-bottom: 40px;
    margin-top: 10px;
}
.UrlHolder {
    width: 100%;
}
.textfieldContainer02{
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.rightcolHeadingToggle {
    display: block;
    float: none;
    margin: 10px auto 0;
    overflow: hidden;
    width: 505px;
}

.BlockDiv{
    margin-right: 25px;
    width: 345px;
}
.BlockDivbottom .StatsContent{
    padding: 0 10px 8px;
}
.largeviewRow{
    margin-top: 0px;
}
ul.AccountRow .StatsContent {
    padding: 0 30px 8px;
}

.AddFieldContainer02{
    text-align: center;
}

.rightcolHeadingToggle02 {
    display: inline-block;
    float: none;
    overflow: visible;
    width: auto;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
}
.Ads_Block{
    margin-left: 28px;
}

.no_padding_left{
    padding-left: 15px;
}
.no_padding_right {
    padding-right: 15px;
}

.fisrtRowB1, .fisrtRowB2, .fisrtRowB3{
    margin-bottom: 25px;
}





}



@media screen and (min-width: 768px) and (max-width: 991px){
    
    
.wrapper{
       width: 1170px;
    }

 .ContainerList{
    padding-left: 0px;
}
.fisrtRow{
    padding: 20px 0px 10px 0 !important;
}   
  
.fisrtRow .col-md-6, .fisrtRow .col-md-4{
    padding-right: 0;
    padding-left: 0;
}

 .AccountContainer{
        width: 730px;
    }
.SelectContainer {
    margin-right: 35px;
}
.yearSelect {
    margin-right: 0;
}

/*AccountSettingResponsive*/

.menutext{
    display: none;
}

.main-header{
/*  padding: 0 23px 0 23px;*/
    padding: 0;
    }
    nav.sidebar ul {
    margin-left: 0px;
}
nav.sidebar{
    width: 210px;
}

.right_col{
        padding: 40px 25px 200px 25px;
         margin-left: 210px;
    }

    .rightContent02 {
    padding: 40px 0 30px;
}
.rightContent02Container {
    padding: 0 35px;
}
.rowContentleft {
    padding-left: 0;
    width: 100%;
}
.rowContentrigtht {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.subheading{
    margin-bottom: 20px;
}
.UploadLogoContainer{
         width: 370px;
    }
    .uploadbutton {
    width: 197px;
}
.cardInput{
    width: 110px;
}
.mb-col-left{
    width: 48%;
}



.rightContent02Container {
    padding: 0 10px;
}
.photouploadcontainer {
    width: 60%;
}
.nametextfield {
    width: 78%;
}
.buttoncontainer02 {
    padding: 30px 10px;
}


.leftMBdetail{
    margin: 0 auto;
    width: 350px;
}
.txtName{
    margin-bottom: 40px;
    margin-top: 10px;
}
.UrlHolder {
    width: 100%;
}
.photoRight {
    display: block;
    float: none;
    margin: 15px auto;
    position: relative;
    width: 350px;
}
.photoRight img{
    width: 100%;
}
.textfieldContainer02{
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.rightcolHeadingToggle {
    display: block;
    float: none;
    margin: 10px auto 0;
    overflow: hidden;
    width: 378px;
    text-align: center;
}
.Accounttoggledrp099 {
    width: 100%;
}
.SelectContainer {
    margin-right: 10px;
}
.Stats02 {
    display: inline-block;
    margin-bottom: 15px;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.StatsContent02{
    border-right: 0;
    border-bottom: 1px solid #cad7de;
    float: none;
    display: inline-block;
}
.Addfield_buttoncontainer {
    display: inline-block;
    float: none;
}

.buttonToggle{
    display:inline-block;
    margin-left: 35px;
}



.BlockDiv{
      margin-right: 15px;
    width: 316px;
}
.BlockDivbottom .StatsContent{
    padding: 0 10px 8px;
}
.largeviewRow{
    margin-top: 15px;
    width: 100%;
    text-align: left;
}
ul.AccountRow .StatsContent {
   padding: 0 20px 8px;
}

.AddFieldContainer02{
    text-align: center;
}

.rightcolHeadingToggle02 {
    display: inline-block;
    float: none;
    overflow: visible;
    width: auto;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
}
.Stats03 {
    float: left;
    width: auto ;
}
.Stats03 .StatsContent02 {
    border-bottom: 0;
    border-right: 1px solid #cad7de;
    display: inline-block;
    float: none;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
}

.ActiveAd{
    width: 123px;
}
.Ads_Block{
    width: 123px;
    margin-left: 25px;
}
ul.AccountRow .Blockbutton {
    display: inline-block;
    margin: 0;
}
.right_col_report {
    padding: 40px 55px 200px 55px;
}
.no_padding_left{
    padding-left: 15px;
}
.no_padding_right {
    padding-right: 15px;
}

.fisrtRowB1, .fisrtRowB2, .fisrtRowB3{
    margin-bottom: 25px;
}
.text_navi{
    display: none;
}


}



@media screen and (min-width: 501px) and (max-width: 767px){
.wrapper{
        width: 1170px;
    }
 .ContainerList{
    padding-left: 0px;
}
.fisrtRow{
    padding: 20px 0px 10px 0 !important;
}   
  
.fisrtRow .col-md-6, .fisrtRow .col-md-4{
    padding-right: 0;
    padding-left: 0;
}
    
    
  .AccountContainer{
        width: 500px;
    }
.SelectContainer {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.yearSelect {
    margin-right: 0;
}
.cardnumber {
    margin-bottom: 23px;
   padding-left: 0;
    padding-right: 0;
}

.cvvnumber {
    margin-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
}




/*AccountSettingResponsive*/

.menutext{
    display: none;
}

.main-header{
/*  padding: 0 23px 0 23px;*/
    padding: 0;
    }
    nav.sidebar ul {
    margin-left: 0px;
    margin-right: 0;
}
.header_left{
/*    width: 55%;*/
    width: auto;
    float: left;
}
.logo-lg{
    padding: 20px 0;
}
.acc-profile{
/*    width: 45%;*/
     width: auto;
    float: right;
    text-align: right;
}
.navbar-nav {
    margin: 0px -15px;
}
.acc-profile .navbar-nav > li > a{
    display: inline-block;
}
.navbar-nav .open .dropdown-menu {
    background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: none;
    margin-top: 0;
    position: absolute;
    width: auto;
}
.text-edit {
    display: block;
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
}
nav.sidebar{
    /* width: 55px; */
		width: 100%;
		padding-top: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-collapse{
    box-shadow: none;
}

.right_col{
        padding: 40px 25px 200px 25px;
         margin-left: 0;
    }

.rowContentleft {
    padding-left: 0;
    width: 100%;
}
.rowContentrigtht {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.subheading{
    margin-bottom: 20px;
}
.UploadLogoContainer{
         width: 390px;
    }
    .uploadbutton {
    width: 197px;
    margin-top: 25px;
}
.cardInput{
    width: 110px;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

}
.rightContainer .mb-col-left{
 width: 100%;
}
.editbuttonContainer {
    float: left;
    padding-top: 0;
}


.AccountProfile .navbar-nav {
    margin: 0 -15px;
}



.topButtonset {
    float: left;
    margin-top: 15px;
}

.buttonMargin {
    margin-left: 0;
    margin-right: 6px;
}
.rightContent02 {
    padding: 40px 0 30px;
}
.rightContent02Container {
    padding: 0 30px;
}
.photouploadcontainer {
    width: 46%;
}
.nametextfield {
    width: 71%;
}
.buttoncontainer02 {
    padding: 30px 10px;
}
.AddFieldContainer{
    text-align: center;
}
.textfieldContainer {
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.Addfield_buttoncontainer {
    display: inline-block;
    float: none;
}




.UploadLogoContainer02{
    float: none;
    margin: 0 auto;
}
.HeadingContainer{
    text-align: center;
    width: 100%;
    padding-left: 0;
}
.textfieldContainer02{
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.rightcolHeadingToggle {
    display: block;
    float: none;
    margin: 10px auto 0;
    overflow: hidden;
    width: 230px;
    text-align: center;
}
.Stats02 {
    display: inline-block;
    padding-top: 0;
    width: auto;
    margin-bottom: 15px;
}
.StatsContent02{
    border-right: 0;
    border-bottom: 1px solid #cad7de;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
}
.leftMBdetail {
    margin: 0 auto;
    width: 350px;
}
.photoRight {
    display: block;
    float: none;
    margin: 15px auto;
    position: relative;
    width: 350px;
}
.photoRight img {
    width: 100%;
}
.txtName {
    margin-bottom: 40px;
    margin-top: 10px;
}

.rightbuttoncontnrMb{
    width: 100%;
    float: left;
    text-align: center;
    margin-right: 0;
}
.MBheadng03{
    text-align: left;
}

.MBAddbuttonCustorm{
    text-align: center;
    margin-top: 15px;
}
.MBAddbuttonCustorm .buttoncontainer03{
   float: none;
}
.leftMBdetail {
    margin: 0 auto;
    overflow: hidden;
    width: 350px;
}
.DetailButtoncontainer{
    padding: 15px 10px 15px 12px;
}
.UrlHolder {
    float: left;
    width: 100%;
}
.divcover {
    display: block;
    width: 100%;
}



.BlockDiv{
      margin-right: 0px;
    width: 100%;
}
.BlockDivbottom .StatsContent{
    padding: 0 10px 8px;
    width: 115px;
}
ul.AccountRow li{
    text-align: left;
}
.largeviewRow{
    margin-top: 15px;
     text-align: left;
     width: 100%;
}

     ul.AccountRow .Blockbutton {
    display: inline-block;
    margin: 0 6px;
}
.MbContainerStats{
    width: 100%;
    float: left;

}
ul.AccountRow .StatsContent {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0 17px 8px;
    width: 100px;
}


.containerHeading{
    float: left;
    display: inline-block;
    padding-top: 10px;
}
.ContainerSearchBox{
    float: left; display: inline-block;
    padding-left: 0;
    padding-top: 10px;
}
.SearchBox input[type=search] {
	width: 260px;
}

.SearchBox input[type=search]:focus {
    width: 260px;
}
.Selectbox {
       margin-left: 0;
    margin-top: 20px;
}

.NumberEmail{
    text-align: center;
}


.AddFieldContainer02{
    text-align: center;
}

.rightcolHeadingToggle02 {
    display: inline-block;
    float: none;
    overflow: visible;
    width: auto;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
}
.Stats03 {
    float: left;
    width: auto ;
}
.Stats03 .StatsContent02 {
    border-bottom: 0;
    border-right: 1px solid #cad7de;
    display: inline-block;
    float: none;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
}



.AdsContainer{
    text-align: center;
}
.ActiveAd{
   display: inline-block;
    float: none;
   margin: 0 6px 15px;
}
.Ads_Block{
    display: inline-block;
    float: none;
    margin: 0 6px 15px;
}
.contentHeader .col-xs-12{
    width: 60%;
}
.right_col_report {
    padding: 40px 55px 200px 55px;
}

.no_padding_left{
    padding-left: 15px;
}
.no_padding_right {
    padding-right: 15px;
}


.fisrtRowB1, .fisrtRowB2, .fisrtRowB3{
    margin-bottom: 25px;
}

.text_navi{
    color: #fff;
    font-size: 18px;
    padding: 12px;
    display: inline-block;
}

}

@media screen and (min-width: 481px) and (max-width: 500px){
 .wrapper{
        width: 1170px;
    }
    
   .ContainerList{
    padding-left: 0px;
}
.fisrtRow{
    padding: 20px 0px 10px 0 !important;
}   
  
.fisrtRow .col-md-6, .fisrtRow .col-md-4{
    padding-right: 0;
    padding-left: 0;
}  
    
  .AccountContainer{
        width: 450px;
    }
.SelectContainer {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.yearSelect {
    margin-right: 0;
}
.cardnumber {
    margin-bottom: 23px;
   padding-left: 0;
    padding-right: 0;
}

.cvvnumber {
    margin-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
}

/*AccountSettingResponsive*/

.menutext{
    display: none;
}


.main-header{
        padding:0;
    }
    .header_left{
    width: auto;
    float: left;
}
.acc-profile{
    width: auto;
    float: right;
    text-align: right;
}
.acc-profile .navbar-nav > li > a{
    display: inline-block;
}
.navbar-nav {
    margin: 0px -15px;
}

.logo-lg{
    font-size: 24px;
    padding: 20px 0;

}

.logo-lg img{
    width: 134px;
}
    nav.sidebar ul {
    margin-left: 0px;
    margin-right: 0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: none;
    margin-top: 0;
    position: absolute;
    width: auto;
}
.text-edit {
    display: block;
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
}
nav.sidebar{
    width: 100%;
		padding-top: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-collapse{
    box-shadow: none;
		width: 100%;
}

.right_col{
        padding: 40px 25px 200px 25px;
         margin-left: 0;
    }
.rowContentleft {
    padding-left: 0;
    width: 100%;
}
.rowContentrigtht {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.subheading{
    margin-bottom: 20px;
}
.UploadLogoContainer{
         width: 280px;
    }
    .UploadLogoContainer img{
        width: 100%;
    }
    .uploadbutton {
    width: 197px;
    margin-top: 25px;
}
.cardInput{
    width: 110px;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.rightContainer .mb-col-left{
 width: 100%;
}
.editbuttonContainer {
    float: left;
    padding-top: 0;
}
.AccountProfile .navbar-nav {
    margin: 0 -15px;
}
.pageheadingContainer {
    float: left;
    margin-top: 12px;
}



.topButtonset {
    float: left;
    margin-top: 15px;
}

.buttonMargin {
    margin-left: 0;
    margin-right: 6px;
}
.rightContent02 {
    padding: 40px 0 30px;
}
.rightContent02Container {
    padding: 0 30px;
}
.photouploadcontainer {
    width: 43%;
}
.nametextfield {
    width: 69%;
}
.buttoncontainer02 {
    padding: 30px 10px;
}
.AddFieldContainer{
    text-align: center;
}


.textfieldContainer {
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.Addfield_buttoncontainer {
    display: inline-block;
    float: none;
}
.fieldsBlock{
    padding: 20px 10px 8px;
}
.numberText{
    margin-right: 15px;
}
.photoIconcontaier{
    margin-right: 10px;
}
.mb_btn_margin{
    display: block;
    margin-bottom: 10px;
}




.UploadLogoContainer02{
    float: none;
    margin: 0 auto;
}
.HeadingContainer{
    text-align: center;
    width: 100%;
    padding-left: 0;
}
.textfieldContainer02{
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.rightcolHeadingToggle {
   display: block;
    float: none;
    margin: 10px auto 0;
    overflow: hidden;
    width: 230px;
    text-align: center;
}
.Stats02 {
    display: inline-block;
    padding-top: 0;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;

}
.StatsContent02{
    border-right: 0;
    border-bottom: 1px solid #cad7de;
    float: none;
    display: inline-block;
}
.StatsContent {
    padding: 0 10px 8px;
}
.linkContent{
    padding: 6px 22px;
    margin-left: 4px;
}
.linkContent02{
    padding: 6px 22px;
    margin-left: 4px;
}
.Text02 {
    display: inline-block;
    margin-right: 10px;
}
.TextBtn01 {
    display: inline-block;
    margin-left: 11px;
}
.StatsNumber{
    font-size: 40px;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0px;
    margin-top: 15px;
}
.ToggleContainer{
    width: 100%;
}

.photoRight {
    display: block;
    float: left;
    margin: 15px auto;
    position: relative;
    width: 100%;
}

.photoRight img {
    width: 100%;
}
.txtName {
    margin-bottom: 40px;
    margin-top: 10px;
}

.rightbuttoncontnrMb{
    width: 100%;
    float: left;
    text-align: center;
    margin-right: 0;
}
.MBheadng03{
    text-align: left;
}

.MBAddbuttonCustorm{
    text-align: center;
    margin-top: 15px;
}
.MBAddbuttonCustorm .buttoncontainer03{
   float: none;
}
.leftMBdetail {
   width: 100%;
   float: left;
    text-align: center;
}
.pointNumber{
    float: none;
}
.DetailButtoncontainer{
    padding: 15px 10px 15px 12px;
}
.UrlHolder {
    float: left;
    width: 100%;
}
.divcover {
    display: block;
    width: 100%;
}
.buttondetailLeft {
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.buttondetailRight {
    float: left;
    text-align: center;
    width: 100%;
}
.buttonpadding {
    display: block;
    margin-bottom: 15px;
    padding-left: 0;
}




.BlockDiv{
      margin-right: 0px;
    width: 100%;
}
.BlockDivbottom .StatsContent{
    padding: 0 10px 8px;
    width: 115px;
}
ul.AccountRow li{
    text-align: left;
}
.largeviewRow{
     margin-top: 15px;
    text-align: left;
    width: 100%;
}
.MbContainerStats{
    width: 100%;
    float: left;

}
ul.AccountRow .StatsContent {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0 17px 8px;
    width: 100px;
}


.containerHeading{
    float: left;
    display: inline-block;
    padding-top: 10px;
}
.ContainerSearchBox{
    float: left; display: inline-block;
    padding-left: 0;
    padding-top: 10px;
}



.SearchBox input[type=search] {
	width: 260px;
}

.SearchBox input[type=search]:focus {
    width: 260px;
}
.Selectbox {
       margin-left: 0;
    margin-top: 20px;
}
.AddFieldContainer02{
    text-align: center;
}

.rightcolHeadingToggle02 {
    display: inline-block;
    float: none;
    overflow: visible;
    width: auto;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
}
.Stats03 {
    float: left;
    width: auto ;
}
.Stats03 .StatsContent02 {
    border-bottom: 0;
    border-right: 1px solid #cad7de;
    display: inline-block;
    float: none;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
}
.NumberEmail {
    text-align: center;
}


.AdsContainer{
    text-align: center;
}
.ActiveAd{
   display: inline-block;
    float: none;
   margin: 0 6px 15px;
}
.Ads_Block{
    display: inline-block;
    float: none;
    margin: 0 6px 15px;
}
.buttoncontainer{
    float: left;
    margin-top: 10px;
}
.right_col_report {
    padding: 40px 55px 200px 55px;
}

.no_padding_left{
    padding-left: 15px;
}
.no_padding_right {
    padding-right: 15px;
}

.fisrtRowB1, .fisrtRowB2, .fisrtRowB3{
    margin-bottom: 25px;
}
.text_navi{
    color: #fff;
    font-size: 18px;
    padding: 12px;
    display: inline-block;
}

}


@media screen and (min-width: 240px) and (max-width: 479px){
    .wrapper{
        width: 1170px;
    }
   
  .ContainerList{
    padding-left: 15px;
    padding-right: 15px;
}
.fisrtRow{
    padding: 20px 0px 10px 0 !important;
}   
  
.fisrtRow .col-md-6, .fisrtRow .col-md-4{
    padding-right: 0;
    padding-left: 0;
}   
    
/*.logo-lg {
    display: block;
    padding: 14px 0;
    text-align: center;
}*/
.AccountProfile .navbar-nav > li > a{
    padding: 14px 5px 15px 6px;
}
.logo-lg img{
    width: 124px;
}
.AccountContainer{
        width: 250px;

    }
    .AccountformContent {
    padding: 35px 18px;
}

    .left-col {
    width: 100%;
}
    .right-col {
    width: 100%;
}

.SelectContainer {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.yearSelect {
    margin-right: 0;
}
.cardnumber {
    margin-bottom: 23px;
   padding-left: 0;
    padding-right: 0;
}

.cvvnumber {
    margin-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
}




.LoginContainer {
    width: 280px;
}
.buttonSbmit {
    margin: 15px 0;
    width: 100%;
}
.loginfooterleft {
    float: none;
}
.loginfooterright {
    float: none;
}



/*AccountSettingResponsive*/

.pageheadingContainer {
    float: left;
    margin-top: 12px;
}
.Heading03{
    font-size: 27px;
}
.menutext{
    display: none;
}
.logo-lg{
    font-size: 24px;
    padding-bottom: 0px;
}
.text_navi{
    color: #fff;
    font-size: 18px;
    padding: 12px;
    display: inline-block;
}
.acc-profile .navbar-nav > li > a {
/*    padding-bottom: 8px;
    padding-top: 8px;*/
    padding: 8px 7px;
}
.main-header{
        padding: 0 4px 0 4px;
    }
    nav.sidebar ul {
    margin-left: 0px;
    margin-right: 0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: none;
    margin-top: 0;
    position: absolute;
    width: 100%;
}
.text-edit {
    display: block;
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
}
nav.sidebar{
      width: 100%;
			padding-top: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-collapse{
    box-shadow: none;
		  width: 100%;
}

.right_col{
        padding: 40px 0px 200px 0;
         margin-left: 0;
    }
    .rightContainer{
        padding: 35px 15px;
    }
.rowContentleft {
    padding-left: 0;
    width: 100%;
}
.rowContentrigtht {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.subheading{
    margin-bottom: 20px;
}
.UploadLogoContainer{
         width: 100%;
    }
    .UploadLogoContainer img{
        width: 100%;
    }
    .uploadbutton {
    width: 197px;
    margin-top: 25px;
}
.cardInput{
    width: 110px;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.rightContainer .mb-col-left{
 width: 100%;
}
.editbuttonContainer {
    float: left;
    padding-top: 0;
}
.AccountProfile .navbar-nav {
    margin: 0 -15px;
}



.topButtonset {
    float: left;
    margin-top: 15px;
}

.buttonMargin {
    margin-left: 0;
    margin-right: 6px;
}

.rightContent02Container {
    padding: 0 15px;
}
.photouploadcontainer {
    width: 73%;
}
.nametextfield {
    width: 58%;
}
.buttoncontainer02 {
    padding: 9px 10px;
}
.AddFieldContainer{
    text-align: center;
    padding: 27px 3px 20px;
}
.textfieldContainer {
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.Addfield_buttoncontainer {
    display: inline-block;
    float: none;
}
.fieldsBlock{
    padding: 20px 0px 8px;
}
.numberText{
    margin-right: 15px;
}
.photoIconcontaier{
    margin-right: 10px;
    width: 120px;
}
.mb_btn_margin{
    display: block;
    margin-bottom: 10px;
}
.RemoveIcon{
    margin-left: 5px;
}




.UploadLogoContainer02{
    float: none;
    margin: 0 auto;
}
.HeadingContainer{
    text-align: center;
    width: 100%;
    padding-left: 0;
}
.textfieldContainer02{
    text-align: center;
    float: none;
    margin-bottom: 20px;
}
.rightcolHeadingToggle {
    display: block;
    float: left;
    margin: 10px auto 0;
    text-align: center;
    width: 100%;
}
.Stats {
    float: left;
    padding-top: 24px;
    text-align: center;
    width: 100%;
}
.StatsContent {
    border-bottom: 1px solid #cad7de;
    border-right: 0 none;
    float: none;
    margin-bottom: 30px;
    padding: 0 10px 8px;
}
.Stats02 {
    display: inline-block;
    padding-top: 0;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;

}
.StatsContent02{
    border-right: 0;
    border-bottom: 1px solid #cad7de;
    float: none;
    display: inline-block;
}
.StatsNumber{
    font-size: 40px;
}
.linkContent{
    padding: 6px 22px;
    margin-left: 4px;
}
.linkContent02{
    padding: 6px 22px;
    margin-left: 4px;
}
.Text02 {
    display: inline-block;
    margin-right: 10px;
}
.TextBtn01 {
    display: inline-block;
    margin-left: 11px;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0px;
    margin-top: 15px;
}
.textaddfiled{
    font-size: 13px;
}
.lefttoggledetail{
     padding-left: 0;
}
.ToggleContainer{
    width: 100%;
}

.photoRight {
    display: block;
    float: left;
    margin: 15px auto;
    position: relative;
    width: 100%;
}

.photoRight img {
    width: 100%;
}
.txtName {
    margin-bottom: 40px;
    margin-top: 10px;
}

.rightbuttoncontnrMb{
    width: 100%;
    float: left;
    text-align: center;
    margin-right: 0;
}
.MBheadng03{
    text-align: left;
    font-size: 24px;
}

.MBAddbuttonCustorm{
    text-align: center;
    margin-top: 15px;
}
.MBAddbuttonCustorm .buttoncontainer03{
   float: none;
}
.leftMBdetail {
   width: 100%;
   float: left;
    text-align: center;
}
.pointNumber{
    float: none;
}
.DetailButtoncontainer{
    padding: 15px 10px 15px 12px;
}
.UrlHolder {
    float: left;
    width: 100%;
}
.divcover {
    display: block;
    width: 100%;
}
.buttondetailLeft {
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.buttondetailRight {
    float: left;
    text-align: center;
    width: 100%;
}
.buttonpadding {
    display: block;
    margin-bottom: 15px;
    padding-left: 0;
}
.AccountDetailContent {
    padding: 25px 21px 35px 20px;

}

.BlockDiv{
      margin-right: 0px;
    width: 100%;
    margin-bottom: 0;
}
.BlockDivbottom .StatsContent {
    margin: 15px auto;
    padding: 0 10px 8px;
    width: 115px;
    display: block;
}
.BlockDivbottom .StatsContent:last-of-type{
    border-bottom: 0;
}
ul.AccountRow li{
    text-align: left;
}
.largeviewRow{
    margin-top: 15px;
     text-align: left;
     width: 100%;
}
ul.AccountRow .Blockbutton {
    display: inline-block;
    margin: 0;
}
.MbContainerStats{
    width: 100%;
    float: left;

}
ul.AccountRow .StatsContent {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0 17px 8px;
    width: 100px;
}
.ListDataContainer{
    padding-top: 20px;
}
ul.AccountRow li::before {
    height: 5px;
    width: 100%;
}
ul.AccountRow .StatsContent:last-of-type{
    border-bottom: 0;
}


.containerHeading{
    float: left;
    display: inline-block;
    padding-top: 10px;
}
.contentHeaderMb{
   padding: 0 12px 0px;
   border-bottom: 0;
}
.ContainerSearchBox{
    float: left; display: inline-block;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}



.SearchBox input[type=search] {
	width: 240px;
}

.SearchBox input[type=search]:focus {
    width: 240px;
}
.Blockbutton {
    display: block;
    margin: 10px 6px;
}
.Selectbox {
       margin-left: 0;
    margin-top: 20px;
}

.AddFieldContainer02{
    text-align: center;
}

.rightcolHeadingToggle02 {
    display: inline-block;
    float: none;
    overflow: visible;
    width: auto;
}
.buttonToggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
}
.Stats03 {
    float: left;
    width: auto ;
}
.Stats03 .StatsContent02 {
    border-bottom: 0;
    border-right: 1px solid #cad7de;
    display: inline-block;
    float: none;
}
.Accounttoggledrp02 {
    float: right;
    width: 100px;
}
.NumberEmail {
    text-align: center;
}
.NumberEmail h2{
    font-size: 24px;
}



.AdsContainer{
    text-align: center;
}
.ActiveAd{
   display: inline-block;
    float: none;
   margin: 0 6px 15px;
}
.Ads_Block{
    display: inline-block;
    float: none;
    margin: 0 6px 15px;
}


.buttoncontainer {
    float: left;
    width: auto;
    margin-top: 10px;
}
#exit{
    padding: 7px 16px;
}
.ListDataContainer h4{
    margin: 30px 0;
}

.right_col_report {
    padding: 40px 0px 200px 0px;
}
 .no_padding_left{
    padding-left: 15px;
}
.no_padding_right {
    padding-right: 15px;
}
.CreatAccount_bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b7a5+19,3daaff+76 */
    background: rgb(82,183,165); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(61,170,255,1) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fisrtRowB1, .fisrtRowB2, .fisrtRowB3{
    margin-bottom: 25px;
}
.mobile_header{
    padding-right: 0;
    padding-left: 0;
}
.header_left{
    width: 130px;
    float: left;
    padding-right: 0;
    padding-left: 0;
}
.acc-profile{
     width: auto;
    float: right;
    padding-right: 0;
    padding-left: 0;
}
.acc-profile .navbar-nav {
    margin: 7.5px 0px;
}

.ProfileName{
    font-size: 13px;
    padding: 13px 4px;
}

.data-table{
    display: table;  width:100%; 
}
.data-table tr {    display: table;  width:100%;    }               
.data-table td {    display: table-row; }      

}

.full-col1 {
    width: 100%;
    float: left;
    margin-bottom: 23px;
    margin-left: 7px;
}
.full-col1 ul{
    list-style: none;
    padding: 0px;
}

.full-col1 ul li{
    width: 140px;
    float: left;
    margin-right: 27px;
}
.full-col1 ul li:last-child{
        margin-right: 0px;
}