/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;
    max-width:1140px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:60px 0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.7);
    transform:scale(0.7); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
    -webkit-box-shadow: 5px 15px 13px rgba(24,24,24,0.28);
-webkit-box-shadow: 1px 30px 33px rgba(24,24,24,0.28);
-moz-box-shadow: 1px 30px 33px rgba(24,24,24,0.28);
-ms-box-shadow: 1px 30px 33px rgba(24,24,24,0.28);
box-shadow: 1px 30px 33px rgba(24,24,24,0.28);
    
    
	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}



#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.13); 
    transform:scale(1.13); 
    /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
    
	/*-webkit-filter: initial;
	filter: initial;*/
        
   -webkit-box-shadow: 1px 20px 43px rgba(24,24,24,0.48); 
-webkit-box-shadow: 1px 20px 43px rgba(24,24,24,0.48); 
-moz-box-shadow: 1px 20px 43px rgba(24,24,24,0.48); 
-ms-box-shadow: 1px 20px 43px rgba(24,24,24,0.48); 
box-shadow: 1px 20px 43px rgba(24,24,24,0.48);    
}

#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:relative;
    font-size:0;
    cursor:inherit;
/*    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));*/
    transition:all linear 0.4s;
}




#thumbnail-slider ul li .text_name{
    display: none;
}

#thumbnail-slider ul li.active .text_name{
    top: -20px;
    left: inherit;
    width: 357px;
    height: 110%;
    background: #af1112;
    position: absolute;
    display: inline-block;
    right: 0;
    z-index: 2;
    padding: 30px;
    white-space: normal;
    text-align: left;
}


#thumbnail-slider ul li.active .text_name h4{
    font-size: 39px;
    line-height: 45px;
    color: #fff;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
}

#thumbnail-slider ul li.active .text_name p{
    display: block;
    width: 100%;
    float: left;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Neutraface2Text LightItalic';
    font-weight: 300;
    font-style: italic;
}
.line_2{
    width: 212px;
    height: 3px;
    border-bottom: 2px solid white;
    float: left;
    margin: 20px 0;
}


/*-- Start 3D --
    #thumbnail-slider .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }

    #thumbnail-slider .active .thumb {
        -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
        transform: translateX(0px) translateZ(0px) rotateY(0deg); 
    }

    #thumbnail-slider li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
    }
-- End 3D --

 --------- navigation controls -------    
 The nav id should be: slider id + ("-prev", "-next", and "-pause-play") 

#thumbnail-slider-pause-play {display:none;} .pause
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}*/

