@media screen and (min-width: 240px) and (max-width:479px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 30px;
}

.logo_wrapper a img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.user {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.user_name{
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submit_Btn {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/***********01-03-2020***************/

.riderAsideWrap{
	width: 266px !important;
}

.rider_wrap header h2 {
    font-size: 15px;
}

.rider_wrap .login_section_wrapper .dashboard_inner form input[type="text"] {
    width: 93% !important;
}

.sriderBtn {
    width: 93%;
    text-align: center;
}

.saved_place {
    margin: 15px 0 0 0;
}

.saved_place h1 {
    background: #4890b7;
    width: 93%;
    text-align: center;
}

.savePlace_listing {
    width: 100%;
    float: left !important;
    margin: 8px 0 0 0 !important;
    background: #0278b7;
    padding: 15px 0 2px 0 !important;
}

.savePlace_listing li {
    width: 25%;
}

#google_translate_element {
    top: 80vh;
}

.car_container {
    margin: 0 5px 0 0;
}

}

@media screen and (min-width: 480px) and (max-width:500px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.logo_wrapper a img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.user {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.user_name {
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submit_Btn {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/***********01-03-2020***************/

.riderAsideWrap{
	width: 266px !important;
}

.rider_wrap header h2 {
    font-size: 15px;
}

.rider_wrap .login_section_wrapper .dashboard_inner form input[type="text"] {
    width: 93% !important;
}

.sriderBtn {
    width: 93%;
    text-align: center;
}

.saved_place {
    margin: 15px 0 0 0;
}

.saved_place h1 {
    background: #4890b7;
    width: 93%;
    text-align: center;
}

.savePlace_listing {
    width: 100%;
    float: left !important;
    margin: 8px 0 0 0 !important;
    background: #0278b7;
}

.savePlace_listing li {
    width: 25%;
}

#google_translate_element {
    width: 100%;
    position: relative;
    top: 0;
}
}

@media screen and (min-width: 501px) and (max-width:769px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.logo_wrapper a img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.usr {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.user_name{
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submit_Btn {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/***********01-03-2020***************/

.riderAsideWrap{
	width: 266px !important;
}

.rider_wrap header h2 {
    font-size: 15px;
}

.rider_wrap .login_section_wrapper .dashboard_inner form input[type="text"] {
    width: 93% !important;
}

.sriderBtn {
    width: 93%;
    text-align: center;
}

.saved_place {
    margin: 15px 0 0 0;
}

.saved_place h1 {
    background: #4890b7;
    width: 93%;
    text-align: center;
}

.savePlace_listing {
    width: 100%;
    float: left !important;
    margin: 8px 0 0 0 !important;
    background: #0278b7;
}

.savePlace_listing li {
    width: 25%;
}

#google_translate_element {
    width: 100%;
    position: relative;
    top: 0;
}
}

@media screen and (min-width: 700px) and (max-width:899px){


}

@media screen and (min-width: 900px) and (max-width: 1200px){




}
/*******25/10/2019 new record*********/
.record_section_wrapper {
    width: 90%;
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 30px;
}
/* .cpmpleat_wrapper header {
    background: aliceblue;
} */
 .cpmpleat_wrapper aside {
    width: 305px;
    height: 100vh;
}


.request_group {
    width: 100%;
    height: auto;
}
.request_group {
    width: 100%;
    height: auto;
}
.request_group li {
    font-size: 12px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.group1_rgt{
    text-align: right;
    float: right;
}
.request_group1 li {
    font-size: 12px;
}

.circle {
   width: 10%!important;
}
.circle i {

    font-size: 14px;
    padding: 11px 11px;
}
}












@media screen and (min-width: 480px) and (max-width:500px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}
/* .cpmpleat_wrapper header {
    background: aliceblue;
} */

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.request_content {
    width: 100%;

}

.logo_wrapper a img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.user {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.user_name {
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submit_Btn {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}
/*******25/10/2019 new record*********/

.record_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.request_group li {

     margin-left: 0px;
}
.circle {
    width: 10%!important;
    position: absolute;
    padding-left: 5%;
 }
 .request_group li {
    font-size: 15px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.request_group1 li {
    font-size: 15px;
}





}

@media screen and (min-width: 501px) and (max-width:769px){
.rider_version_enter {
    position: relative;
    padding: 6px 6px;
	margin-top:50px;
}

.rider_version_enter a {
    font-size: 15px;
}

.rider_version_enter a img {
    width: 26px;
}

.login_section_wrapper {
    width: 80%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}

.logo_wrapper a img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.usr {
    padding: 8px 20px 8px 53px;
	margin-top:20px;
}

.user_name{
    background-size: 46px;
}

.pass {
    background-size: 46px;
}

.login_form-section {
    margin-top: 30px;
}

.submit_Btn {
    padding: 8px 0px 8px 0px;
	margin-top:20px;
}

/*******25/10/2019 new record*********/
.circle {
    width: 10%!important;
 }
 .request_group li {
    font-size: 17px;
    width: 40%;
}
.group_rgt {
    text-align: right;
    float: right;
    width: 40%!important;
}
.request_group1 li {
    font-size: 17px;
}
.request_group {

    height: 90px;
}

}

@media screen and (min-width: 700px) and (max-width:899px){


}

@media screen and (min-width: 900px) and (max-width: 1200px){




}
