@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
	width:100%;
	float:left;
	position:relative;
	overflow-x:hidden;
	font-family:Roboto !important;
}

.cpmpleat_wrapper{
	width:100%;
	float:left;
	height:auto;
}

.login_section_wrapper{
	width:60%;
	float:left;
	height:auto;
	margin-left:20%;
	margin-top:10px;
}

.logo_wrapper{
	width:100%;
	float:left;
	text-align:center;
}

.logo_wrapper a img{
	width:350px;
	height:auto;
}

.login_form-section {
	width:100%;
	float:left;
	margin-top:50px;
}

/******************** driver login styling ****************/

.user {
    width: 100%;
    float: left;
    height: auto;
    background: #115478;
    padding: 15px 20px 15px 70px;
    margin-top: 30px;
    border: 1px solid #115478;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    border-radius: 31px;
	outline:none;
	color:#fff;
}

.user::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.user_name {
    background: url(../images/user_icon.png);
    background-repeat: no-repeat;
    background-color: #115478;
    background-size: 60px;
}

.pass {
    background: url(../images/pass_icon.png);
    background-repeat: no-repeat;
    background-color: #115478;
    background-size: 60px;
}

.submit_Btn{
    width: 100%;
    float: left;
    height: auto;
    background: #dabd1a;
    padding: 15px 0px 15px 0px;
    margin-top: 30px;
    border: 1px solid #dabd1a;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    border-radius: 31px;
	outline:none;
	color:#000;
	text-align:center;
	text-transform:uppercase;
}

.register_wrap{
	width:100%;
	float:left;
	text-align:center;
	margin-top:50px;
}

.new_account{
	background:#ebebeb;
	border-radius:8px;
	color:#176a90;
	font-family:Roboto;
	font-size:17px;
	text-decoration:none;
	padding:14px 34px;
}

.Forget_pass{
	margin-top:30px;
	color:#176a90;
	font-family:Roboto;
	font-size:17px;
	text-decoration:underline;
	width:100%;
	float:left;
}

.rider_version_enter {
    width: 100%;
    float: left;
    background: #115478;
    position: relative;
    padding: 10px 20px;
    margin: 16px 0 0 0;
}

.rider_version_enter a{
	font-family:Roboto;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-weight:300;
}

.rider_version_enter a img{
	width:40px;
	height:auto;
	margin-left:30px;
}

/******************** driver registration 01 styling ****************/


.registration_section_wrapper{
	width:60%;
	float:left;
	height:auto;
	margin-left:20%;
	margin-top:10px;
}

    .registration_compleate_inner form .register_field {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 11px 16px;
    border-radius: 32px;
    border: 1px solid #929292;
    outline: none;
    margin: 0 0 14px 0;
	color:#333;
}

.registration_compleate_inner form .register_field::placeholder{
	color:#115478 !important;
	font-weight:300;
}

.registration_compleate_inner form .register_submit {
    width: 100%;
    float: left;
    background: #115478;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 11px 0;
    border-radius: 30px;
    margin: 5px 0 30px 0;
}

/******************** driver registration 02 styling ****************/

.drp_02_image{
	width:100%;
	float:left;
	margin:30px 0 0 0;
}

.drp_02_image span {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    background: #000;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/user_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.drp_02_image span img {
    height:100%;
	width:auto;
}

.drp_02_image name{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    margin: 10px 0 0 0;
    color: #176a90;
    font-weight: 300;
}

.drp_02_inputs{
	max-width: 700px;
	margin: 0 auto;
	display: block;
}

.drp_02_inputs_container {
    width: 100%;
    float: left;
    padding: 0 10px;
    margin: 0 0 55px 0;
}

.drp_02_inputs_container span{
    width: 100%;
    float: left;
	position:relative;
	margin: 0px 0 0 0;
}

.drp_02_inputs_container span section{
    width: 80px;
	height:80px;
	float:left;
	overflow:hidden;
}

.drp_02_inputs_container span section img{
    width: 100%;
}

.drp_02_inputs_container span p {
    width: 100%;
    float: left;
    color: #176a90;
    font-size: 19px;
    font-weight: 300;
    padding: 0 0 7px 0;
    border-bottom: 1px solid #176a90;
    margin: 13px 0;
}

.drp_02_inputs_container span label {
    width: 100%;
    float: left;
    background: #176a90;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
}

.drp_02_inputs_container span label input[type=file]{
	display:none;
}

.drp_02_wrap form .drp_02_submit{
    width: 100%;
    float: left;
    background: #176a90;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
	border:0;
	position:fixed;
	bottom:0;
	left:0;
	letter-spacing: 1.5px;
}

/******************** driver registration 03 styling ****************/

.registration_compleate_inner h2 {
    font-size: 30px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 21px 0px 23px 0;
    font-weight: 300;
    color: #176a90;
}

.registration_compleate_inner form label {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 11px 16px;
    border-radius: 32px;
    border: 1px solid #929292;
    outline: none;
    margin: 0 0 14px 0;
    color: #115478;
    font-weight: 300;
    /* background-image: url(../images/img_icon.png);
    background-position: right;
    background-repeat: no-repeat; */
    background-size: 42px;

}

/*.registration_compleate_inner form input[type=file]{
	display:none;
}*/

/***************driver home******************/

.full_page_map_wrap{
	width:100%;
	height:100vh;
	position:relative;
	transition:0.3s ease-in-out;
}

.active_full_page_map_wrap{
	margin-left:300px;
}

.full_page_map_wrap iframe{
	width:100%;
	height:100vh;
}

.cpmpleat_wrapper header{
	width:100%;
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
}

.header_inner {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.side_bar_btn {
	width: auto;
    float: left;

}

.side_bar_btn i {
    font-size: 25px;
}

.header_inner h2 {
    width: 100%;
    float: left;
    /* margin: 8px 0 0 0; */
    margin: -30px 0 0 25px;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 300;
    color: #176a90;
    text-align: center;
}

.cpmpleat_wrapper aside {
    width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 9991;
    top: 0;
    left: -400px;
    /* background: url(../images/side_bac.jpg);
	background-size:cover;
	background-position:right bottom; */
    transition:0.3s ease-in-out;
    background: #115478;
	overflow:auto;
}

.cpmpleat_wrapper aside::-webkit-scrollbar {
	width: 3px;
}

.active_aside {
	left:0 !important;
}

.nav_side_link {
    width: 100%;
    float: left;
    padding: 0;
    margin: 100px 0px 0 0px;
}

.nav_side_link li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
	position:relative;
}

.nav_side_link li a {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    padding: 0 0 20px;
    width: 100%;
    float: left;
    /* background: rgba(255, 255, 255, 0.2); */
    text-decoration:none;
    border-bottom: 1px solid #fff;
}

.nav_side_link li i {
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 15px;
    top: 14px;
    opacity: 0.7;
	transition:0.3s ease-in-out;
}

.rotateIcon{
	transform:rotate(90deg);
}

.swipe_to_open {
	width:20px;
	height:100vh;
	position:fixed;
	z-index:999;
	background:transparent;
	left:0;
	top:0;
}

.swipe_to_close {
	width:20px;
	height:100vh;
	position:fixed;
	z-index:999;
	background:transparent;
	right:0;
	top:0;
}

.toggleSuitch{
	width: auto;
	float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggleSuitch input:checked + .slider {
  background-color: #176a90;
}

.toggleSuitch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggleSuitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleSuitch b {
    float: right;
    margin: 2px 0px 0 8px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #176a90;
}

.subMenu {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    float: left;
	display:none;
}

.subMenu li a{
	background:none;
    padding: 3px 0 3px 46px;
}

/***************customer notification***************/

.customer_notification_message {
    width: 100%;
    float: left;
    padding: 0px 20px 0px 20px;
    background: #115478;
}

.customer_notification_container {
    width: 100%;
    float: left;
    height: 45vh;
    padding: 63px 0 0 0;
}

.customer_notification_container span{
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.customer_notification_container span img{
    width: 30%;
}

.customer_notification_container span p{
    width: 70%;
    float: right;
    font-size: 25px;
    padding: 2px 0 0 16px;
    margin: 11px 0 0 0;
    color: #fff;
    font-weight: 300;
}

.time_bar{
	width:100%;
	float:left;
	padding:20px 20px;
	background:#e7e7e7;
	color:#115478;
}

.time_bar span{
	max-width:400px;
	margin:0 auto;
	display:block;
}

.time_bar span p b{
	font-weight:300;
}

.time_bar span p{
	width:100%;
	float:left;
	margin:0;
	text-transform:capitalize;
	font-size:18px;
	font-weight:300;
}

.time_bar span p img {
    width: 20px;
    margin: 0 0 0 5px;
}

.address_bar{
	width:100%;
	float:left;
	padding:20px 20px;
}

.address_bar address{
	max-width:400px;
	margin:0 auto;
	display:block;
}

.address_bar address img{
	width:30%;
	float:left;
}

.address_bar p b {
    width: 100%;
    float: left;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 19px;
    margin: 0 0 7px 0;
    text-decoration: underline;
}

.address_bar p {
    width: 70%;
    float: left;
    padding: 10px 0 0 15px;
    font-size: 17px;
    font-weight: 300;
    color: #176a90;
}

.top_map_wrap{
	width:100%;
	float:left;
	height:50vh;
}

.top_map_wrap iframe{
	width:100%;
	height:100%;
}

.pick_details_wrap{
	width:100%;
	float:left;
	padding:15px 15px;
}

.pick_details_wrap p b{
	font-weight:400;
	text-transform:capitalize;
}

.pick_details_wrap p:last-child b{
	width:100%;
	float:left;
	margin:0 0 8px 0;
}

.pick_details_wrap p:last-child{
	border-bottom:0;
}

.pick_details_wrap p{
	width:100%;
	float:left;
	font-weight:300;
	font-size:17px;
	color:#176a90;
	margin:0;
	padding:10px 0;
	border-bottom:1px solid #ddd;
}

/*****************customer pickup**************/

.customer_pickup{
	width:100%;
	float:left;
}

.pick {
    width: 100%;
    float: left;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 17px;
    color: #176a90;
    font-weight: 300;
}

.pick b {
    border-right: 1px solid #333;
    padding: 0 13px 0 0px;
    margin: 0 8px 0 0px;
    font-weight: 500;
}

.confermation_tick {
    width: 100%;
    float: left;
    color: #176a90;
    text-align: center;
    font-size: 18px;
	font-weight: 300;
    margin: 19px 0 19px 0;
}

.confermation_tick img{
	width:25px;
}

.confirm_btn_grup{
	width: 100%;
	float: left;
	padding:15px 15px;
}

.confirm_btn_grup .c_btn_short:first-child{
	border-right: 2px solid #fff;
}

.confirm_btn_grup .c_btn_short{
	width: 50%;
	float: left;
	padding: 12px 5px;
	color: #fff;
	background: #0b3e5f;
	font-size: 17px;
	text-transform: capitalize;
	text-align:center;
}

.confirm_btn_grup .c_btn_short i {
    background: #dddddd;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #333;
    padding: 2px 0 0 0;
    border-radius: 100%;
}

.confirm_btn_grup .c_btn_long{
	width: 100%;
	float: left;
	padding: 15px 5px;
	color: #fff;
	background: #062847;
	font-size: 17px;
	text-transform: capitalize;
	text-align:center;
	margin:3px 0 0 0;
}

.sticky_header{
	width:100%;
	position:absolute;
	background: rgba(255, 255, 255, 0.8);
    padding: 8px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sticky_header p{
	width: 100%;
	float: left;
	margin:0;
	font-size:17px;
	color:#176a90;
	font-weight:300;
}

.sticky_header p span{
	width: 100%;
	float: left;
	margin:2px 0;
}

/*********driver complete trip************/

.cash_collect {
    width: 100%;
    float: left;
    color: #176a90;
    text-align: left;
    font-size: 18px;
	font-weight: 300;
    padding:12px 12px;
}

.cash_collect img{
	width:25px;
}

.complete_trip{
    width: 100%;
    float: left;
    color: #176a90;
    text-align: center;
    font-size: 18px;
	font-weight: 300;
    padding:12px 12px;
	margin:30px 0;
}

.complete_trip span{
    width: 100%;
    float: left;
	margin:0 0 10px 0;
}

.complete_trip span img{
	width:55px;
}

/***************rider rating***************/



.trip_complete {
    width: 100%;
    float: left;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 17px;
    color: #176a90;
    font-weight: 300;
	text-align:center;
}

.client_info{
	width:100%;
	float:left;
	margin:20px 0 5px 0;
}

.client_info span{
	width:100px;
	height:100px;
	display:block;
	margin:0 auto;
	overflow:hidden;
	border-radius:100%;
	text-align:center;
	background:#ccc;
}

.client_info span img{
	height:100%;
	width:auto;
}

.client_info name{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;
	color:#176a90;
	margin:10px 0 0 0;
}

.rating_star_wrap {
	width:100%;
	float:left;
	text-align:center;
	margin:12px 0;
	padding:12px 0 0 0;
	border-top:1px solid #ccc;
}

.clear-rating{
	display:none !important;
}

.rating_star_wrap b{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;
	text-transform:capitalize;
	font-weight:300;
	color:#176a90;
	margin:0 0 12px 0;
}

.rating_star_wrap a{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px;
	text-transform:capitalize;
	font-weight:300;
	color:#176a90;
	margin:5px 0 12px 0;
}

.payment_wrap {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 40%;
    position: relative;
}

.request {
    width: 100%;
    float: left;
    font-size: 17px;
    font-weight: 300;
    color: #176a90;
    text-decoration: underline;
    margin: 0 0 35px 0;
}

.amount {
    font-size: 20px;
    font-weight: 300;
    color: #176a90;
    border: 1px dashed #176a90;
    text-decoration: none;
    padding: 13px 40px;


}
.paypal_payment{
    width: 100%;
    float: left;
    text-align: center;
    /* position: relative; */
}
.paypal_payment img {
    width: 200px;
    margin-bottom: 40px;
}
.payment_submit{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 50px;

}
.s_btn{
    background:#ebebeb;
	border-radius:8px;
	color:#fff;
	font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
	text-decoration:none;
    padding:14px 65px;
    background: #176a90;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.payment_submit a{
    text-decoration: none!important;
    color: #fff!important;
}



/************************dashboard2********************/

.dashboard_inner h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    float: left;
    text-align:left;
    margin: 21px 0px 23px 0;
    font-weight: 400;
    color: #176a90;
}


.dashboard_inner form input.source {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 7px 16px;
    border-radius: 32px;
    border: 1px solid #929292;
    outline: none;
    font-family: Roboto;
    margin: 0 0 14px 0;
    color:#333;
    background-image: url(../images/s_icon.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
}

.dashboard_inner form input.source::placeholder{
	color:#115478 !important;
	font-weight:300;
}
.dashboard_inner form input.destination {
    width: 100%;
    float: left;
    font-size: 16px;
    font-family: Roboto;
    padding: 7px 16px;
    border-radius: 32px;
    border: 1px solid #929292;
    outline: none;
    margin: 0 0 14px 0;
    color:#333;
    background-image: url(../images/destination_icon.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
}

.dashboard_inner form input.destination::placeholder{
	color:#115478 !important;
	font-weight:300;
}


.saved_place h2{
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    float: left;
    text-align:left;
    /* margin: 40px 0px 20px 0; */
    margin: 8px 0px 10px 0;
    font-weight: 400;
    color: #176a90;
    text-decoration: underline;
}
.saved_place li{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    color: #176a90;
    padding-bottom: 12px;
}
.saved_place ol{
    margin: 0;
    padding: 15px;
}
.saved_place .place1{
float: left;
margin: 0 90px 0 0px;
}


/***************splash_screen******************/

.splash_screen{
    width:100%;
	float:left;
	height:100vh;
    background-image: url(../images/spalsh_bac.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}

/***************submit_rate_feedback**************/




.clear-rating{
	display:none !important;
}
.rate_star {
	width:100%;
	float:left;
	text-align:center;
	margin:12px 0;
	padding:12px 0 0 0;
}

.rate_star b{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;
	text-transform:capitalize;
	font-weight:300;
	color:#176a90;
	margin:20 0 12px 0;
}

.rate_star a{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px;
	font-weight:400;
	color:#176a90;
	margin:50px 0 12px 0;
}

.submit_content{
    width: 90%;
    height: auto;
    border: 1px dashed #858585;
    float: left;
     margin-left:5%;
    margin-top:10px;
    text-align: center;
    padding: 10px 5px 10px 5px;

}
.submit_content p{
    font-size:17px;
	font-weight:300;
    color:#176a90;
    font-family: Roboto;
}
.drp_03_submit{
    width: 100%;
    float: left;
    background: #176a90;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
	border:0;
	position:fixed;
	bottom:0;
	left:0;
	letter-spacing: 1.5px;
}


/*********************trip_screen***********************/

.fare_price {
    width: 100%;
    float: left;
    background: #0278b7;
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: Roboto;
}

.fare_price b{
    padding: 0 13px 0 0px;
    margin: 0 8px 0 0px;
    font-weight: 300;
}
.add_payment{
    width: 50%;
    height: auto;
    float: left;
    font-size:17px;
	font-weight:300;
    color:#176a90;
    font-family: Roboto;
}
.payment_group {
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #f1f1f1;
    padding: 15px 0 15px 0;
    margin-top: 0px;
}
.add_payment_paypal img{
    width: 120px;
}
.add_payment_paypal{
    float: right;
}

.confirm_btn_grup .payment_btn_long {
    width: 100%;
    float: left;
    padding: 15px 5px;
    color: #fff;
    background: #062847;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 3px 0 0 0;
    cursor: pointer;
    text-decoration: none !important;
}


/****************trip_confirm*************************/
.confirm_btn_grup .trip_btn_short:first-child{
	border-right: 2px solid #fff;
}

.confirm_btn_grup .trip_btn_short{
	width: 50%;
	float: left;
	padding: 12px 5px;
	color: #fff;
	background: #0b3e5f;
	font-size: 17px;
	text-transform: capitalize;
	text-align:center;
}

.confirm_btn_grup .trip_btn_short i {
    background: #dddddd;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #333;
    padding: 2px 0 0 0;
    border-radius: 100%;
}
.arriving_time{
    width: 100%;
    float: left;
    background: #f1f1f1;
    text-align: center;
     border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 17px;
    color: #176a90;
    font-weight: 300;

}
.arriving_time b{
    padding: 0 13px 0 0px;
    margin: 0 8px 0 0px;
    font-weight: 300;
}
.client_information{
	width:100%;
	float:left;
	margin:20px 0 5px 0;
}

.client_information .c_inform span{
	width:100px;
	height:100px;
	display:block;
	margin:0 auto;
	overflow:hidden;
	border-radius:100%;
	text-align:center;
	background:#ccc;
}

.client_information .c_inform span img{
	height:100%;
	width:auto;
}

.client_information name{
	width:100%;
	float:left;
	text-align:left;
	font-size:20px;
	color:#176a90;
	margin:10px 0 20px 0;
}
.client_information .c_inform{
width: 30%;
float: left;
}
.client_information .c_address{
    width: 70%;
    float: left;
}
.client_information .c_address b{
    font-size: 17px;
    font-weight: 400;
    color: #176a90
}
.client_information .c_address li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 10 80px 0 0;
}
.client_information .c_address ul{
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    color: #176a90;
}
.client_information .name_plate .plate{
    width: 100%;
    background: #205eb3;
    padding: 3px 8px;
    border: 5px double #fff ;
    color: #fff;
    border-radius: 5px;
}
.trip_payment {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 15%;
    position: relative;
}

.trip_request {
    width: 100%;
    float: left;
    font-size: 17px;
    font-weight: 300;
    color: #176a90;
    text-decoration: underline;
    margin: 0 0 5px 0;
}

.trip_amount {
    font-size: 20px;
    font-weight: 300;
    color: #176a90;
    text-decoration: none;
    padding: 13px 40px;

}

/**************profile*******************/

.nav_side_link img{
    width: 40px;;
}

.nav_side_link{
    width:90%;
	float:left;
	height:auto;
	margin-left:5%;
	margin-top:30px;
}
.nav_side_link ul{
    padding: 0;

}
.profile_image{
	width:100%;
	float:left;
	margin:30px 0 0 0;
}

.profile_image span {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    background: #000;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/user_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.profile_image span img {
    height:100%;
    /* width:auto; */
    width: 100%;
}

.profile_image name{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: 300;
}
.profile_image h5{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 17px;
    margin: -10px 0 10px 0;
    color: #fff;
    font-weight: 300;
}
.driver_app{
    width:90%;
	float:left;
	height:auto;
	margin-left:5%;
	margin-top: 15%;
}
.driver_app .Taxi2u_Driver_app {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 20px;
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: 300;
}
.header_profile_inner {
    width: 100%;
    float: left;
    padding: 12px 12px;
}
.header_profile_inner h2 {
    width: 100%;
    float: left;
    /* margin: 8px 0 0 0; */
    margin: -30px 0 0 35px;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 300;
    color: #176a90;
    text-align: center;
}

/*************25/10/2019 request_record*******************/
.request_content{
    width: 100%;
    height: 182px;
    border: 1px solid #858585;
    border-radius: 15px;
    margin-top: 30px;
}
.request_group{
    width: 100%;
    height: 80px;
    /* background: #115478; */
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #858585;
    padding: 10px 10px;
    float: left;
}
.request_group ul{
    padding: 0;
}
.request_group li {
    list-style: none;
    text-decoration: none;
    color: #000;
    display:inline-block;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    margin-left: 5px;
    word-break: break-all;
}
.request_group li a{
    list-style: none;
    text-decoration: none;
    color: #176a90;

}
 /* .circle{
    width: 40px;
    height: 40px;
    background: #115478;
    border-radius: 50px;
    text-align: center;
} */
.circle i{
    color: #ffffff;
    font-size: 16px;
    padding: 11px 11px;
    background: #115478;
    border-radius: 50px;
}
.group_rgt{
    text-align: right;
    float: right;
}
.group1_rgt{
    text-align: left;
    float: right;
}
.request_group1 ul{
    padding: 0;
}
.request_group1{
    width: 100%;
    height: 80px;
    /* background: #115478; */
    border-radius: 15px 15px 0px 0px;
    padding: 10px 10px;
    float: left;
}
.request_group1 li {
    list-style: none;
    text-decoration: none;
    color: #176a90;
    display:inline-block;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    margin-left: 6px;
}
.request_group1 li a{
    list-style: none;
    text-decoration: none;
    color: #176a90;

}
.group1_inner ul{
    padding: 0;
    margin-top: 5px;
}
.group1_inner li{
    display: block;
    margin: 0;
}
.record_section_wrapper h2{
    width: 100%;
    float: left;
    /* margin: 8px 0 0 0; */
     margin: -10px 0 0 25px;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 300;
    color: #176a90;
    text-align: center;
}
.to_rgt b{
float: right;
}

/********************** 30-12-2019 *******************/

.car_container {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 26px 0 0;
    text-align: center;
	transition: 0.3s ease-in-out;
}

.car_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
	transition: 0.3s ease-in-out;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: #eee;
    border-radius: 100%;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

.car_container:hover input ~ .checkmark {
  background-color: #ccc;
	transition: 0.3s ease-in-out;
}

.car_container input:checked ~ .checkmark {
  background-color: #2196F3;
	transition: 0.3s ease-in-out;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
	transition: 0.3s ease-in-out;
}

.car_container input:checked ~ .checkmark:after {
  display: block;
	transition: 0.3s ease-in-out;
}

.car_container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
	transition: 0.3s ease-in-out;
}

.car_container i {
    color: #062847;
    font-size: 29px;
    position: relative;
    z-index: 1;
    margin: 14px 0 0 0;
	transition: 0.3s ease-in-out;
}

.riderAsideWrap ul li a {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 0 0 !important;
    padding: 8px 0;
}

.riderAsideWrap ul li a i {
    position: relative;
    opacity: 1;
    top: -5px;
    left: 0;
    width: 30px;
    text-align: center;
    font-size: 17px;
    background: #ffffff;
    color: #115478;
    padding: 7px 0;
    float: left;
    margin: 0 11px 0 0px;
    border-radius: 4px;
}

.rider_wrap header {
    width: 100%;
    float: left;
    position: relative;
    background: #0278b7;
}

.rider_wrap header .side_bar_btn {
	width: 100%;
	float: left;
}

.rider_wrap header i {
    width: 36px;
    height: 36px;
    background: #fff;
    text-align: center;
    float: right;
    padding: 5px 0;
}

.rider_wrap header h2 {
    width: auto;
    float: left;
    color: #fff;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    margin: 8px 0 0 0;
}

#google_translate_element {
    width: 169px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 136px;
    background: #0278b7;
    padding: 11px 14px;
    z-index: 9;
}

.goog-te-gadget .goog-te-combo {
    margin: 0 0;
    background: #0278b7;
    border: 0;
    color: #fff;
    font-size: 17px;
    font-family: Roboto;
	outline: none;
}

.riderAsideWrap{
	z-index: 9999 !important;
}

.rider_wrap .login_section_wrapper{
	width: 100% !important;
	margin: 0 !important;
}

.rider_wrap .login_section_wrapper .dashboard_inner form input[type="text"] {
    width: 42% !important;
    float: left !important;
    padding: 11px 25px !important;
    border-radius: 0;
}

.sriderBtn {
    color: #fff !important;
    background: #0278b7;
    padding: 9px 30px;
    float: left;
    margin: 0 0 0 11px;
	cursor: pointer;
	text-decoration: none !important;
}

.saved_place{
	width: 100%;
	float: left;
}

.saved_place h1 {
    font-size: 21px;
    color: #fff;
    background: #0278b7;
    width: auto;
    float: left;
    margin: 0 0 0 13px;
    padding: 13px 27px;
}

.savePlace_listing {
    width: auto;
    float: left !important;
    padding: 14px 0 0px 0 !important;
}

.savePlace_listing li{
	list-style: none;
	float: left;
}

.savePlace_listing li a {
    box-shadow: none;
    color: #93cfef;
    background: #0278b7;
    padding: 14px 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0 !important;
    text-decoration: none;
}

.rider_wrap .login_section_wrapper{
	margin: 0 0 25px 0 !important;
}

.riderAsideWrap .profile_image name h5{
	text-align: left;
	font-family: Roboto;
}

.riderAsideWrap .profile_image name name{
	padding: 0;
}

.riderAsideWrap .profile_image name {
    text-align: left;
    padding: 0 0 0 21px;
}

.Wcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Wcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Wcontainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 0;
}

.Wcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.Wcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

.Wcontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.Wcontainer input:checked ~ .checkmark:after {
  display: block;
}

.Wcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wollet_contain {
    width: 100%;
    float: left;
    position: relative;
    padding: 0 17px;
    margin: 0;
    height: 40px;
}

#fare_price_box {
    width: 100%;
    float: left;
    padding: 0 51px;
    margin: -8px 0 -3px 0;
    font-size: 15px;
}

.W_logOut{
	width: 100%;
    float: left;
    padding: 15px 5px;
    color: #fff;
    background: #2a5c8a;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0 0 0;
}

/*******************01-04-2020***************/

.curencySelectWrap{
	width: 100%;
	float: left;
	padding: 0 20px;
}

.curency_main{
	max-width: 900px;
	margin: 0 auto;
}

.curency_main_inner{
	width: 100%;
	float: left;
	background: #fff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
	padding: 25px 20px;
	margin: 30px 0 0 0;
}

.curency_main_inner form{
	margin: 0;
	padding: 0;
}

.curency_main_inner select {
    width: 70%;
    float: left;
    padding: 12px 20px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #3394c7;
    outline: none;
    background: #3394c7;
    text-transform: capitalize;
}

.curency_main_inner input[type="submit"] {
    width: 30%;
    margin: 0 0 0 0px;
    text-align: center;
    border: 0;
    text-transform: capitalize;
    font-family: Roboto;
    font-size: 17px;
    color: #fff;
    background: #0278b7;
    padding: 12px 0;
	outline: none;
}

.table th, td {
    font-family: Roboto;
    font-size: 11px;
    padding: 9px 5px !important;
    font-weight: 600;
    color: #000;
    text-align: center;
    text-transform: capitalize;
}

.table-responsive{
	border: 0 !important;
}

.sucess {
    width: 100%;
    float: left;
}

.sucess p {
    width: 100%;
    float: left;
    text-align: center;
    margin: 14px 0 -4px 0;
    background: #23a521;
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    padding: 8px 0;
}

.rider_wrap aside ul li i.rotateIcon{
	transform: rotate(0deg) scale(1.3);
}

.refarelPopWrap{
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	display: none;
}

.refarelPopInner {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.refarelPopMain {
    width: 100%;
    min-height: 140px;
    float: left;
    background: #fff;
    padding: 13px 24px;
	position: relative;
}

.refarelPopMain form{
	width: 100%;
	float: left;
}

.refarelPopMain h2 {
    width: 100%;
    float: left;
    margin: 0px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: #313131;
    text-transform: capitalize;
}

.closePOp {
    float: right;
    font-size: 15px;
    color: #ff0000;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 25px;
    z-index: 999;
    border: 0;
    background: transparent;
    font-family: Roboto;
    font-weight: 600;
    padding: 0 0;
	outline: none;
}

.refarelPopMain input[type="email"] {
    width: 100%;
    font-size: 17px;
    text-align: center;
    border: 1px solid #777;
    padding: 9px 10px;
    margin: 15px 0 0 0;
	outline: none;
}

.refarelPopMain input[type="submit"] {
    width: 100%;
    font-size: 17px;
    text-align: center;
    border: 0;
    padding: 9px 10px;
    margin: 8px 0 0 0;
    outline: none;
    text-transform: capitalize;
    background: #09557d;
    color: #fff;
}

.fromTo {
    max-width: 300px;
    float: left;
}

.fromTo span{
	width: 100%;
	float: left;
	color: #fff;
	font-size: 12px;
}

.wollet_contain span {
	box-shadow: none !important;
}

.headMain{
    width: 100%;
    float: left;
	margin: 20px 0px -20px 0;
	text-align: center;
	font-family: roboto;
	font-size: 30px;
	text-transform: capitalize;
}


